Basic web services.json
[
    {
        "id": "04416e2d4d0afa55",
        "type": "tab",
        "label": "PBL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66a9774a6fab5acc",
        "type": "http in",
        "z": "04416e2d4d0afa55",
        "name": "",
        "url": "/mysite",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "72da866c0ad456f2"
            ]
        ]
    },
    {
        "id": "f7c55cb28c161070",
        "type": "http in",
        "z": "04416e2d4d0afa55",
        "name": "",
        "url": "/mysitepost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "766bd7ab42e24136",
                "1c793840bf7e660b"
            ]
        ]
    },
    {
        "id": "72da866c0ad456f2",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "name": "msg.url = \"mysitepost\";",
        "func": "msg.url = \"mysitepost\";\n\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "7c4b8f033bc398c4"
            ]
        ]
    },
    {
        "id": "766bd7ab42e24136",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 310,
        "y": 580,
        "wires": []
    },
    {
        "id": "b9eab66f7431f1b0",
        "type": "http response",
        "z": "04416e2d4d0afa55",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1960,
        "y": 380,
        "wires": []
    },
    {
        "id": "f8b8bd6a556aecac",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "8056160fdd400420"
            ]
        ]
    },
    {
        "id": "7c4b8f033bc398c4",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "plain",
        "template": "$(document).ready(function (e) {\n\n    $(\"form[ajax=true]\").submit(function (e) {\n\n        e.preventDefault();\n\n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n\n        $(\"#loadingimg\").show();\n\n        $.ajax({\n            url: form_url,\n            type: form_method,\n            data: form_data,\n            cache: false,\n            success: function (returnhtml) {\n                $(\"#result\").html(returnhtml);\n                $(\"#loadingimg\").hide();\n            }\n        });\n\n    });\n\n});",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "f8b8bd6a556aecac"
            ]
        ]
    },
    {
        "id": "06725a80c1c9626c",
        "type": "http response",
        "z": "04416e2d4d0afa55",
        "name": "",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "8056160fdd400420",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n<div>\n  {{{payload.users}}}\n</div>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"uname\">name</label>\n    <input type=\"text\" id=\"uname\" name=\"uname\">\n\n    <label for=\"secondName\">secondName</label>\n    <input type=\"text\" id=\"secondName\" name=\"secondName\">\n\n    <label for=\"gender\">gender</label>\n    <select id=\"gender\" name=\"gender\">\n      <option value=\"MALE\">MALE</option>\n      <option value=\"FEMALE\">FEMALE</option>\n    </select>\n\n    <label for=\"age\">age</label>\n    <input type=\"number\" id=\"age\" name=\"age\"></br>\n\n    <br>\n    <label for=\"height\">height</label>\n    <input type=\"number\" id=\"height\" name=\"height\">\n\n    <br>\n    <label for=\"username\">username</label>\n    <input type=\"text\" id=\"username\" name=\"username\">\n\n    <label for=\"email\">email</label>\n    <input type=\"text\" id=\"email\" name=\"email\">\n\n    <label for=\"userPass\">password</label>\n    <input type=\"password\" id=\"userPass\" name=\"userPass\">\n\n    <br>\n    <label for=\"activity\">activity</label>\n    <select id=\"activity\" name=\"activity\">\n      <option value=\"1-2\">1-2</option>\n      <option value=\"3-4\">3-4</option>\n      <option value=\"5-6\">5-6</option>\n      <option value=\"7\">7</option>\n    </select>\n\n    <label for=\"premium\">premium</label>\n    <input type=\"text\" id=\"premium\" name=\"premium\">\n\n    <br>\n    <label for=\"objective\">objective</label>\n    <select id=\"objective\" name=\"objective\">\n      <option value=\"Lose weight\">Lose weight</option>\n      <option value=\"Gain weight\">Gain weight</option>\n      <option value=\"Keep fit\">Keep fit</option>\n    </select>\n\n    <label for=\"neck\">neck</label>\n    <input type=\"number\" id=\"neck\" name=\"neck\">\n\n    <label for=\"waist\">waist</label>\n    <input type=\"number\" id=\"waist\" name=\"waist\">\n    \n    <label for=\"hips\">hips</label>\n    <input type=\"number\" id=\"hips\" name=\"hips\">\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "06725a80c1c9626c",
                "50012779a348fcba"
            ]
        ]
    },
    {
        "id": "55cabef3badfba24",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Login Form",
        "info": "",
        "x": 310,
        "y": 240,
        "wires": []
    },
    {
        "id": "6872643470b7f5ad",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Inject msg object properties",
        "info": "",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "278a5f51674a154d",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Website GET and POST",
        "info": "",
        "x": 150,
        "y": 100,
        "wires": []
    },
    {
        "id": "61539e4649042a26",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Website POST",
        "info": "",
        "x": 120,
        "y": 380,
        "wires": []
    },
    {
        "id": "a4cf16b7c7675d07",
        "type": "http request",
        "z": "04416e2d4d0afa55",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/add",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 440,
        "wires": [
            [
                "73b7e398bd6d428c",
                "3accf1730a96091e"
            ]
        ]
    },
    {
        "id": "abe89c536b3dc11d",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 440,
        "wires": [
            [
                "a4cf16b7c7675d07"
            ]
        ]
    },
    {
        "id": "1c793840bf7e660b",
        "type": "change",
        "z": "04416e2d4d0afa55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "abe89c536b3dc11d",
                "ceab461dded638bc"
            ]
        ]
    },
    {
        "id": "ceab461dded638bc",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "user",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "50012779a348fcba",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mysitepost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 696.2000122070312,
        "y": 206,
        "wires": []
    },
    {
        "id": "73b7e398bd6d428c",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 540,
        "wires": []
    },
    {
        "id": "3accf1730a96091e",
        "type": "switch",
        "z": "04416e2d4d0afa55",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 440,
        "wires": [
            [
                "4b9bd3590f457ea4"
            ],
            [
                "9ed0801c00f5741d"
            ]
        ]
    },
    {
        "id": "e48c6327f01130a5",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 340,
        "wires": []
    },
    {
        "id": "3e72df3312399004",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 560,
        "wires": []
    },
    {
        "id": "4b9bd3590f457ea4",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "name": "function 24",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 380,
        "wires": [
            [
                "e48c6327f01130a5",
                "b9eab66f7431f1b0"
            ]
        ]
    },
    {
        "id": "194696775a81a557",
        "type": "http in",
        "z": "04416e2d4d0afa55",
        "name": "",
        "url": "/mysitelist",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "8fcfb9209f1554b6",
                "5764f182fc2fc68f"
            ]
        ]
    },
    {
        "id": "1a59feb0c2990a59",
        "type": "http in",
        "z": "04416e2d4d0afa55",
        "name": "",
        "url": "/mysiteput",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "7419ef116799789c",
                "b688e534d75c0633"
            ]
        ]
    },
    {
        "id": "8fcfb9209f1554b6",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "name": "msg.url = \"mysiteput\";",
        "func": "msg.url = \"mysiteput\";\n\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            [
                "618c543aebd19b27"
            ]
        ]
    },
    {
        "id": "7419ef116799789c",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 310,
        "y": 1140,
        "wires": []
    },
    {
        "id": "e6aefa4af6e775bc",
        "type": "http response",
        "z": "04416e2d4d0afa55",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1910,
        "y": 980,
        "wires": []
    },
    {
        "id": "e0322e7cfd06f7ca",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}",
        "x": 620,
        "y": 840,
        "wires": [
            [
                "109fa1aad0abcc1e"
            ]
        ]
    },
    {
        "id": "618c543aebd19b27",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "plain",
        "template": "$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});",
        "x": 460,
        "y": 840,
        "wires": [
            [
                "e0322e7cfd06f7ca"
            ]
        ]
    },
    {
        "id": "0940728adfd4c17e",
        "type": "http response",
        "z": "04416e2d4d0afa55",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 930,
        "y": 840,
        "wires": []
    },
    {
        "id": "109fa1aad0abcc1e",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n<div>\n  <h1>POST EIN ETA GERO</h1>\n</div>\n\n<div>\n  <form method=\"put\" action=\"/{{url}}\" ajax=\"true\">\n    <p>PUT</p>\n    <label for=\"name\">name</label>\n    <input type=\"text\" id=\"name\" name=\"name\">\n\n    <label for=\"secondName\">secondName</label>\n    <input type=\"text\" id=\"secondName\" name=\"secondName\">\n\n    <label for=\"username\">username</label>\n    <select id=\"username\" name=\"username\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>",
        "x": 760,
        "y": 840,
        "wires": [
            [
                "0940728adfd4c17e",
                "3a3a5b15deb8f22d"
            ]
        ]
    },
    {
        "id": "87a22b0e9e1c596b",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Login Form",
        "info": "",
        "x": 420,
        "y": 800,
        "wires": []
    },
    {
        "id": "cd6255ac8c89472e",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Inject msg object properties",
        "info": "",
        "x": 430,
        "y": 700,
        "wires": []
    },
    {
        "id": "9937a08fa44a439e",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Website PUT",
        "info": "",
        "x": 110,
        "y": 660,
        "wires": []
    },
    {
        "id": "8ee136d869ddaf18",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Form Submission",
        "info": "",
        "x": 230,
        "y": 880,
        "wires": []
    },
    {
        "id": "dcce506a0378d2be",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "name": "change username",
        "func": "msg.payload.username = msg.newUsername;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 980,
        "wires": [
            [
                "7cba897a6657c4da"
            ]
        ]
    },
    {
        "id": "457ce63957f90c83",
        "type": "http request",
        "z": "04416e2d4d0afa55",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1550,
        "y": 980,
        "wires": [
            [
                "755e39334621c51a"
            ]
        ]
    },
    {
        "id": "6b5e6c4b9a142f60",
        "type": "http request",
        "z": "04416e2d4d0afa55",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/modify/{{{id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1390,
        "y": 980,
        "wires": [
            [
                "457ce63957f90c83",
                "c49a95260e28e8df"
            ]
        ]
    },
    {
        "id": "7cba897a6657c4da",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 980,
        "wires": [
            [
                "6b5e6c4b9a142f60"
            ]
        ]
    },
    {
        "id": "39a1530f6572fc17",
        "type": "change",
        "z": "04416e2d4d0afa55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "payload.userID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user.id",
                "pt": "flow",
                "to": "payload.userID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 980,
        "wires": [
            [
                "dcce506a0378d2be"
            ]
        ]
    },
    {
        "id": "c4d24ff1acfa997d",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3a3a5b15deb8f22d",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 940,
        "y": 760,
        "wires": []
    },
    {
        "id": "d590f2766b60b9f1",
        "type": "http in",
        "z": "04416e2d4d0afa55",
        "name": "",
        "url": "/mysiteDelete",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1380,
        "wires": [
            [
                "29f43a9330e3af48",
                "6ab5d8465eaa3fb9"
            ]
        ]
    },
    {
        "id": "88f533433ea2cba1",
        "type": "http in",
        "z": "04416e2d4d0afa55",
        "name": "",
        "url": "/mysitedelete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1780,
        "wires": [
            [
                "d4329a4f20ceaa9d",
                "e7ebae0891c99bd3"
            ]
        ]
    },
    {
        "id": "29f43a9330e3af48",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "name": "msg.url = \"mysitedelete\";",
        "func": "msg.url = \"mysitedelete\";\n\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1360,
        "wires": [
            [
                "628bb46f8bc4e402"
            ]
        ]
    },
    {
        "id": "d4329a4f20ceaa9d",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mysitedelete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 1860,
        "wires": []
    },
    {
        "id": "dd3b8b25018f4c9f",
        "type": "http response",
        "z": "04416e2d4d0afa55",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1160,
        "y": 1740,
        "wires": []
    },
    {
        "id": "1eeee45161573a5d",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}",
        "x": 670,
        "y": 1500,
        "wires": [
            [
                "257d49cd8274d073"
            ]
        ]
    },
    {
        "id": "628bb46f8bc4e402",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "plain",
        "template": "$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});",
        "x": 510,
        "y": 1500,
        "wires": [
            [
                "1eeee45161573a5d"
            ]
        ]
    },
    {
        "id": "7cf1d41f5e72a6bd",
        "type": "http response",
        "z": "04416e2d4d0afa55",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 1500,
        "wires": []
    },
    {
        "id": "257d49cd8274d073",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n\n<div>\n  <h1>DELETE USER</h1>\n  <form method=\"delete\" action=\"/{{url}}\" ajax=\"true\">\n    <p>Delete current user?</p>\n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>",
        "x": 810,
        "y": 1500,
        "wires": [
            [
                "7cf1d41f5e72a6bd",
                "09c5d66058a1a60c"
            ]
        ]
    },
    {
        "id": "45d6aa2b8e596c6b",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Login Form",
        "info": "",
        "x": 470,
        "y": 1460,
        "wires": []
    },
    {
        "id": "baa1d4c742af4c29",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Inject msg object properties",
        "info": "",
        "x": 600,
        "y": 1340,
        "wires": []
    },
    {
        "id": "5e70af061f5a2858",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Website DELETE",
        "info": "",
        "x": 100,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d436bcc0f8086f19",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Form Submission",
        "info": "",
        "x": 280,
        "y": 1540,
        "wires": []
    },
    {
        "id": "67f838a4470dd399",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1740,
        "wires": [
            [
                "b4dae79f145a75db"
            ]
        ]
    },
    {
        "id": "b4dae79f145a75db",
        "type": "http request",
        "z": "04416e2d4d0afa55",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 1740,
        "wires": [
            [
                "dd3b8b25018f4c9f"
            ]
        ]
    },
    {
        "id": "9613b35027cc47ff",
        "type": "http request",
        "z": "04416e2d4d0afa55",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/delete/{{{id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 1740,
        "wires": [
            [
                "67f838a4470dd399"
            ]
        ]
    },
    {
        "id": "80f5af834f57a17a",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mydelete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1820,
        "wires": []
    },
    {
        "id": "09c5d66058a1a60c",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 870,
        "y": 1420,
        "wires": []
    },
    {
        "id": "9271e5f3ae73772f",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "name": "msg.url = \"mysitelist\";",
        "func": "msg.url = \"/mysitelist\";\n\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 500,
        "wires": [
            [
                "e83ff0b41e49bb08"
            ]
        ]
    },
    {
        "id": "10f38b01c79ad6e8",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mysitepost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 580,
        "wires": []
    },
    {
        "id": "9ed0801c00f5741d",
        "type": "change",
        "z": "04416e2d4d0afa55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 500,
        "wires": [
            [
                "9271e5f3ae73772f",
                "3e72df3312399004"
            ]
        ]
    },
    {
        "id": "5764f182fc2fc68f",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 224,
        "y": 824,
        "wires": []
    },
    {
        "id": "6ab5d8465eaa3fb9",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 250,
        "y": 1460,
        "wires": []
    },
    {
        "id": "e51f18ef09cfe066",
        "type": "http in",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "",
        "url": "/mysite",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 248.79998779296875,
        "y": 2239.4000244140625,
        "wires": [
            [
                "a479d3a77791f239"
            ]
        ]
    },
    {
        "id": "4bb4185b3972b457",
        "type": "http in",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "",
        "url": "/mysiteposta",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 228.79998779296875,
        "y": 2479.4000244140625,
        "wires": [
            [
                "b1bc07fb31cf71c5",
                "8a19ff814fd8291a"
            ]
        ]
    },
    {
        "id": "a479d3a77791f239",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "msg.url = \"mysitepost\";",
        "func": "msg.url = \"mysitepost\";\n\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 518.7999877929688,
        "y": 2239.4000244140625,
        "wires": [
            [
                "421db5b61f882006"
            ]
        ]
    },
    {
        "id": "b1bc07fb31cf71c5",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 410,
        "y": 2600,
        "wires": []
    },
    {
        "id": "d5fa961fcf488a2c",
        "type": "http response",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1688.7999877929688,
        "y": 2479.4000244140625,
        "wires": []
    },
    {
        "id": "940456933e55b6a0",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}",
        "x": 628.7999877929688,
        "y": 2339.4000244140625,
        "wires": [
            [
                "42799e1880fcf4a4"
            ]
        ]
    },
    {
        "id": "421db5b61f882006",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "plain",
        "template": "$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});",
        "x": 488.79998779296875,
        "y": 2339.4000244140625,
        "wires": [
            [
                "940456933e55b6a0"
            ]
        ]
    },
    {
        "id": "f45afbdd4506c885",
        "type": "http response",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "",
        "x": 908.7999877929688,
        "y": 2339.4000244140625,
        "wires": []
    },
    {
        "id": "42799e1880fcf4a4",
        "type": "template",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n<div>\n  {{{payload.users}}}\n</div>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"name\">name</label>\n    <input type=\"text\" id=\"name\" name=\"name\">\n\n    <label for=\"secondName\">secondName</label>\n    <input type=\"text\" id=\"secondName\" name=\"secondName\">\n\n    <label for=\"gender\">gender</label>\n    <select id=\"gender\" name=\"gender\">\n      <option value=\"MALE\">MALE</option>\n      <option value=\"FEMALE\">FEMALE</option>\n    </select>\n\n    <label for=\"birthdate\">birthdate</label>\n    <input type=\"date\" id=\"birthdate\" name=\"birthdate\">\n\n    <br>\n    <label for=\"height\">height</label>\n    <input type=\"number\" id=\"height\" name=\"height\">\n\n    <label for=\"weight\">weight</label>\n    <input type=\"number\" id=\"weight\" name=\"weight\">\n\n    <br>\n    <label for=\"username\">username</label>\n    <input type=\"text\" id=\"username\" name=\"username\">\n\n    <label for=\"email\">email</label>\n    <input type=\"text\" id=\"email\" name=\"email\">\n\n    <label for=\"password\">password</label>\n    <input type=\"password\" id=\"password\" name=\"password\">\n\n    <br>\n    <label for=\"activity\">activity</label>\n    <select id=\"activity\" name=\"activity\">\n      <option value=\"1-2\">1-2</option>\n      <option value=\"3-4\">3-4</option>\n      <option value=\"5-6\">5-6</option>\n      <option value=\"7\">7</option>\n    </select>\n\n    <label for=\"premium\">premium</label>\n    <input type=\"text\" id=\"premium\" name=\"premium\">\n\n    <label for=\"neck\">neck</label>\n    <input type=\"number\" id=\"neck\" name=\"neck\">\n\n    <label for=\"waist\">waist</label>\n    <input type=\"number\" id=\"waist\" name=\"waist\">\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>",
        "x": 770,
        "y": 2340,
        "wires": [
            [
                "f45afbdd4506c885",
                "60f330818319b516"
            ]
        ]
    },
    {
        "id": "7cdfb45985f16921",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "Login Form",
        "info": "",
        "x": 448.79998779296875,
        "y": 2299.4000244140625,
        "wires": []
    },
    {
        "id": "fc28ce0835f05a96",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "Inject msg object properties",
        "info": "",
        "x": 508.79998779296875,
        "y": 2199.4000244140625,
        "wires": []
    },
    {
        "id": "db281fe38aad08cc",
        "type": "json",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 248.79998779296875,
        "y": 2419.4000244140625,
        "wires": [
            []
        ]
    },
    {
        "id": "44364d3f13845895",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "Website GET ETA POST ONDO",
        "info": "",
        "x": 368.79998779296875,
        "y": 2159.4000244140625,
        "wires": []
    },
    {
        "id": "d03b5b52616c0f64",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "Form Submission",
        "info": "",
        "x": 268.79998779296875,
        "y": 2379.4000244140625,
        "wires": []
    },
    {
        "id": "9f1805a7bd291573",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1288.7999877929688,
        "y": 2579.4000244140625,
        "wires": [
            [
                "aa9050f9b5bad2e4"
            ]
        ]
    },
    {
        "id": "aa9050f9b5bad2e4",
        "type": "http request",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1448.7999877929688,
        "y": 2479.4000244140625,
        "wires": [
            [
                "d5fa961fcf488a2c",
                "6f60a4dc03cf5f86"
            ]
        ]
    },
    {
        "id": "b56b6de30b740633",
        "type": "http request",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/add",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 868.7999877929688,
        "y": 2439.4000244140625,
        "wires": [
            [
                "e8ff0ad886f1a61f",
                "cef5dbecca309063"
            ]
        ]
    },
    {
        "id": "f8b58d550d19e306",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 708.7999877929688,
        "y": 2439.4000244140625,
        "wires": [
            [
                "b56b6de30b740633"
            ]
        ]
    },
    {
        "id": "8a19ff814fd8291a",
        "type": "change",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 528.7999877929688,
        "y": 2419.4000244140625,
        "wires": [
            [
                "f8b58d550d19e306",
                "94b7a1f8030aa2c5"
            ]
        ]
    },
    {
        "id": "94b7a1f8030aa2c5",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "user",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 628.7999877929688,
        "y": 2519.4000244140625,
        "wires": []
    },
    {
        "id": "60f330818319b516",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 835,
        "y": 2265.4000244140625,
        "wires": []
    },
    {
        "id": "e8ff0ad886f1a61f",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1059,
        "y": 2557.7999267578125,
        "wires": []
    },
    {
        "id": "cef5dbecca309063",
        "type": "switch",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1248.7999877929688,
        "y": 2439.4000244140625,
        "wires": [
            [
                "49604f3e25e6aced"
            ],
            [
                "9f1805a7bd291573"
            ]
        ]
    },
    {
        "id": "5d840dd4e374bcb8",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1588.7999877929688,
        "y": 2319.4000244140625,
        "wires": []
    },
    {
        "id": "6f60a4dc03cf5f86",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "ondo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1528.7999877929688,
        "y": 2559.4000244140625,
        "wires": []
    },
    {
        "id": "49604f3e25e6aced",
        "type": "function",
        "z": "04416e2d4d0afa55",
        "d": true,
        "name": "function 25",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1428.7999877929688,
        "y": 2319.4000244140625,
        "wires": [
            [
                "d5fa961fcf488a2c",
                "5d840dd4e374bcb8"
            ]
        ]
    },
    {
        "id": "d1f094ae1a8975e2",
        "type": "http request",
        "z": "04416e2d4d0afa55",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:1880/mysitelist",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1790,
        "y": 500,
        "wires": [
            [
                "b9eab66f7431f1b0"
            ]
        ]
    },
    {
        "id": "847e55a958b1cfc9",
        "type": "http request",
        "z": "04416e2d4d0afa55",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/usersByUsername?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 1020,
        "wires": [
            [
                "bedf2ca91fa48326"
            ]
        ]
    },
    {
        "id": "e83ff0b41e49bb08",
        "type": "change",
        "z": "04416e2d4d0afa55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 500,
        "wires": [
            [
                "d1f094ae1a8975e2",
                "10f38b01c79ad6e8"
            ]
        ]
    },
    {
        "id": "b688e534d75c0633",
        "type": "change",
        "z": "04416e2d4d0afa55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newUsername",
                "pt": "msg",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "username",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1020,
        "wires": [
            [
                "847e55a958b1cfc9"
            ]
        ]
    },
    {
        "id": "bedf2ca91fa48326",
        "type": "json",
        "z": "04416e2d4d0afa55",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 650,
        "y": 1020,
        "wires": [
            [
                "39a1530f6572fc17",
                "c4d24ff1acfa997d"
            ]
        ]
    },
    {
        "id": "c49a95260e28e8df",
        "type": "debug",
        "z": "04416e2d4d0afa55",
        "name": "put request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 1040,
        "wires": []
    },
    {
        "id": "549a9ec72c751d87",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "Change Username",
        "info": "",
        "x": 130,
        "y": 960,
        "wires": []
    },
    {
        "id": "3331c318147f1b07",
        "type": "comment",
        "z": "04416e2d4d0afa55",
        "name": "DELETE request",
        "info": "",
        "x": 120,
        "y": 1660,
        "wires": []
    },
    {
        "id": "e7ebae0891c99bd3",
        "type": "change",
        "z": "04416e2d4d0afa55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "user.id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1740,
        "wires": [
            [
                "9613b35027cc47ff",
                "80f5af834f57a17a"
            ]
        ]
    },
    {
        "id": "755e39334621c51a",
        "type": "http request",
        "z": "04416e2d4d0afa55",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:1880/mysiteDelete",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1730,
        "y": 980,
        "wires": [
            [
                "e6aefa4af6e775bc"
            ]
        ]
    }
]