Corrected_graphs.json
[
    {
        "id": "b1e8375a7e256161",
        "type": "tab",
        "label": "User services w/dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c28f4e0837480e61",
        "type": "ui_form",
        "z": "b1e8375a7e256161",
        "name": "",
        "label": "",
        "group": "ab4e89ea65e8afe2",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "uname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Second Name",
                "value": "secondName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Age",
                "value": "age",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Height",
                "value": "height",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "user Password",
                "value": "userPass",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "neck",
                "value": "neck",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "waist",
                "value": "waist",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "hips",
                "value": "hips",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uname": "",
            "secondName": "",
            "age": "",
            "height": "",
            "username": "",
            "email": "",
            "userPass": "",
            "neck": "",
            "waist": "",
            "hips": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "2b01c9cccd21306d"
            ]
        ]
    },
    {
        "id": "29c92dd598e90f34",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1870,
        "y": 100,
        "wires": []
    },
    {
        "id": "b33de0ab9e4a9d77",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User created",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1650,
        "y": 100,
        "wires": [
            [
                "29c92dd598e90f34"
            ]
        ]
    },
    {
        "id": "2b01c9cccd21306d",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "user selection",
        "func": "var userGender = flow.get('user.gender') || 0;\nvar activityLevel = flow.get('user.activityLevel') || 0;\nvar premium = flow.get('user.premium') || 0;\nvar userObjective = flow.get('user.objective') || 0;\n\n\nvar user = {uname: msg.payload.uname,\n            secondName: msg.payload.secondName,\n            gender: userGender,\n            age: msg.payload.age,\n            height: msg.payload.height,\n            username: msg.payload.username,\n            email: msg.payload.email,\n            userPass: msg.payload.userPass,\n            activityLevel: activityLevel,\n            premium: premium,\n            objective: userObjective,\n            neck: msg.payload.neck,\n            waist: msg.payload.waist,\n            hips: msg.payload.hips\n            };\n\nmsg.payload = user;\nflow.set('user', user);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "5a12774c6e20a910",
                "a37e2bc134948765"
            ]
        ]
    },
    {
        "id": "a37e2bc134948765",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "User to send",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "83ea86f8a1b79fed",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/register",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 380,
        "wires": [
            [
                "f833f25a0d15e899",
                "3ee01fcc7066401d"
            ]
        ]
    },
    {
        "id": "5a12774c6e20a910",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 380,
        "wires": [
            [
                "83ea86f8a1b79fed"
            ]
        ]
    },
    {
        "id": "f833f25a0d15e899",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "9fe1a8656e9b0493",
        "type": "switch",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1190,
        "y": 160,
        "wires": [
            [
                "98930b1a5b8957d0",
                "86bfbd65eff3deb7"
            ],
            [
                "5eff3c943f27ccd6"
            ],
            [
                "145a721a48f0ae05"
            ]
        ]
    },
    {
        "id": "da37c2054d239091",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 200,
        "wires": []
    },
    {
        "id": "5eff3c943f27ccd6",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Username exists error",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 240,
        "wires": [
            [
                "da37c2054d239091",
                "d94756323406ca83"
            ]
        ]
    },
    {
        "id": "be77861bb132db1f",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "mysitepost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 180,
        "wires": []
    },
    {
        "id": "98930b1a5b8957d0",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 140,
        "wires": [
            [
                "be77861bb132db1f",
                "b33de0ab9e4a9d77",
                "e43c37ade0c8b8a2"
            ]
        ]
    },
    {
        "id": "a09d9b75627ab9d9",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2080,
        "y": 280,
        "wires": []
    },
    {
        "id": "d94756323406ca83",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1870,
        "y": 280,
        "wires": [
            [
                "a09d9b75627ab9d9"
            ]
        ]
    },
    {
        "id": "145a721a48f0ae05",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 340,
        "wires": [
            [
                "c70d0f5e0089de08"
            ]
        ]
    },
    {
        "id": "c70d0f5e0089de08",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1890,
        "y": 340,
        "wires": []
    },
    {
        "id": "fe162f151de99f57",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "Create user (POST)",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "c220ce560add0655",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/user/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 760,
        "wires": [
            [
                "454cf2d09f3ff75a"
            ]
        ]
    },
    {
        "id": "d00ed5bebae5a62b",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 760,
        "wires": []
    },
    {
        "id": "9b4056f338af5597",
        "type": "ui_button",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "e817738b787808c7",
        "order": 2,
        "width": 13,
        "height": 1,
        "passthru": false,
        "label": "See all users",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "6e291841109574fc"
            ]
        ]
    },
    {
        "id": "454cf2d09f3ff75a",
        "type": "json",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 670,
        "y": 760,
        "wires": [
            [
                "d00ed5bebae5a62b",
                "dbbf3d7f81fc8a50"
            ]
        ]
    },
    {
        "id": "6e291841109574fc",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 760,
        "wires": [
            [
                "c220ce560add0655"
            ]
        ]
    },
    {
        "id": "dbbf3d7f81fc8a50",
        "type": "ui_text",
        "z": "b1e8375a7e256161",
        "group": "e817738b787808c7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current users",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 820,
        "wires": []
    },
    {
        "id": "edfcc73c78b2e1e0",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "Get users (GET)",
        "info": "",
        "x": 200,
        "y": 700,
        "wires": []
    },
    {
        "id": "150af01a589cb5cb",
        "type": "http response",
        "z": "b1e8375a7e256161",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 880,
        "wires": []
    },
    {
        "id": "c05258855816e8a6",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/delete/{{{id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1140,
        "y": 880,
        "wires": [
            [
                "150af01a589cb5cb"
            ]
        ]
    },
    {
        "id": "e2254978c15d460d",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "mydelete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 920,
        "wires": []
    },
    {
        "id": "41796a6e5b56587f",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "Delete current user (DELETE)",
        "info": "",
        "x": 220,
        "y": 840,
        "wires": []
    },
    {
        "id": "b8e98fbe6c29fdda",
        "type": "ui_button",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "e817738b787808c7",
        "order": 4,
        "width": 13,
        "height": 1,
        "passthru": false,
        "label": "Delete user",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "9dc535a6ee36c635"
            ]
        ]
    },
    {
        "id": "8123502e097253ab",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/usersByUsername?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 920,
        "wires": [
            [
                "a42270ebbffe211c"
            ]
        ]
    },
    {
        "id": "9dc535a6ee36c635",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "username",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 920,
        "wires": [
            [
                "8123502e097253ab"
            ]
        ]
    },
    {
        "id": "a42270ebbffe211c",
        "type": "json",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 710,
        "y": 920,
        "wires": [
            [
                "80aa1f0e42b179ae"
            ]
        ]
    },
    {
        "id": "80aa1f0e42b179ae",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "payload.userID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user.id",
                "pt": "flow",
                "to": "payload.userID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 920,
        "wires": [
            [
                "c05258855816e8a6",
                "e2254978c15d460d",
                "e52758e5348acb73"
            ]
        ]
    },
    {
        "id": "047605fa874b1c09",
        "type": "http response",
        "z": "b1e8375a7e256161",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1990,
        "y": 1080,
        "wires": []
    },
    {
        "id": "fd0439cf40a1a2ba",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "change username",
        "func": "msg.payload.username = msg.newUsername;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1080,
        "wires": [
            [
                "a1d280e3baecaa22"
            ]
        ]
    },
    {
        "id": "b92b0c6563eceff5",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/modify/{{{id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1810,
        "y": 1080,
        "wires": [
            [
                "047605fa874b1c09",
                "51684df4748a111f"
            ]
        ]
    },
    {
        "id": "a1d280e3baecaa22",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 1080,
        "wires": [
            [
                "b92b0c6563eceff5"
            ]
        ]
    },
    {
        "id": "053c69b9d93a2bf4",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "payload.userID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user.id",
                "pt": "flow",
                "to": "payload.userID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1080,
        "wires": [
            [
                "fd0439cf40a1a2ba"
            ]
        ]
    },
    {
        "id": "0fbaee27f68120e8",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 1160,
        "wires": []
    },
    {
        "id": "5f992663b17ef562",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/usersByUsername?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 1120,
        "wires": [
            [
                "842abae6b20a950c"
            ]
        ]
    },
    {
        "id": "8d29ed50e0a5b6b9",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newUsername",
                "pt": "msg",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "username",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "newUsername",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1120,
        "wires": [
            [
                "5f992663b17ef562"
            ]
        ]
    },
    {
        "id": "842abae6b20a950c",
        "type": "json",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1070,
        "y": 1120,
        "wires": [
            [
                "053c69b9d93a2bf4",
                "0fbaee27f68120e8"
            ]
        ]
    },
    {
        "id": "ad73e378bb76b475",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "Change Username",
        "info": "",
        "x": 430,
        "y": 1020,
        "wires": []
    },
    {
        "id": "53d22b319612f00d",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "Modify current user (PUT)",
        "info": "",
        "x": 210,
        "y": 1020,
        "wires": []
    },
    {
        "id": "12c7c6e1403895e3",
        "type": "ui_form",
        "z": "b1e8375a7e256161",
        "name": "",
        "label": "",
        "group": "4005b03c7e843643",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "msg.username",
                "value": "uname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Second Name",
                "value": "secondName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uname": "",
            "secondName": "",
            "username": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "959e2e1ae9f5bb0b"
            ]
        ]
    },
    {
        "id": "959e2e1ae9f5bb0b",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "user selection",
        "func": "var user = {uname: msg.payload.uname,\n            secondName: msg.payload.secondName,\n            username: msg.payload.username\n            };\n\nmsg.payload = user;\nmsg.user=user;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1120,
        "wires": [
            [
                "8d29ed50e0a5b6b9"
            ]
        ]
    },
    {
        "id": "0905a82f72689d3e",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "\"No response object\"",
        "info": "",
        "x": 1360,
        "y": 840,
        "wires": []
    },
    {
        "id": "39b2ae84c969cd23",
        "type": "ui_gauge",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "f6050b0fc904b459",
        "order": 1,
        "width": 13,
        "height": 8,
        "gtype": "donut",
        "title": "",
        "label": "users",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1610,
        "y": 40,
        "wires": []
    },
    {
        "id": "86bfbd65eff3deb7",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "User counter",
        "func": "let contador = global.get(\"userCount\") || 0;\n\n//contador = 0;\ncontador += 1;\n\nglobal.set(\"userCount\", contador);\n\n/*msg.counter = {\n    userCount: contador\n};*/\nmsg.payload = contador;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 40,
        "wires": [
            [
                "39b2ae84c969cd23"
            ]
        ]
    },
    {
        "id": "5416c8c889e7fdc0",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1360,
        "y": 980,
        "wires": []
    },
    {
        "id": "e52758e5348acb73",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User deleted",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 980,
        "wires": [
            [
                "5416c8c889e7fdc0"
            ]
        ]
    },
    {
        "id": "ecf3a6726ee1061a",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2180,
        "y": 1160,
        "wires": []
    },
    {
        "id": "51684df4748a111f",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User modified",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 1160,
        "wires": [
            [
                "ecf3a6726ee1061a"
            ]
        ]
    },
    {
        "id": "95af288e35099bdb",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "username",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 1120,
        "wires": [
            [
                "12c7c6e1403895e3"
            ]
        ]
    },
    {
        "id": "78029e900b3b9329",
        "type": "ui_dropdown",
        "z": "b1e8375a7e256161",
        "name": "",
        "label": "Gender",
        "tooltip": "",
        "place": "Select option",
        "group": "c1e7f2dc686974e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Male",
                "value": "M",
                "type": "str"
            },
            {
                "label": "Female",
                "value": "F",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "b3372a93d7d4cc6c"
            ]
        ]
    },
    {
        "id": "d81bd1f436ca24cc",
        "type": "ui_dropdown",
        "z": "b1e8375a7e256161",
        "name": "",
        "label": "How active are you?",
        "tooltip": "",
        "place": "Select option",
        "group": "c1e7f2dc686974e6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Sedentary",
                "value": "Sedentary",
                "type": "str"
            },
            {
                "label": "Light",
                "value": "Light",
                "type": "str"
            },
            {
                "label": "Moderate",
                "value": "Moderate",
                "type": "str"
            },
            {
                "label": "Active",
                "value": "Active",
                "type": "str"
            },
            {
                "label": "Very active",
                "value": "Very active",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "91472105f8f60c7b"
            ]
        ]
    },
    {
        "id": "650a27f2120eb3bf",
        "type": "ui_dropdown",
        "z": "b1e8375a7e256161",
        "name": "",
        "label": "Premium",
        "tooltip": "",
        "place": "Select option",
        "group": "c1e7f2dc686974e6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Yes",
                "value": "true",
                "type": "str"
            },
            {
                "label": "No",
                "value": "false",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "c20191166612059b"
            ]
        ]
    },
    {
        "id": "b8cfa13bcb36ae49",
        "type": "ui_dropdown",
        "z": "b1e8375a7e256161",
        "name": "",
        "label": "Objective",
        "tooltip": "",
        "place": "Select option",
        "group": "c1e7f2dc686974e6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Keep fit",
                "value": "Keep fit",
                "type": "str"
            },
            {
                "label": "Lose weight",
                "value": "Lose weight",
                "type": "str"
            },
            {
                "label": "Gain weight",
                "value": "Gain weight",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "0ec9eece6f38bb72"
            ]
        ]
    },
    {
        "id": "b3372a93d7d4cc6c",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.gender",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "91472105f8f60c7b",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.activityLevel",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c20191166612059b",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.premium",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0ec9eece6f38bb72",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.objective",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "ea3b94ec2d4b3e89",
        "type": "ui_ui_control",
        "z": "b1e8375a7e256161",
        "name": "",
        "events": "all",
        "x": 360,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "cef778cfdef8ee22",
        "type": "ui_button",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "c1e7f2dc686974e6",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Create user",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Create user",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "ea3b94ec2d4b3e89"
            ]
        ]
    },
    {
        "id": "782fa69638b3c081",
        "type": "ui_gauge",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "693ac7a97f52de17",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Protein",
        "label": "units",
        "format": "{{sumProteins}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1220,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4a76f7d06d864914",
        "type": "ui_gauge",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "693ac7a97f52de17",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Carbs",
        "label": "units",
        "format": "{{sumCarbs}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 1320,
        "wires": []
    },
    {
        "id": "c17591df118f1247",
        "type": "ui_gauge",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "409d71e75864cec8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Fats",
        "label": "units",
        "format": "{{sumFats}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 1360,
        "wires": []
    },
    {
        "id": "76d5360b1374ad8d",
        "type": "ui_gauge",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "409d71e75864cec8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Fiber",
        "label": "units",
        "format": "{{sumFiber}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 1400,
        "wires": []
    },
    {
        "id": "f7c87e5b1c9cc233",
        "type": "ui_button",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "9b40b58b28945e29",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "One more glass of water",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1500,
        "wires": [
            [
                "963246ce48e6c9d7"
            ]
        ]
    },
    {
        "id": "d74a6525f2d680c7",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "Main page",
        "info": "",
        "x": 160,
        "y": 1220,
        "wires": []
    },
    {
        "id": "963246ce48e6c9d7",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "waterCounter",
        "func": "var waterCounter = flow.get('$waterCounter') || 0;\n\nwaterCounter = waterCounter + msg.payload;\n\nflow.set(\"$waterCounter\", waterCounter);\n\nmsg.payload = waterCounter;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1500,
        "wires": [
            [
                "7fb46f962d0f3abd",
                "f045f4c99f07bfb4"
            ]
        ]
    },
    {
        "id": "7fb46f962d0f3abd",
        "type": "ui_text",
        "z": "b1e8375a7e256161",
        "group": "9b40b58b28945e29",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Glasses of water today:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 1460,
        "wires": []
    },
    {
        "id": "384ab0f6225c5add",
        "type": "ui_form",
        "z": "b1e8375a7e256161",
        "name": "",
        "label": "",
        "group": "25c50f5ae4ef8c6c",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "foodName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Proteins",
                "value": "proteins",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Carbs",
                "value": "carbs",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Fats",
                "value": "fats",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Fiber",
                "value": "fiber",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "foodName": "",
            "proteins": "",
            "carbs": "",
            "fats": "",
            "fiber": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 1760,
        "wires": [
            [
                "f5ac45d5924659e6"
            ]
        ]
    },
    {
        "id": "107f07057a2a6c42",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1640,
        "y": 1660,
        "wires": []
    },
    {
        "id": "5c84339ad130c605",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User created",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 1660,
        "wires": [
            [
                "107f07057a2a6c42"
            ]
        ]
    },
    {
        "id": "f5ac45d5924659e6",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "food selection",
        "func": "var food = {foodName: msg.payload.foodName,\n            proteins: msg.payload.proteins,\n            carbs: msg.payload.carbs,\n            fats: msg.payload.fats,\n            fiber: msg.payload.fiber\n            };\n\nmsg.payload = food;\nmsg.user = food;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1760,
        "wires": [
            [
                "a3afa1bac52d82d5",
                "bb05da2932ce227e"
            ]
        ]
    },
    {
        "id": "bb05da2932ce227e",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "Food to send",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1700,
        "wires": []
    },
    {
        "id": "e0aab05a6c8b3b63",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/food/add",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 1820,
        "wires": [
            [
                "e90db2edc79f265e",
                "8f6e3178f0353e7c"
            ]
        ]
    },
    {
        "id": "a3afa1bac52d82d5",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1820,
        "wires": [
            [
                "e0aab05a6c8b3b63"
            ]
        ]
    },
    {
        "id": "e90db2edc79f265e",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "foodPost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1900,
        "wires": []
    },
    {
        "id": "8f6e3178f0353e7c",
        "type": "switch",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 950,
        "y": 1820,
        "wires": [
            [
                "aa47e2b8abd7a367"
            ],
            [
                "d2f2e27c63a124c2"
            ],
            [
                "3bd09be64aa238a8"
            ]
        ]
    },
    {
        "id": "5fa7374e39fb7ee2",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1800,
        "wires": []
    },
    {
        "id": "d2f2e27c63a124c2",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Food exists error",
        "func": "msg.payload = 'The food does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1840,
        "wires": [
            [
                "5fa7374e39fb7ee2",
                "c2f652d62de732a6"
            ]
        ]
    },
    {
        "id": "1a3bfc175e6c3b2b",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "mysitepost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 1740,
        "wires": []
    },
    {
        "id": "aa47e2b8abd7a367",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1700,
        "wires": [
            [
                "1a3bfc175e6c3b2b",
                "5c84339ad130c605"
            ]
        ]
    },
    {
        "id": "38af5da5d6c63af0",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1600,
        "y": 1880,
        "wires": []
    },
    {
        "id": "c2f652d62de732a6",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1880,
        "wires": [
            [
                "38af5da5d6c63af0"
            ]
        ]
    },
    {
        "id": "3bd09be64aa238a8",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1940,
        "wires": [
            [
                "7d184f751465b535"
            ]
        ]
    },
    {
        "id": "7d184f751465b535",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1410,
        "y": 1940,
        "wires": []
    },
    {
        "id": "c067801e9ab223a0",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "Create food (POST)",
        "info": "",
        "x": 190,
        "y": 1700,
        "wires": []
    },
    {
        "id": "a8bde19dd3903270",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/food/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 1320,
        "wires": [
            [
                "5d20fe77a30a5434"
            ]
        ]
    },
    {
        "id": "a6363ea234badc51",
        "type": "ui_button",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "25c50f5ae4ef8c6c",
        "order": 2,
        "width": "6",
        "height": 1,
        "passthru": false,
        "label": "One more meal",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1320,
        "wires": [
            [
                "e13a0ed25b43601b"
            ]
        ]
    },
    {
        "id": "5d20fe77a30a5434",
        "type": "json",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 630,
        "y": 1320,
        "wires": [
            [
                "5b97c6d452f8d408"
            ]
        ]
    },
    {
        "id": "e13a0ed25b43601b",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1320,
        "wires": [
            [
                "a8bde19dd3903270"
            ]
        ]
    },
    {
        "id": "5b97c6d452f8d408",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "sum of macros",
        "func": "let size = msg.payload.length;\n\nvar totalProtein = flow.get('$totalProtein') || 0;\nvar totalCarbs = flow.get('$totalCarbs') || 0;\nvar totalFats = flow.get('$totalFats') || 0;\nvar totalFiber = flow.get('$totalFiber') || 0;\n\nfor (let i=0;i<size;i++) {\n    totalProtein += msg.payload[i].proteins;\n    totalCarbs += msg.payload[i].carbs;\n    totalFats += msg.payload[i].fats;\n    totalFiber += msg.payload[i].fiber;\n}\n\nflow.set('$totalProtein', totalProtein);\nflow.set('$totalCarbs', totalCarbs);\nflow.set('$totalFats', totalFats);\nflow.set('$totalFiber', totalFiber);\n\nmsg.sumProteins = totalProtein;\nmsg.sumCarbs = totalCarbs;\nmsg.sumFats = totalFats;\nmsg.sumFiber = totalFiber;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1320,
        "wires": [
            [
                "f072ea4c029204b7",
                "bfb75f24fa3cae61",
                "6d5f58f43ce125d1",
                "e2c56b793a5f0f7a",
                "eefef085b12554a9"
            ]
        ]
    },
    {
        "id": "f072ea4c029204b7",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "Sum of proteins",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1240,
        "wires": []
    },
    {
        "id": "4247c8bce3f3e2d2",
        "type": "ui_button",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "25c50f5ae4ef8c6c",
        "order": 2,
        "width": "6",
        "height": 1,
        "passthru": false,
        "label": "No more food",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1380,
        "wires": [
            [
                "b297cd4d444c5a71"
            ]
        ]
    },
    {
        "id": "b297cd4d444c5a71",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Reset variables",
        "func": "flow.set('$totalProtein', 0);\nflow.set('$totalCarbs', 0);\nflow.set('$totalFats', 0);\nflow.set('$totalFiber', 0);\nflow.set(\"$waterCounter\", 0);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "bfb75f24fa3cae61",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumProteins = msg.sumProteins;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumProteins: sumProteins\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1280,
        "wires": [
            [
                "782fa69638b3c081"
            ]
        ]
    },
    {
        "id": "f045f4c99f07bfb4",
        "type": "ui_gauge",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "9b40b58b28945e29",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "gauge",
        "label": "Glasses",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 1540,
        "wires": []
    },
    {
        "id": "72b5908b4386ea78",
        "type": "ui_form",
        "z": "b1e8375a7e256161",
        "name": "",
        "label": "",
        "group": "0efaaecc7e2e0e44",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "user Password",
                "value": "userPass",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "userPass": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 190,
        "y": 2460,
        "wires": [
            [
                "95b4e0dcccba7a18",
                "c0def4992f162123"
            ]
        ]
    },
    {
        "id": "1f07c65569a1a290",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2450,
        "y": 2280,
        "wires": []
    },
    {
        "id": "2c483dbc7a42b677",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User logged",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2220,
        "y": 2280,
        "wires": [
            [
                "1f07c65569a1a290"
            ]
        ]
    },
    {
        "id": "8546467145659807",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/login/auth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 2460,
        "wires": [
            [
                "b8c197514df79f8c"
            ]
        ]
    },
    {
        "id": "0a5a5b60dc39f3cf",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2460,
        "wires": [
            [
                "8546467145659807"
            ]
        ]
    },
    {
        "id": "9761909b8e72a60f",
        "type": "switch",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1170,
        "y": 2460,
        "wires": [
            [
                "b604ab36b14aeba2"
            ],
            [
                "157a10aaeaade660"
            ],
            [
                "8df135b831bd2a1a"
            ]
        ]
    },
    {
        "id": "958dfac7c2068a3c",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 2500,
        "wires": []
    },
    {
        "id": "157a10aaeaade660",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Username exists error",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 2520,
        "wires": [
            [
                "958dfac7c2068a3c",
                "e63ee9896e7216ce"
            ]
        ]
    },
    {
        "id": "b5ee1e48536fa592",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2000,
        "y": 2540,
        "wires": []
    },
    {
        "id": "e63ee9896e7216ce",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 2540,
        "wires": [
            [
                "b5ee1e48536fa592"
            ]
        ]
    },
    {
        "id": "8df135b831bd2a1a",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 2600,
        "wires": [
            [
                "ab6e369ebf80b96b"
            ]
        ]
    },
    {
        "id": "ab6e369ebf80b96b",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1770,
        "y": 2600,
        "wires": []
    },
    {
        "id": "914de6ee208a1592",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "Login",
        "info": "",
        "x": 190,
        "y": 2320,
        "wires": []
    },
    {
        "id": "95b4e0dcccba7a18",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "userPass",
                "pt": "msg",
                "to": "payload.userPass",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2460,
        "wires": [
            [
                "511a8b4d56bcd832"
            ]
        ]
    },
    {
        "id": "77a00a246ed18488",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 2500,
        "wires": []
    },
    {
        "id": "1d0278ebdebc936d",
        "type": "ui_form",
        "z": "b1e8375a7e256161",
        "name": "",
        "label": "",
        "group": "acafc1421f2a6d98",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Weigth",
                "value": "weigth",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Goal Weigth",
                "value": "goalWeight",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Weeks To Achieve Goal Weight",
                "value": "durationToAchieveGoalWeight",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Register Date",
                "value": "registerDate",
                "type": "date",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "weigth": "",
            "goalWeight": "",
            "durationToAchieveGoalWeight": "",
            "registerDate": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 90,
        "y": 2800,
        "wires": [
            [
                "3fe579571237ff1a",
                "4a6f2bfb4cce19dd"
            ]
        ]
    },
    {
        "id": "91a56d761546553b",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "user selection",
        "func": "//var user = flow.get('user')||0;\nvar goal = {userID: msg.user.userID,\n            weight: msg.payload.weigth,\n            goalWeight: msg.payload.goalWeight,\n            durationToAchieveGoalWeight: msg.payload.durationToAchieveGoalWeight,\n            registerDate: msg.payload.registerDate,\n            };\n\nmsg.payload = goal;\n//msg.goal=goal;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2800,
        "wires": [
            [
                "4ede7a492a4f708a",
                "e8fda6f15bc56b99"
            ]
        ]
    },
    {
        "id": "d8129b76f10d6928",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/weight/weightList?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1370,
        "y": 2800,
        "wires": [
            [
                "89fe13aef95d5353"
            ]
        ]
    },
    {
        "id": "f2a5aabebfeeeaa4",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/weight/addWeight?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 2800,
        "wires": [
            [
                "89180e7f8460a980"
            ]
        ]
    },
    {
        "id": "94392c606bc840ea",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\n\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 2800,
        "wires": [
            [
                "f2a5aabebfeeeaa4"
            ]
        ]
    },
    {
        "id": "4ede7a492a4f708a",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "goal form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 2740,
        "wires": []
    },
    {
        "id": "3fe579571237ff1a",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "goal form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 2760,
        "wires": []
    },
    {
        "id": "4a6f2bfb4cce19dd",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Get registerData",
        "func": "var user = flow.get('user')||0;\nmsg.user = user;\n\nmsg.registerData = msg.resgisterData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2800,
        "wires": [
            [
                "035a9d4f8bad2a3d",
                "91a56d761546553b"
            ]
        ]
    },
    {
        "id": "035a9d4f8bad2a3d",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "goal form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2860,
        "wires": []
    },
    {
        "id": "e8fda6f15bc56b99",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 2800,
        "wires": [
            [
                "94392c606bc840ea"
            ]
        ]
    },
    {
        "id": "89fe13aef95d5353",
        "type": "json",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1530,
        "y": 2800,
        "wires": [
            [
                "771d37a1fc8b7109",
                "282c81d3b11e7ace",
                "51d7aae6655d1da2"
            ]
        ]
    },
    {
        "id": "771d37a1fc8b7109",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 2920,
        "wires": []
    },
    {
        "id": "79511a7a1f709317",
        "type": "ui_chart",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "36ef8e19e88aa212",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Weight chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "No data available",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2450,
        "y": 2920,
        "wires": [
            []
        ]
    },
    {
        "id": "20880be8516aa08d",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Append to weight",
        "func": "const inp = msg.payload;\n\nvar outObj = [{\n    series: [\"Current Weight\"],\n    data: [[]],\n    labels: [\"\"]\n}]\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.registerDate,\n        y: item.weight\n    })\n}\n\nmsg.payload = outObj;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 3160,
        "wires": [
            [
                "b04754ccd0f0c02c",
                "79511a7a1f709317"
            ]
        ]
    },
    {
        "id": "0fc121b8ec3520f3",
        "type": "ui_button",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "acafc1421f2a6d98",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Weight button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 3180,
        "wires": [
            [
                "d6f5f9b26be40c3c"
            ]
        ]
    },
    {
        "id": "70e89e2850e7024d",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/weight/weightList?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 3180,
        "wires": [
            [
                "28d9241b7b1e767a",
                "a0f895e382941eda"
            ]
        ]
    },
    {
        "id": "28d9241b7b1e767a",
        "type": "json",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 3180,
        "wires": [
            [
                "20880be8516aa08d",
                "f63b0a2dbfe9682b",
                "f068e9399740ee91"
            ]
        ]
    },
    {
        "id": "a0f895e382941eda",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 3120,
        "wires": []
    },
    {
        "id": "f63b0a2dbfe9682b",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 3120,
        "wires": []
    },
    {
        "id": "b04754ccd0f0c02c",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 3100,
        "wires": []
    },
    {
        "id": "d6f5f9b26be40c3c",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "function 34",
        "func": "var user = flow.get('user') || 0;\nmsg.payload = user;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3180,
        "wires": [
            [
                "e03b8c72183439b7"
            ]
        ]
    },
    {
        "id": "e03b8c72183439b7",
        "type": "json",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 3180,
        "wires": [
            [
                "73abaed0354bc96a"
            ]
        ]
    },
    {
        "id": "73abaed0354bc96a",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Set username",
        "func": "msg.username = msg.payload.username;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 3180,
        "wires": [
            [
                "1debea659ec1f689"
            ]
        ]
    },
    {
        "id": "f068e9399740ee91",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Append to goalWeight",
        "func": "const inp = msg.payload;\n\nvar outObj = [{\n    series: [\"Goal Weight\"],\n    data: [[]],\n    labels: [\"\"]\n}]\n\nlet registerDate = 0;\nlet durationInMs = 0\n\nfor (let item of inp) {\n    registerDate = new Date(item.registerDate);\n    durationInMs = item.durationToAchieveGoalWeight * 24 * 60 * 60 * 1000;\n\n    let newDate = new Date(registerDate.getTime() + durationInMs);\n\n    outObj[0].data[0].push({\n        x: newDate.toISOString(),\n        y: item.goalWeight\n    });\n}\n\nmsg.payload = outObj;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 3220,
        "wires": [
            [
                "780fcbdd8487fcae"
            ]
        ]
    },
    {
        "id": "780fcbdd8487fcae",
        "type": "ui_chart",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "36ef8e19e88aa212",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Goal weight chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "No Data Available",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2610,
        "y": 3040,
        "wires": [
            []
        ]
    },
    {
        "id": "b60c9574d1c15746",
        "type": "ui_button",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "acafc1421f2a6d98",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clean",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 2270,
        "y": 3200,
        "wires": [
            [
                "780fcbdd8487fcae",
                "79511a7a1f709317"
            ]
        ]
    },
    {
        "id": "8e704ba57112d354",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "Admin or User",
        "info": "",
        "x": 1610,
        "y": 2280,
        "wires": []
    },
    {
        "id": "f30015016a263115",
        "type": "ui_upload",
        "z": "b1e8375a7e256161",
        "group": "552418e0c1420f0f",
        "title": "upload",
        "accept": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "chunk": 256,
        "transfer": "binary",
        "x": 2670,
        "y": 240,
        "wires": [
            [
                "e8563e6e61a81f57"
            ]
        ]
    },
    {
        "id": "e8563e6e61a81f57",
        "type": "join",
        "z": "b1e8375a7e256161",
        "name": "",
        "mode": "custom",
        "build": "buffer",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2810,
        "y": 240,
        "wires": [
            [
                "55ba640e6e87dfb4"
            ]
        ]
    },
    {
        "id": "55ba640e6e87dfb4",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "toBase64",
        "func": "msg.payload = msg.payload.toString(\"base64\")\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2960,
        "y": 240,
        "wires": [
            [
                "363e34d9c182ee27",
                "5edfd605554f782f"
            ]
        ]
    },
    {
        "id": "363e34d9c182ee27",
        "type": "file",
        "z": "b1e8375a7e256161",
        "name": "",
        "filename": "C:\\Users\\Anje\\Proba.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3190,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5edfd605554f782f",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3140,
        "y": 180,
        "wires": []
    },
    {
        "id": "63ec97c6eced3572",
        "type": "file in",
        "z": "b1e8375a7e256161",
        "name": "",
        "filename": "C:\\Users\\Anje\\Proba.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2810,
        "y": 320,
        "wires": [
            [
                "3a6f54952475cb5b"
            ]
        ]
    },
    {
        "id": "3a6f54952475cb5b",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "toBase64",
        "func": "msg.payload = Buffer.from(msg.payload, \"base64\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3020,
        "y": 320,
        "wires": [
            [
                "e5d0c590f3bf4116"
            ]
        ]
    },
    {
        "id": "e5d0c590f3bf4116",
        "type": "file",
        "z": "b1e8375a7e256161",
        "name": "",
        "filename": "C:\\Users\\Anje\\Proba.jpeg",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3230,
        "y": 320,
        "wires": [
            [
                "2e3d600a634bfcec",
                "6489951e0507b916"
            ]
        ]
    },
    {
        "id": "14fa17fd080eb069",
        "type": "inject",
        "z": "b1e8375a7e256161",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2600,
        "y": 320,
        "wires": [
            [
                "63ec97c6eced3572"
            ]
        ]
    },
    {
        "id": "6489951e0507b916",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "C:\\Users\\Anje\\Proba.jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3460,
        "y": 320,
        "wires": [
            [
                "5bc43e7b2f472235"
            ]
        ]
    },
    {
        "id": "53bdaafd5b292096",
        "type": "ui_template",
        "z": "b1e8375a7e256161",
        "group": "552418e0c1420f0f",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <img src={{msg.payload}}>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 3920,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0264554106f906bd",
        "type": "jimp-image",
        "z": "b1e8375a7e256161",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "500",
        "parameter1Type": "num",
        "parameter2": "",
        "parameter2Type": "auto",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 3770,
        "y": 320,
        "wires": [
            [
                "53bdaafd5b292096"
            ]
        ]
    },
    {
        "id": "904e972768ec0acc",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "Image upload",
        "info": "",
        "x": 2590,
        "y": 140,
        "wires": []
    },
    {
        "id": "2e3d600a634bfcec",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3440,
        "y": 400,
        "wires": []
    },
    {
        "id": "5bc43e7b2f472235",
        "type": "jimp-image",
        "z": "b1e8375a7e256161",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 3630,
        "y": 320,
        "wires": [
            [
                "0264554106f906bd"
            ]
        ]
    },
    {
        "id": "6d5f58f43ce125d1",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumCarbs = msg.sumCarbs;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumCarbs: sumCarbs\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1320,
        "wires": [
            [
                "4a76f7d06d864914"
            ]
        ]
    },
    {
        "id": "e2c56b793a5f0f7a",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumFats = msg.sumFats;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumFats: sumFats\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1360,
        "wires": [
            [
                "c17591df118f1247"
            ]
        ]
    },
    {
        "id": "eefef085b12554a9",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumFiber = msg.sumFiber;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumFiber: sumFiber\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1400,
        "wires": [
            [
                "76d5360b1374ad8d"
            ]
        ]
    },
    {
        "id": "511a8b4d56bcd832",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "user login",
        "func": "var loggedUser = {username: msg.username,\n            userpass: msg.userPass,\n            };\n\nmsg.payload = loggedUser;\nmsg.loggedUser = loggedUser;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 2460,
        "wires": [
            [
                "0a5a5b60dc39f3cf",
                "77a00a246ed18488"
            ]
        ]
    },
    {
        "id": "b8c197514df79f8c",
        "type": "json",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1010,
        "y": 2460,
        "wires": [
            [
                "9761909b8e72a60f"
            ]
        ]
    },
    {
        "id": "b604ab36b14aeba2",
        "type": "switch",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload.role",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "USER",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1350,
        "y": 2400,
        "wires": [
            [
                "72c8f08d7032e5ae",
                "12a961bdb49cbf6b",
                "4e6e08c8daa4c3c7"
            ],
            [
                "e49c597b3c5a0bbf"
            ]
        ]
    },
    {
        "id": "be3c207bd09a2c2c",
        "type": "ui_ui_control",
        "z": "b1e8375a7e256161",
        "name": "",
        "events": "all",
        "x": 1680,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "72c8f08d7032e5ae",
        "type": "template",
        "z": "b1e8375a7e256161",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"tabs\": {\"hide\": \"Get users and delete user\", \"disable\": \"Get users and delete user\"}}",
        "output": "json",
        "x": 1500,
        "y": 2200,
        "wires": [
            [
                "be3c207bd09a2c2c"
            ]
        ]
    },
    {
        "id": "4e6e08c8daa4c3c7",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Token timeout",
        "func": "// Target date and time (ISO 8601 format)\nconst targetTime = new Date(msg.payload.timeout);\n\n// Current time\nconst now = new Date();\n\n// Calculate the delay in milliseconds\nconst delay = targetTime.getTime() - now.getTime(); // Use .getTime() to get the numeric timestamp\n\nif (delay > 0) {\n    msg.delay = delay; // Set the delay for the next node\n    return msg;\n} else {\n    // If the target time has already passed\n    node.warn(\"The target date and time has already passed.\");\n    return null; // Stop the flow\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 2140,
        "wires": [
            [
                "1d49854cc4b0de66",
                "85ae54214a7d92c2"
            ]
        ]
    },
    {
        "id": "1d49854cc4b0de66",
        "type": "delay",
        "z": "b1e8375a7e256161",
        "name": "Wait until token timeout",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1710,
        "y": 2140,
        "wires": [
            [
                "46b0880bee7c9e52"
            ]
        ]
    },
    {
        "id": "85ae54214a7d92c2",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "TIMEOUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 2080,
        "wires": []
    },
    {
        "id": "d3c961334c95c92c",
        "type": "ui_ui_control",
        "z": "b1e8375a7e256161",
        "name": "",
        "events": "all",
        "x": 2100,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "46b0880bee7c9e52",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Back to login",
        "func": "msg.payload = \"Login\";\nflow.set('token', null)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 2140,
        "wires": [
            [
                "d3c961334c95c92c"
            ]
        ]
    },
    {
        "id": "3995ee0e76c4bc3d",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Go to initialize user",
        "func": "msg.payload = \"Initialize user\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2380,
        "wires": [
            [
                "e219b748765bd5a7"
            ]
        ]
    },
    {
        "id": "e219b748765bd5a7",
        "type": "ui_ui_control",
        "z": "b1e8375a7e256161",
        "name": "",
        "events": "all",
        "x": 580,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "c0def4992f162123",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "Debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 2500,
        "wires": []
    },
    {
        "id": "5e1021723e23cb99",
        "type": "ui_button",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "0efaaecc7e2e0e44",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Create account",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 2380,
        "wires": [
            [
                "3995ee0e76c4bc3d"
            ]
        ]
    },
    {
        "id": "89180e7f8460a980",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\n\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 2800,
        "wires": [
            [
                "d8129b76f10d6928"
            ]
        ]
    },
    {
        "id": "12a961bdb49cbf6b",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Authorization'] = `Bearer ${msg.payload.token}`;\nflow.set('token', msg.payload.token);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 2340,
        "wires": [
            [
                "e65ba849553e37d6"
            ]
        ]
    },
    {
        "id": "e49c597b3c5a0bbf",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Authorization'] = `Bearer ${msg.payload.token}`;\nflow.set('token', msg.payload.token);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 2440,
        "wires": [
            [
                "1887a99553e30649"
            ]
        ]
    },
    {
        "id": "e65ba849553e37d6",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "Get user",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/user/usersByUsername?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1700,
        "y": 2340,
        "wires": [
            [
                "932bbd3352fea58c"
            ]
        ]
    },
    {
        "id": "932bbd3352fea58c",
        "type": "json",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1850,
        "y": 2340,
        "wires": [
            [
                "b9fe92e903f1b1df"
            ]
        ]
    },
    {
        "id": "b9fe92e903f1b1df",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.username",
                "pt": "flow",
                "to": "username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 2340,
        "wires": [
            [
                "2c483dbc7a42b677",
                "b8752c0dd499072a"
            ]
        ]
    },
    {
        "id": "502b14bdfbce786a",
        "type": "json",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1890,
        "y": 2440,
        "wires": [
            [
                "2960a70ef154cb8d"
            ]
        ]
    },
    {
        "id": "1887a99553e30649",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "Get admin",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/user/adminByName?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1730,
        "y": 2440,
        "wires": [
            [
                "502b14bdfbce786a"
            ]
        ]
    },
    {
        "id": "2960a70ef154cb8d",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "admin.username",
                "pt": "flow",
                "to": "username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "admin",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "admin",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2060,
        "y": 2440,
        "wires": [
            [
                "542fda70644ced3d"
            ]
        ]
    },
    {
        "id": "542fda70644ced3d",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Go to admin tab",
        "func": "msg.payload = {\n    tab: \"Get users and delete user\" // Cambia a la pestaa donde est el segundo formulario\n};\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 2440,
        "wires": [
            [
                "01216f61d43a2178",
                "449871da78b4fc9f"
            ]
        ]
    },
    {
        "id": "b8752c0dd499072a",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "To second form",
        "func": "msg.payload = {\n    tab: \"info\" // Cambia a la pestaa donde est el segundo formulario\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 2340,
        "wires": [
            [
                "01216f61d43a2178",
                "c6b2561b8b1fef47",
                "449871da78b4fc9f"
            ]
        ]
    },
    {
        "id": "449871da78b4fc9f",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "function eta gero",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2630,
        "y": 2340,
        "wires": []
    },
    {
        "id": "01216f61d43a2178",
        "type": "ui_ui_control",
        "z": "b1e8375a7e256161",
        "name": "",
        "x": 2600,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "c6b2561b8b1fef47",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Empty msg.payload",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2630,
        "y": 2500,
        "wires": [
            [
                "79511a7a1f709317",
                "780fcbdd8487fcae"
            ]
        ]
    },
    {
        "id": "1debea659ec1f689",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\n\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 3180,
        "wires": [
            [
                "70e89e2850e7024d"
            ]
        ]
    },
    {
        "id": "e43c37ade0c8b8a2",
        "type": "ui_button",
        "z": "b1e8375a7e256161",
        "name": "",
        "group": "ab4e89ea65e8afe2",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log in",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Login",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1610,
        "y": 140,
        "wires": [
            [
                "3933dcc53cb82c12"
            ]
        ]
    },
    {
        "id": "3933dcc53cb82c12",
        "type": "ui_ui_control",
        "z": "b1e8375a7e256161",
        "name": "",
        "events": "all",
        "x": 1820,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3c3062d5a9ce2258",
        "type": "http request",
        "z": "b1e8375a7e256161",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/email/typedCode?writtenCode={{{writtenCode}}}&verifyMail={{{verifyMail}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "9fe1a8656e9b0493"
            ]
        ]
    },
    {
        "id": "186578beb3bf0e36",
        "type": "ui_form",
        "z": "b1e8375a7e256161",
        "name": "",
        "label": "",
        "group": "ac2ca33a9aa6e434",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Code",
                "value": "writtenCode",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "writtenCode": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "a23445f244984042"
            ]
        ]
    },
    {
        "id": "d817df82d6971ca7",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "a66b79c8971a62ae",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "0f946b70dd2029c3",
        "type": "json",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "d6b23f13cd4fad09",
                "8a701ecfe042d494"
            ]
        ]
    },
    {
        "id": "d6b23f13cd4fad09",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "8a701ecfe042d494",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "function 50",
        "func": "var code = msg.payload.verificationCode;\ncode = code.toString();\nmsg.verifyMail = code;\nvar user = flow.get('user')||0;\nmsg.payload = user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 160,
        "wires": [
            [
                "d817df82d6971ca7",
                "ae90a8e771866b39"
            ]
        ]
    },
    {
        "id": "ae90a8e771866b39",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 160,
        "wires": [
            [
                "3c3062d5a9ce2258"
            ]
        ]
    },
    {
        "id": "5f2568267fbd8aa0",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1590,
        "y": 460,
        "wires": []
    },
    {
        "id": "dbf6db2f3d3c1ccf",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 460,
        "wires": [
            [
                "5f2568267fbd8aa0"
            ]
        ]
    },
    {
        "id": "24f2cbf4842b26d3",
        "type": "ui_toast",
        "z": "b1e8375a7e256161",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1420,
        "y": 540,
        "wires": []
    },
    {
        "id": "8b2b99a1dc0b4e1e",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 540,
        "wires": [
            [
                "24f2cbf4842b26d3"
            ]
        ]
    },
    {
        "id": "b0da90c056cea2ff",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "function 52",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 420,
        "wires": [
            [
                "a71d0ab4c20137ab",
                "dbf6db2f3d3c1ccf"
            ]
        ]
    },
    {
        "id": "a71d0ab4c20137ab",
        "type": "debug",
        "z": "b1e8375a7e256161",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 380,
        "wires": []
    },
    {
        "id": "e0c5ca377cf52a11",
        "type": "ui_ui_control",
        "z": "b1e8375a7e256161",
        "name": "",
        "events": "all",
        "x": 1330,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "fb2972de03f16752",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "function 53",
        "func": "msg.emailVerification = msg.payload;\nmsg.payload =\n{\n    tab: \"Email verification\"\n};\n\nflow.set('emailVerification', msg.emailVerification);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 320,
        "wires": [
            [
                "e0c5ca377cf52a11"
            ]
        ]
    },
    {
        "id": "3ee01fcc7066401d",
        "type": "switch",
        "z": "b1e8375a7e256161",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 950,
        "y": 340,
        "wires": [
            [
                "fb2972de03f16752"
            ],
            [
                "b0da90c056cea2ff"
            ],
            [
                "8b2b99a1dc0b4e1e"
            ]
        ]
    },
    {
        "id": "a23445f244984042",
        "type": "change",
        "z": "b1e8375a7e256161",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "writtenCode",
                "pt": "msg",
                "to": "payload.writtenCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "emailVerification",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "a66b79c8971a62ae",
                "0f946b70dd2029c3"
            ]
        ]
    },
    {
        "id": "a7113d96b4bd78af",
        "type": "comment",
        "z": "b1e8375a7e256161",
        "name": "Initalize user (POST)",
        "info": "",
        "x": 230,
        "y": 420,
        "wires": []
    },
    {
        "id": "282c81d3b11e7ace",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Append to weight",
        "func": "const inp = msg.payload;\n\nvar outObj = [{\n    series: [\"Current Weight\"],\n    data: [[]],\n    labels: [\"\"]\n}]\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.registerDate,\n        y: item.weight\n    })\n}\n\nmsg.payload = outObj;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 2760,
        "wires": [
            [
                "79511a7a1f709317"
            ]
        ]
    },
    {
        "id": "51d7aae6655d1da2",
        "type": "function",
        "z": "b1e8375a7e256161",
        "name": "Append to goalWeight",
        "func": "const inp = msg.payload;\n\nvar outObj = [{\n    series: [\"Goal Weight\"],\n    data: [[]],\n    labels: [\"\"]\n}]\n\nlet registerDate = 0;\nlet durationInMs = 0\n\nfor (let item of inp) {\n    registerDate = new Date(item.registerDate); // Convert to Date object\n    durationInMs = item.durationToAchieveGoalWeight * 24 * 60 * 60 * 1000;\n\n    let newDate = new Date(registerDate.getTime() + durationInMs);\n\n    outObj[0].data[0].push({\n        x: newDate,\n        y: item.goalWeight\n    });\n}\n\nmsg.payload = outObj;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 2820,
        "wires": [
            [
                "780fcbdd8487fcae"
            ]
        ]
    },
    {
        "id": "ab4e89ea65e8afe2",
        "type": "ui_group",
        "name": "Create user",
        "tab": "14ab3ba17e8a6109",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e817738b787808c7",
        "type": "ui_group",
        "name": "Current users",
        "tab": "6d750a644eb49fc9",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4005b03c7e843643",
        "type": "ui_group",
        "name": "Modify form",
        "tab": "347ee55c1d504f81",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6050b0fc904b459",
        "type": "ui_group",
        "name": "Current users",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1e7f2dc686974e6",
        "type": "ui_group",
        "name": "General data",
        "tab": "e0746486e65a943e",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "693ac7a97f52de17",
        "type": "ui_group",
        "name": "Donut group",
        "tab": "9ceb9e29b5241cee",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "409d71e75864cec8",
        "type": "ui_group",
        "name": "Donut group 2",
        "tab": "9ceb9e29b5241cee",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b40b58b28945e29",
        "type": "ui_group",
        "name": "Water group",
        "tab": "9ceb9e29b5241cee",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25c50f5ae4ef8c6c",
        "type": "ui_group",
        "name": "Food form",
        "tab": "a69a38c77bc1176b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0efaaecc7e2e0e44",
        "type": "ui_group",
        "name": "login",
        "tab": "7a5a7de9a0f118fa",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "acafc1421f2a6d98",
        "type": "ui_group",
        "name": "info",
        "tab": "f3774d9429b5a5a6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "36ef8e19e88aa212",
        "type": "ui_group",
        "name": "graphic",
        "tab": "f3774d9429b5a5a6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "552418e0c1420f0f",
        "type": "ui_group",
        "name": "Image",
        "tab": "a35fd1f78a96c459",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac2ca33a9aa6e434",
        "type": "ui_group",
        "name": "verification",
        "tab": "50ef15584d68509c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "14ab3ba17e8a6109",
        "type": "ui_tab",
        "name": "Create user",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "6d750a644eb49fc9",
        "type": "ui_tab",
        "name": "Get users and delete user",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "347ee55c1d504f81",
        "type": "ui_tab",
        "name": "Modify user",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e0746486e65a943e",
        "type": "ui_tab",
        "name": "Initialize user",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "9ceb9e29b5241cee",
        "type": "ui_tab",
        "name": "Main page",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a69a38c77bc1176b",
        "type": "ui_tab",
        "name": "Food tab",
        "icon": "dashboard",
        "order": 13,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7a5a7de9a0f118fa",
        "type": "ui_tab",
        "name": "Login",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "f3774d9429b5a5a6",
        "type": "ui_tab",
        "name": "info",
        "icon": "dashboard",
        "order": 16,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a35fd1f78a96c459",
        "type": "ui_tab",
        "name": "Image upload",
        "icon": "dashboard",
        "order": 14,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "50ef15584d68509c",
        "type": "ui_tab",
        "name": "Email verification",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]