form_dashboard.json
[
    {
        "id": "736fa702b572964b",
        "type": "tab",
        "label": "Dashboard-arekin",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a609dd37b5f21340",
        "type": "ui_form",
        "z": "736fa702b572964b",
        "name": "",
        "label": "",
        "group": "ab4e89ea65e8afe2",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "uname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Second Name",
                "value": "secondName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Gender",
                "value": "gender",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Age",
                "value": "age",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Height",
                "value": "height",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "user Password",
                "value": "userPass",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "activity",
                "value": "activity",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Premium",
                "value": "premium",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "objective",
                "value": "objective",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "neck",
                "value": "neck",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "waist",
                "value": "waist",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "hips",
                "value": "hips",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uname": "",
            "secondName": "",
            "gender": "",
            "age": "",
            "height": "",
            "username": "",
            "email": "",
            "userPass": "",
            "activity": "",
            "premium": "",
            "objective": "",
            "neck": "",
            "waist": "",
            "hips": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "611720b570b3c325"
            ]
        ]
    },
    {
        "id": "ad1c7916329f2f13",
        "type": "debug",
        "z": "736fa702b572964b",
        "name": "click sortu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "da1f62e75ef54eca",
        "type": "ui_toast",
        "z": "736fa702b572964b",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1590,
        "y": 220,
        "wires": []
    },
    {
        "id": "11f664e83e0f01dc",
        "type": "change",
        "z": "736fa702b572964b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User created",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 240,
        "wires": [
            [
                "da1f62e75ef54eca"
            ]
        ]
    },
    {
        "id": "611720b570b3c325",
        "type": "function",
        "z": "736fa702b572964b",
        "name": "user selection",
        "func": "var user = {uname: msg.payload.uname,\n            secondName: msg.payload.secondName,\n            gender: msg.payload.gender,\n            age: msg.payload.age,\n            height: msg.payload.height,\n            username: msg.payload.username,\n            email: msg.payload.email,\n            userPass: msg.payload.userPass,\n            premium: msg.payload.premium,\n            objective: msg.payload.objective,\n            neck: msg.payload.neck,\n            waist: msg.payload.waist,\n            hips: msg.payload.hips\n            };\n\nmsg.payload = user;\nmsg.user=user;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 100,
        "wires": [
            [
                "dce2cbdfb30bcfd2",
                "e442bf88850d4e4b"
            ]
        ]
    },
    {
        "id": "dce2cbdfb30bcfd2",
        "type": "debug",
        "z": "736fa702b572964b",
        "name": "click funtzioa eta gero",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "0b304ee4fc955083",
        "type": "http request",
        "z": "736fa702b572964b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/add",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "df18d9ce30fba826",
                "a53f3582c9820d2d"
            ]
        ]
    },
    {
        "id": "e442bf88850d4e4b",
        "type": "function",
        "z": "736fa702b572964b",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 340,
        "wires": [
            [
                "0b304ee4fc955083"
            ]
        ]
    },
    {
        "id": "e93c013ec192a687",
        "type": "debug",
        "z": "736fa702b572964b",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "user",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 400,
        "wires": []
    },
    {
        "id": "df18d9ce30fba826",
        "type": "debug",
        "z": "736fa702b572964b",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 440,
        "wires": []
    },
    {
        "id": "a53f3582c9820d2d",
        "type": "switch",
        "z": "736fa702b572964b",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "319a96db602c6bf3"
            ],
            [
                "8b3bb68b142ff4a9"
            ],
            [
                "36b9b64ce4c0fb27"
            ]
        ]
    },
    {
        "id": "217b73385d26b92b",
        "type": "debug",
        "z": "736fa702b572964b",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "a933674025c3f732",
        "type": "debug",
        "z": "736fa702b572964b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "8b3bb68b142ff4a9",
        "type": "function",
        "z": "736fa702b572964b",
        "name": "function 27",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 360,
        "wires": [
            [
                "217b73385d26b92b",
                "1d0b731448983de2"
            ]
        ]
    },
    {
        "id": "4fd84e9f911fbc77",
        "type": "debug",
        "z": "736fa702b572964b",
        "name": "mysitepost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 300,
        "wires": []
    },
    {
        "id": "319a96db602c6bf3",
        "type": "change",
        "z": "736fa702b572964b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "a933674025c3f732",
                "d7867838a79bd216"
            ]
        ]
    },
    {
        "id": "d7867838a79bd216",
        "type": "change",
        "z": "736fa702b572964b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1095,
        "y": 265.1875,
        "wires": [
            [
                "4fd84e9f911fbc77",
                "11f664e83e0f01dc"
            ]
        ]
    },
    {
        "id": "e5f5ad222d103e27",
        "type": "ui_toast",
        "z": "736fa702b572964b",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "1d0b731448983de2",
        "type": "change",
        "z": "736fa702b572964b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "e5f5ad222d103e27"
            ]
        ]
    },
    {
        "id": "36b9b64ce4c0fb27",
        "type": "change",
        "z": "736fa702b572964b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 480,
        "wires": [
            [
                "ef2ba1727bc19108"
            ]
        ]
    },
    {
        "id": "57ce92e8a41fcf8a",
        "type": "ui_dropdown",
        "z": "736fa702b572964b",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "32b9552d90e5b712",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "topic 1",
                "value": "Topic",
                "type": "str"
            },
            {
                "label": "topic 2",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1620,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "77e84050824f612d",
        "type": "ui_slider",
        "z": "736fa702b572964b",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 1470,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ef2ba1727bc19108",
        "type": "ui_toast",
        "z": "736fa702b572964b",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "ab4e89ea65e8afe2",
        "type": "ui_group",
        "name": "Function",
        "tab": "14ab3ba17e8a6109",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "32b9552d90e5b712",
        "type": "ui_group",
        "name": "Function",
        "tab": "886932600ce55e88",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "14ab3ba17e8a6109",
        "type": "ui_tab",
        "name": "Form",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "886932600ce55e88",
        "type": "ui_tab",
        "name": "Dropdown",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]