Node-red.json
[
    {
        "id": "27766e760213ddde",
        "type": "tab",
        "label": "PBLproba",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3f3983ddaa9a1a75",
        "type": "http in",
        "z": "27766e760213ddde",
        "name": "",
        "url": "/myinfo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "3640f76ce20bd87c"
            ]
        ]
    },
    {
        "id": "3640f76ce20bd87c",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "function 22",
        "func": "msg.payload = \"hello world\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 140,
        "wires": [
            [
                "64227cba9eb6b7d5"
            ]
        ]
    },
    {
        "id": "64227cba9eb6b7d5",
        "type": "http response",
        "z": "27766e760213ddde",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "1e0841f1.ac68fe",
        "type": "http in",
        "z": "27766e760213ddde",
        "name": "",
        "url": "/mysite",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "4c783328.03dc2c"
            ]
        ]
    },
    {
        "id": "5de0bbd4.6c8574",
        "type": "http in",
        "z": "27766e760213ddde",
        "name": "",
        "url": "/mysitedelete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 820,
        "wires": [
            [
                "80321000.f2dc5",
                "77f50abc41a5173a"
            ]
        ]
    },
    {
        "id": "4c783328.03dc2c",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "msg.url = \"mysitedelete\";",
        "func": "msg.url = \"mysitedelete\";\n\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 580,
        "wires": [
            [
                "b2f5bdf9.e09f1"
            ]
        ]
    },
    {
        "id": "80321000.f2dc5",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 410,
        "y": 880,
        "wires": []
    },
    {
        "id": "8de9647.b8a9a98",
        "type": "http response",
        "z": "27766e760213ddde",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1390,
        "y": 780,
        "wires": []
    },
    {
        "id": "b2972258.ecf54",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}",
        "x": 650,
        "y": 680,
        "wires": [
            [
                "f3b55ea2.f4d51"
            ]
        ]
    },
    {
        "id": "b2f5bdf9.e09f1",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "plain",
        "template": "$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});",
        "x": 490,
        "y": 680,
        "wires": [
            [
                "b2972258.ecf54"
            ]
        ]
    },
    {
        "id": "d2c0bc2a.05a02",
        "type": "http response",
        "z": "27766e760213ddde",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 680,
        "wires": []
    },
    {
        "id": "f3b55ea2.f4d51",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Using CSS to style an HTML form with AJAX POST and Node-RED</h2>\n    <h4><a href=\"http://www.internetoflego.com\">Internet of LEGO</a></h4>\n\n<div>\n  {{{payload.users}}}\n</div>\n\n<div>\n  <form method=\"delete\" action=\"/{{url}}\" ajax=\"true\">\n    <p>DELETE</p>\n    <label for=\"name\">name</label>\n    <input type=\"text\" id=\"name\" name=\"name\">\n\n    <label for=\"secondName\">secondName</label>\n    <input type=\"text\" id=\"secondName\" name=\"secondName\">\n\n    <label for=\"username\">username</label>\n    <select id=\"username\" name=\"username\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>",
        "x": 790,
        "y": 680,
        "wires": [
            [
                "d2c0bc2a.05a02",
                "9f47f2803b5c6711"
            ]
        ]
    },
    {
        "id": "57316751.8bd948",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Login Form",
        "info": "",
        "x": 450,
        "y": 640,
        "wires": []
    },
    {
        "id": "42a9d329.9cdf6c",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Inject msg object properties",
        "info": "",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "75913f37.78e6e",
        "type": "json",
        "z": "27766e760213ddde",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "86c08a83.385758",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Website DELETE",
        "info": "",
        "x": 260,
        "y": 500,
        "wires": []
    },
    {
        "id": "111485fa.14c4aa",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Form Submission",
        "info": "",
        "x": 260,
        "y": 720,
        "wires": []
    },
    {
        "id": "3c029955.901626",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Node-RED Public Site - README",
        "info": "This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "aa08b540fe1ff5f8",
        "type": "inject",
        "z": "27766e760213ddde",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "8ee3c1ab524e352b"
            ]
        ]
    },
    {
        "id": "8ee3c1ab524e352b",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "5b15462263f3979e"
            ]
        ]
    },
    {
        "id": "5b15462263f3979e",
        "type": "http request",
        "z": "27766e760213ddde",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 1040,
        "wires": [
            [
                "803288561bec483b"
            ]
        ]
    },
    {
        "id": "803288561bec483b",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1040,
        "wires": []
    },
    {
        "id": "36b8fa2ed4d61ffe",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "GET",
        "info": "",
        "x": 130,
        "y": 980,
        "wires": []
    },
    {
        "id": "c6541a16f632d06e",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 780,
        "wires": [
            [
                "09abfbf6519682c8"
            ]
        ]
    },
    {
        "id": "09abfbf6519682c8",
        "type": "http request",
        "z": "27766e760213ddde",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1230,
        "y": 780,
        "wires": [
            [
                "8de9647.b8a9a98"
            ]
        ]
    },
    {
        "id": "84675c2ca1384444",
        "type": "http request",
        "z": "27766e760213ddde",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/delete/{{{id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 780,
        "wires": [
            [
                "c6541a16f632d06e"
            ]
        ]
    },
    {
        "id": "1f86dd79380fd17a",
        "type": "http in",
        "z": "27766e760213ddde",
        "name": "",
        "url": "/mysitepostn",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1520,
        "wires": [
            [
                "d533bcb303227cd0",
                "555ec62201e7d947"
            ]
        ]
    },
    {
        "id": "d533bcb303227cd0",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 770,
        "y": 1520,
        "wires": []
    },
    {
        "id": "c7cd9e581da06fea",
        "type": "http response",
        "z": "27766e760213ddde",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 1480,
        "wires": []
    },
    {
        "id": "605c2c96c99aa7da",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "return msg.payload to client",
        "func": "msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;\n/*\nvar payload = {\n    userID = 0,\n    name = payload.name,\n    secondName = payload.secondName,\n\n} \n\nuserID bigint auto_increment,\n    name char(255) NOT NULL,\n    secondName char(255),\n    gender enum(\"MALE\",\"FEMALE\",\"NON-BINARY\") NOT NULL,\n    birthdate date NOT NULL,\n    height int NOT NULL,\n    weight int NOT NULL,\n    username char(255) UNIQUE NOT NULL,\n    email char(255) UNIQUE NOT NULL,\n    password char(255) NOT NULL,\n    #restrictionsID bigint, # FOREIGN KEY TO RESTRICTIONS TABLE\n    activity enum(\"1-2\",\"3-4\",\"5-6\",\"7\"),\n    premium boolean NOT NULL,\n    neck int NOT NULL,\n    waist int NOT NULL,*/",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1480,
        "wires": [
            [
                "c7cd9e581da06fea"
            ]
        ]
    },
    {
        "id": "555ec62201e7d947",
        "type": "json",
        "z": "27766e760213ddde",
        "name": "",
        "x": 330,
        "y": 1480,
        "wires": [
            [
                "605c2c96c99aa7da",
                "3a4712e58e0b0707"
            ]
        ]
    },
    {
        "id": "afc2b1e78d69afa5",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Form Submission",
        "info": "",
        "x": 120,
        "y": 1460,
        "wires": []
    },
    {
        "id": "3a4712e58e0b0707",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1340,
        "wires": []
    },
    {
        "id": "77f50abc41a5173a",
        "type": "change",
        "z": "27766e760213ddde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "6",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 760,
        "wires": [
            [
                "bcc21aa51a13a184",
                "84675c2ca1384444"
            ]
        ]
    },
    {
        "id": "bcc21aa51a13a184",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "user",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 860,
        "wires": []
    },
    {
        "id": "5bd9b3229b68f6d2",
        "type": "http in",
        "z": "27766e760213ddde",
        "name": "",
        "url": "/mysiteM",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1760,
        "wires": [
            [
                "a29fae1264ae3381"
            ]
        ]
    },
    {
        "id": "f3c3628a4ea14a5f",
        "type": "http in",
        "z": "27766e760213ddde",
        "name": "",
        "url": "/mysitepost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 2000,
        "wires": [
            [
                "327f755217fd3e2e",
                "b3e30c54fbf9074f"
            ]
        ]
    },
    {
        "id": "a29fae1264ae3381",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "msg.url = \"mysitepost\";",
        "func": "msg.url = \"mysitepost\";\n\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1760,
        "wires": [
            [
                "a23a3f0fd51c79f5"
            ]
        ]
    },
    {
        "id": "327f755217fd3e2e",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 570,
        "y": 2120,
        "wires": []
    },
    {
        "id": "338f433302a4c6f1",
        "type": "http response",
        "z": "27766e760213ddde",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1620,
        "y": 2000,
        "wires": []
    },
    {
        "id": "3e1f473ca9046e25",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}",
        "x": 570,
        "y": 1860,
        "wires": [
            [
                "49aebe9a088f4345"
            ]
        ]
    },
    {
        "id": "a23a3f0fd51c79f5",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "plain",
        "template": "$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});",
        "x": 410,
        "y": 1860,
        "wires": [
            [
                "3e1f473ca9046e25"
            ]
        ]
    },
    {
        "id": "3440f7c4cfacf9e4",
        "type": "http response",
        "z": "27766e760213ddde",
        "name": "",
        "x": 850,
        "y": 1860,
        "wires": []
    },
    {
        "id": "49aebe9a088f4345",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n<div>\n  {{{payload.users}}}\n</div>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"name\">name</label>\n    <input type=\"text\" id=\"name\" name=\"name\">\n\n    <label for=\"secondName\">secondName</label>\n    <input type=\"text\" id=\"secondName\" name=\"secondName\">\n\n    <label for=\"gender\">gender</label>\n    <select id=\"gender\" name=\"gender\">\n      <option value=\"MALE\">MALE</option>\n      <option value=\"FEMALE\">FEMALE</option>\n    </select>\n\n    <label for=\"birthdate\">birthdate</label>\n    <input type=\"date\" id=\"birthdate\" name=\"birthdate\">\n\n    <br>\n    <label for=\"height\">height</label>\n    <input type=\"number\" id=\"height\" name=\"height\">\n\n    <label for=\"weight\">weight</label>\n    <input type=\"number\" id=\"weight\" name=\"weight\">\n\n    <br>\n    <label for=\"username\">username</label>\n    <input type=\"text\" id=\"username\" name=\"username\">\n\n    <label for=\"email\">email</label>\n    <input type=\"text\" id=\"email\" name=\"email\">\n\n    <label for=\"password\">password</label>\n    <input type=\"password\" id=\"password\" name=\"password\">\n\n    <br>\n    <label for=\"activity\">activity</label>\n    <select id=\"activity\" name=\"activity\">\n      <option value=\"1-2\">1-2</option>\n      <option value=\"3-4\">3-4</option>\n      <option value=\"5-6\">5-6</option>\n      <option value=\"7\">7</option>\n    </select>\n\n    <label for=\"premium\">premium</label>\n    <input type=\"text\" id=\"premium\" name=\"premium\">\n\n    <label for=\"neck\">neck</label>\n    <input type=\"number\" id=\"neck\" name=\"neck\">\n\n    <label for=\"waist\">waist</label>\n    <input type=\"number\" id=\"waist\" name=\"waist\">\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>",
        "x": 710,
        "y": 1860,
        "wires": [
            [
                "3440f7c4cfacf9e4",
                "83a719d1e7d4f34a"
            ]
        ]
    },
    {
        "id": "aeb733c3d35f7bad",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Login Form",
        "info": "",
        "x": 370,
        "y": 1820,
        "wires": []
    },
    {
        "id": "c340e19b27f5e0a8",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Inject msg object properties",
        "info": "",
        "x": 380,
        "y": 1720,
        "wires": []
    },
    {
        "id": "d7de15860a6fe3ad",
        "type": "json",
        "z": "27766e760213ddde",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "f8b37f82fb8107c5",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Website GET ETA POST ONDO",
        "info": "",
        "x": 230,
        "y": 1680,
        "wires": []
    },
    {
        "id": "7d9336fdfa1cd619",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Form Submission",
        "info": "",
        "x": 180,
        "y": 1900,
        "wires": []
    },
    {
        "id": "ec87feb7d4f317fa",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 2100,
        "wires": [
            [
                "9af19586933da9f1"
            ]
        ]
    },
    {
        "id": "9af19586933da9f1",
        "type": "http request",
        "z": "27766e760213ddde",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1390,
        "y": 2000,
        "wires": [
            [
                "338f433302a4c6f1",
                "3420f5567bfd356f"
            ]
        ]
    },
    {
        "id": "29c0ca4a2a78e502",
        "type": "http request",
        "z": "27766e760213ddde",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/add",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 1960,
        "wires": [
            [
                "342f1e798fab0433",
                "0308f75d53d5cc98"
            ]
        ]
    },
    {
        "id": "88dd20a09184af88",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1960,
        "wires": [
            [
                "29c0ca4a2a78e502"
            ]
        ]
    },
    {
        "id": "b3e30c54fbf9074f",
        "type": "change",
        "z": "27766e760213ddde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1940,
        "wires": [
            [
                "88dd20a09184af88",
                "a4635332871b10cf"
            ]
        ]
    },
    {
        "id": "a4635332871b10cf",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "user",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 2040,
        "wires": []
    },
    {
        "id": "9f47f2803b5c6711",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "83a719d1e7d4f34a",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 756.2000122070312,
        "y": 1786,
        "wires": []
    },
    {
        "id": "754d4eca8f550dc4",
        "type": "http in",
        "z": "27766e760213ddde",
        "name": "",
        "url": "/mysiteN",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 2300,
        "wires": [
            [
                "44abe9dcbc758518"
            ]
        ]
    },
    {
        "id": "0389da681678e5e8",
        "type": "http in",
        "z": "27766e760213ddde",
        "name": "",
        "url": "/mysiteput",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 2540,
        "wires": [
            [
                "22348d0f31ba7ef0",
                "53b9d6a8339bd495"
            ]
        ]
    },
    {
        "id": "44abe9dcbc758518",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "msg.url = \"mysiteput\";",
        "func": "msg.url = \"mysiteput\";\n\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2300,
        "wires": [
            [
                "fa078133bafc17b3"
            ]
        ]
    },
    {
        "id": "22348d0f31ba7ef0",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 330,
        "y": 2600,
        "wires": []
    },
    {
        "id": "e8312c4182a1703b",
        "type": "http response",
        "z": "27766e760213ddde",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 2500,
        "wires": []
    },
    {
        "id": "9418f288cb83fee4",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}",
        "x": 570,
        "y": 2400,
        "wires": [
            [
                "bc88478f469d1daa"
            ]
        ]
    },
    {
        "id": "fa078133bafc17b3",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "plain",
        "template": "$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});",
        "x": 410,
        "y": 2400,
        "wires": [
            [
                "9418f288cb83fee4"
            ]
        ]
    },
    {
        "id": "e945893ebc7421ca",
        "type": "http response",
        "z": "27766e760213ddde",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 2400,
        "wires": []
    },
    {
        "id": "bc88478f469d1daa",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n\n\n<div>\n  <form method=\"put\" action=\"/{{url}}\" ajax=\"true\">\n    <p>PUT</p>\n    <label for=\"name\">name</label>\n    <input type=\"text\" id=\"name\" name=\"name\">\n\n    <label for=\"secondName\">secondName</label>\n    <input type=\"text\" id=\"secondName\" name=\"secondName\">\n\n    <label for=\"username\">username</label>\n    <select id=\"username\" name=\"username\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>",
        "x": 710,
        "y": 2400,
        "wires": [
            [
                "e945893ebc7421ca",
                "d8ea487fc9790689"
            ]
        ]
    },
    {
        "id": "c490609f918a3501",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Login Form",
        "info": "",
        "x": 370,
        "y": 2360,
        "wires": []
    },
    {
        "id": "a9df9901afc128dd",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Inject msg object properties",
        "info": "",
        "x": 380,
        "y": 2260,
        "wires": []
    },
    {
        "id": "2fab29c5a4b5966a",
        "type": "json",
        "z": "27766e760213ddde",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "7d9e8ed8844dbae6",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Website PUT",
        "info": "",
        "x": 170,
        "y": 2220,
        "wires": []
    },
    {
        "id": "f109f0a8d7494999",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Form Submission",
        "info": "",
        "x": 180,
        "y": 2440,
        "wires": []
    },
    {
        "id": "a174bc7f8f2cd1bd",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 2500,
        "wires": [
            [
                "6c163173696067ae"
            ]
        ]
    },
    {
        "id": "6c163173696067ae",
        "type": "http request",
        "z": "27766e760213ddde",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 2500,
        "wires": [
            [
                "e8312c4182a1703b"
            ]
        ]
    },
    {
        "id": "feaae38b0d54f20c",
        "type": "http request",
        "z": "27766e760213ddde",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/modify/{{{id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 2500,
        "wires": [
            [
                "a174bc7f8f2cd1bd"
            ]
        ]
    },
    {
        "id": "cb1b5c83a5ce0be9",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 2500,
        "wires": [
            [
                "feaae38b0d54f20c"
            ]
        ]
    },
    {
        "id": "53b9d6a8339bd495",
        "type": "change",
        "z": "27766e760213ddde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2480,
        "wires": [
            [
                "cb1b5c83a5ce0be9",
                "92a168130d85cb8e"
            ]
        ]
    },
    {
        "id": "92a168130d85cb8e",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "user",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 2580,
        "wires": []
    },
    {
        "id": "d8ea487fc9790689",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 770,
        "y": 2320,
        "wires": []
    },
    {
        "id": "db91bcc1acb4a26a",
        "type": "http in",
        "z": "27766e760213ddde",
        "name": "",
        "url": "/mysite",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 2760,
        "wires": [
            [
                "b9674c3b58f74644"
            ]
        ]
    },
    {
        "id": "f4c5b0a57cdcf768",
        "type": "http in",
        "z": "27766e760213ddde",
        "name": "",
        "url": "/mysitedelete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 3000,
        "wires": [
            [
                "64e890d82a92f028",
                "1f6cb13e56d01b20"
            ]
        ]
    },
    {
        "id": "b9674c3b58f74644",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "msg.url = \"mysitedelete\";",
        "func": "msg.url = \"mysitedelete\";\n\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 2760,
        "wires": [
            [
                "5560d0193f9d8ce7"
            ]
        ]
    },
    {
        "id": "64e890d82a92f028",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 330,
        "y": 3060,
        "wires": []
    },
    {
        "id": "a396d20ad5b01c13",
        "type": "http response",
        "z": "27766e760213ddde",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 2960,
        "wires": []
    },
    {
        "id": "83afaec5ab597726",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}",
        "x": 570,
        "y": 2860,
        "wires": [
            [
                "f83c63c5a3c4d707"
            ]
        ]
    },
    {
        "id": "5560d0193f9d8ce7",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "plain",
        "template": "$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});",
        "x": 410,
        "y": 2860,
        "wires": [
            [
                "83afaec5ab597726"
            ]
        ]
    },
    {
        "id": "15c4fe3265e79572",
        "type": "http response",
        "z": "27766e760213ddde",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 2860,
        "wires": []
    },
    {
        "id": "f83c63c5a3c4d707",
        "type": "template",
        "z": "27766e760213ddde",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n\n<div>\n  <form method=\"delete\" action=\"/{{url}}\" ajax=\"true\">\n    <p>DELETE</p>\n    <label for=\"name\">name</label>\n    <input type=\"text\" id=\"name\" name=\"name\">\n\n    <label for=\"secondName\">secondName</label>\n    <input type=\"text\" id=\"secondName\" name=\"secondName\">\n\n    <label for=\"username\">username</label>\n    <select id=\"username\" name=\"username\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>",
        "x": 710,
        "y": 2860,
        "wires": [
            [
                "15c4fe3265e79572",
                "484111b6fb3a1d72"
            ]
        ]
    },
    {
        "id": "e65f7bcb525cb648",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Login Form",
        "info": "",
        "x": 370,
        "y": 2820,
        "wires": []
    },
    {
        "id": "e1c9fb3a8d9fc085",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Inject msg object properties",
        "info": "",
        "x": 380,
        "y": 2720,
        "wires": []
    },
    {
        "id": "cf16a29967e9da85",
        "type": "json",
        "z": "27766e760213ddde",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 2940,
        "wires": [
            []
        ]
    },
    {
        "id": "dd255758093c1b52",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Website DELETE",
        "info": "",
        "x": 180,
        "y": 2680,
        "wires": []
    },
    {
        "id": "0b70f0027b161186",
        "type": "comment",
        "z": "27766e760213ddde",
        "name": "Form Submission",
        "info": "",
        "x": 180,
        "y": 2900,
        "wires": []
    },
    {
        "id": "0f80c0f43d690b70",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 2960,
        "wires": [
            [
                "2cec349c555cc34d"
            ]
        ]
    },
    {
        "id": "2cec349c555cc34d",
        "type": "http request",
        "z": "27766e760213ddde",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 2960,
        "wires": [
            [
                "a396d20ad5b01c13"
            ]
        ]
    },
    {
        "id": "573115a1f69762b4",
        "type": "http request",
        "z": "27766e760213ddde",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/delete/{{{id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 2960,
        "wires": [
            [
                "0f80c0f43d690b70"
            ]
        ]
    },
    {
        "id": "1f6cb13e56d01b20",
        "type": "change",
        "z": "27766e760213ddde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2940,
        "wires": [
            [
                "972a4b6f922701ac",
                "573115a1f69762b4"
            ]
        ]
    },
    {
        "id": "972a4b6f922701ac",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "user",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 3040,
        "wires": []
    },
    {
        "id": "484111b6fb3a1d72",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mysitepost",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 770,
        "y": 2780,
        "wires": []
    },
    {
        "id": "342f1e798fab0433",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990.2000122070312,
        "y": 2078.39990234375,
        "wires": []
    },
    {
        "id": "0308f75d53d5cc98",
        "type": "switch",
        "z": "27766e760213ddde",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 1960,
        "wires": [
            [
                "ef6378d7136d6deb"
            ],
            [
                "ec87feb7d4f317fa"
            ]
        ]
    },
    {
        "id": "f76700c4ac6ead6e",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 1840,
        "wires": []
    },
    {
        "id": "3420f5567bfd356f",
        "type": "debug",
        "z": "27766e760213ddde",
        "name": "ondo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 2080,
        "wires": []
    },
    {
        "id": "ef6378d7136d6deb",
        "type": "function",
        "z": "27766e760213ddde",
        "name": "function 23",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1840,
        "wires": [
            [
                "338f433302a4c6f1",
                "f76700c4ac6ead6e"
            ]
        ]
    }
]