register_emailVerification.json
[
    {
        "id": "7a5a17e5bfbdac35",
        "type": "tab",
        "label": "User services w/dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be4866ab76bb7cf1",
        "type": "ui_form",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "label": "",
        "group": "ab4e89ea65e8afe2",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "uname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Second Name",
                "value": "secondName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Age",
                "value": "age",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Height",
                "value": "height",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "user Password",
                "value": "userPass",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "neck",
                "value": "neck",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "waist",
                "value": "waist",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "hips",
                "value": "hips",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uname": "",
            "secondName": "",
            "age": "",
            "height": "",
            "username": "",
            "email": "",
            "userPass": "",
            "neck": "",
            "waist": "",
            "hips": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "76f2eb9b69be8cc5",
                "4328c77c2286f929"
            ]
        ]
    },
    {
        "id": "2f478dad08916127",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2980,
        "y": 120,
        "wires": []
    },
    {
        "id": "c22a9336d2f4e656",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User created",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2780,
        "y": 120,
        "wires": [
            [
                "2f478dad08916127"
            ]
        ]
    },
    {
        "id": "76f2eb9b69be8cc5",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "user selection",
        "func": "var userGender = flow.get('user.gender') || 0;\nvar activityLevel = flow.get('user.activityLevel') || 0;\nvar premium = flow.get('user.premium') || 0;\nvar userObjective = flow.get('user.objective') || 0;\n\n\n\n\nvar user = {uname: msg.payload.uname,\n            secondName: msg.payload.secondName,\n            gender: userGender,\n            age: msg.payload.age,\n            height: msg.payload.height,\n            username: msg.payload.username,\n            email: msg.payload.email,\n            userPass: msg.payload.userPass,\n            activityLevel: activityLevel,\n            premium: premium,\n            objective: userObjective,\n            neck: msg.payload.neck,\n            waist: msg.payload.waist,\n            hips: msg.payload.hips\n            };\n\nmsg.payload = user;\nmsg.user=user;\n\nflow.set('user', user);\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "da7f919ea43256cc",
                "8129b997c46ac167"
            ]
        ]
    },
    {
        "id": "8129b997c46ac167",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "User to send",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "61ea6dbf169a2369",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/register",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 260,
        "wires": [
            [
                "7e61928aa56288fa",
                "d2f057f70cf821c1"
            ]
        ]
    },
    {
        "id": "da7f919ea43256cc",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            [
                "61ea6dbf169a2369"
            ]
        ]
    },
    {
        "id": "7e61928aa56288fa",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "d2f057f70cf821c1",
        "type": "switch",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 890,
        "y": 260,
        "wires": [
            [
                "50e0b900c3d1fec4"
            ],
            [
                "de1a5a011867bcb0"
            ],
            [
                "f21fb924c4167adf"
            ]
        ]
    },
    {
        "id": "fbfda6f3223ff320",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 360,
        "wires": []
    },
    {
        "id": "de1a5a011867bcb0",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 27",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 400,
        "wires": [
            [
                "fbfda6f3223ff320",
                "b84235deb00bfa20"
            ]
        ]
    },
    {
        "id": "bc9f5a3d0b1fc07c",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mysitepost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2770,
        "y": 200,
        "wires": []
    },
    {
        "id": "1aded67880e0454d",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2510,
        "y": 160,
        "wires": [
            [
                "bc9f5a3d0b1fc07c",
                "c22a9336d2f4e656"
            ]
        ]
    },
    {
        "id": "50d2bdde55488dd2",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1580,
        "y": 440,
        "wires": []
    },
    {
        "id": "b84235deb00bfa20",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 440,
        "wires": [
            [
                "50d2bdde55488dd2"
            ]
        ]
    },
    {
        "id": "f21fb924c4167adf",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 500,
        "wires": [
            [
                "86d86ba37c02743e"
            ]
        ]
    },
    {
        "id": "86d86ba37c02743e",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1410,
        "y": 500,
        "wires": []
    },
    {
        "id": "fbb8bce588825da9",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "Create user (POST)",
        "info": "",
        "x": 190,
        "y": 140,
        "wires": []
    },
    {
        "id": "103fbe526ba68e0e",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/user/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 680,
        "wires": [
            [
                "1d32b3d79fd28a63"
            ]
        ]
    },
    {
        "id": "e243bccd1d40aa1b",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "fbd84b29ed2ab336",
        "type": "ui_button",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "12bb5ac8cc2c8086",
        "order": 2,
        "width": 13,
        "height": 1,
        "passthru": false,
        "label": "See all users",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "b5cd16fe5b100392"
            ]
        ]
    },
    {
        "id": "1d32b3d79fd28a63",
        "type": "json",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 650,
        "y": 680,
        "wires": [
            [
                "e243bccd1d40aa1b",
                "e779912907edf209"
            ]
        ]
    },
    {
        "id": "b5cd16fe5b100392",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 680,
        "wires": [
            [
                "103fbe526ba68e0e"
            ]
        ]
    },
    {
        "id": "e779912907edf209",
        "type": "ui_text",
        "z": "7a5a17e5bfbdac35",
        "group": "12bb5ac8cc2c8086",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current users",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 740,
        "wires": []
    },
    {
        "id": "c286a2318c543fbb",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "Get users (GET)",
        "info": "",
        "x": 180,
        "y": 620,
        "wires": []
    },
    {
        "id": "f321a065dd5f1b75",
        "type": "http response",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 880,
        "wires": []
    },
    {
        "id": "104761a78fef2421",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/delete/{{{id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1140,
        "y": 880,
        "wires": [
            [
                "f321a065dd5f1b75"
            ]
        ]
    },
    {
        "id": "baac39c1c2e728b0",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mydelete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 920,
        "wires": []
    },
    {
        "id": "118d9772e4f07fef",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "Delete current user (DELETE)",
        "info": "",
        "x": 220,
        "y": 840,
        "wires": []
    },
    {
        "id": "15099c6aa9ffb114",
        "type": "ui_button",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "12bb5ac8cc2c8086",
        "order": 4,
        "width": 13,
        "height": 1,
        "passthru": false,
        "label": "Delete user",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "0e994aae3275cb44"
            ]
        ]
    },
    {
        "id": "b1bad3885d6b2ff1",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/usersByUsername?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 920,
        "wires": [
            [
                "5402df0b1a8e6be7"
            ]
        ]
    },
    {
        "id": "0e994aae3275cb44",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "username",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 920,
        "wires": [
            [
                "b1bad3885d6b2ff1"
            ]
        ]
    },
    {
        "id": "5402df0b1a8e6be7",
        "type": "json",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 710,
        "y": 920,
        "wires": [
            [
                "21a22d91c51f45f9"
            ]
        ]
    },
    {
        "id": "21a22d91c51f45f9",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "payload.userID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user.id",
                "pt": "flow",
                "to": "payload.userID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 920,
        "wires": [
            [
                "104761a78fef2421",
                "baac39c1c2e728b0",
                "e08e766a5bf4506e"
            ]
        ]
    },
    {
        "id": "a72878438e312e2f",
        "type": "http response",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1990,
        "y": 1080,
        "wires": []
    },
    {
        "id": "687af4a2cc605399",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "change username",
        "func": "msg.payload.username = msg.newUsername;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1080,
        "wires": [
            [
                "ea449f512afaa6c0"
            ]
        ]
    },
    {
        "id": "d8be2f7669cac49a",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/modify/{{{id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1810,
        "y": 1080,
        "wires": [
            [
                "a72878438e312e2f",
                "2235a5a052d16ef9"
            ]
        ]
    },
    {
        "id": "ea449f512afaa6c0",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 1080,
        "wires": [
            [
                "d8be2f7669cac49a"
            ]
        ]
    },
    {
        "id": "43f2293dd936a9da",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "payload.userID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user.id",
                "pt": "flow",
                "to": "payload.userID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1080,
        "wires": [
            [
                "687af4a2cc605399"
            ]
        ]
    },
    {
        "id": "53f6481bdfc89fd2",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 1160,
        "wires": []
    },
    {
        "id": "20fa5ab3089fe481",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/usersByUsername?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 1120,
        "wires": [
            [
                "8ac0ea42a7ff3d02"
            ]
        ]
    },
    {
        "id": "ee4615b308fc9c18",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newUsername",
                "pt": "msg",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "username",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "newUsername",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1120,
        "wires": [
            [
                "20fa5ab3089fe481"
            ]
        ]
    },
    {
        "id": "8ac0ea42a7ff3d02",
        "type": "json",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1070,
        "y": 1120,
        "wires": [
            [
                "43f2293dd936a9da",
                "53f6481bdfc89fd2"
            ]
        ]
    },
    {
        "id": "48136e8c5f43fbea",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "Change Username",
        "info": "",
        "x": 430,
        "y": 1020,
        "wires": []
    },
    {
        "id": "563e526f5076150a",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "Modify current user (PUT)",
        "info": "",
        "x": 210,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d45eb9a2df4b9f0a",
        "type": "ui_form",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "label": "",
        "group": "190ae5c5274da16b",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "msg.username",
                "value": "uname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Second Name",
                "value": "secondName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uname": "",
            "secondName": "",
            "username": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "473951c215addb73"
            ]
        ]
    },
    {
        "id": "473951c215addb73",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "user selection",
        "func": "var user = {uname: msg.payload.uname,\n            secondName: msg.payload.secondName,\n            username: msg.payload.username\n            };\n\nmsg.payload = user;\nmsg.user=user;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1120,
        "wires": [
            [
                "ee4615b308fc9c18"
            ]
        ]
    },
    {
        "id": "8181b0c993de8967",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "\"No response object\"",
        "info": "",
        "x": 1360,
        "y": 840,
        "wires": []
    },
    {
        "id": "d62e57753080e247",
        "type": "ui_gauge",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "12bb5ac8cc2c8086",
        "order": 1,
        "width": 13,
        "height": 8,
        "gtype": "donut",
        "title": "",
        "label": "users",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2050,
        "y": 80,
        "wires": []
    },
    {
        "id": "f598a1c85dfb44a9",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "User counter",
        "func": "let contador = global.get(\"userCount\") || 0;\n\n//contador = 0;\ncontador += 1;\n\nglobal.set(\"userCount\", contador);\n\n/*msg.counter = {\n    userCount: contador\n};*/\nmsg.payload = contador;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 80,
        "wires": [
            [
                "d62e57753080e247"
            ]
        ]
    },
    {
        "id": "b339d0529471741b",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1360,
        "y": 980,
        "wires": []
    },
    {
        "id": "e08e766a5bf4506e",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User deleted",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 980,
        "wires": [
            [
                "b339d0529471741b"
            ]
        ]
    },
    {
        "id": "0dc96bf9bfd7b81b",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2180,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2235a5a052d16ef9",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User modified",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 1160,
        "wires": [
            [
                "0dc96bf9bfd7b81b"
            ]
        ]
    },
    {
        "id": "d8a9e96370367a74",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "username",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 1120,
        "wires": [
            [
                "d45eb9a2df4b9f0a"
            ]
        ]
    },
    {
        "id": "21f0c87773b42137",
        "type": "ui_dropdown",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "label": "Gender",
        "tooltip": "",
        "place": "Select option",
        "group": "1e4155c883d7b082",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Male",
                "value": "M",
                "type": "str"
            },
            {
                "label": "Female",
                "value": "F",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "8e4ba30d63ec682d"
            ]
        ]
    },
    {
        "id": "1b1ce7a2e7704672",
        "type": "ui_dropdown",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "label": "How active are you?",
        "tooltip": "",
        "place": "Select option",
        "group": "1e4155c883d7b082",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Sedentary",
                "value": "Sedentary",
                "type": "str"
            },
            {
                "label": "Light",
                "value": "Light",
                "type": "str"
            },
            {
                "label": "Moderate",
                "value": "Moderate",
                "type": "str"
            },
            {
                "label": "Active",
                "value": "Active",
                "type": "str"
            },
            {
                "label": "Very active",
                "value": "Very active",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "d56bcb5d71a60922"
            ]
        ]
    },
    {
        "id": "83bdcb62569f5932",
        "type": "ui_dropdown",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "label": "Premium",
        "tooltip": "",
        "place": "Select option",
        "group": "1e4155c883d7b082",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Yes",
                "value": "true",
                "type": "str"
            },
            {
                "label": "No",
                "value": "false",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "934ca6f6eba27233"
            ]
        ]
    },
    {
        "id": "b89633a33357805d",
        "type": "ui_dropdown",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "label": "Objective",
        "tooltip": "",
        "place": "Select option",
        "group": "1e4155c883d7b082",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Keep fit",
                "value": "Keep fit",
                "type": "str"
            },
            {
                "label": "Lose weight",
                "value": "Lose weight",
                "type": "str"
            },
            {
                "label": "Gain weight",
                "value": "Gain weight",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "20d9affa47213184"
            ]
        ]
    },
    {
        "id": "8e4ba30d63ec682d",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.gender",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d56bcb5d71a60922",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.activityLevel",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "934ca6f6eba27233",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.premium",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "20d9affa47213184",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.objective",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "00ac55bfc05054f7",
        "type": "ui_ui_control",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "events": "all",
        "x": 320,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "a996842bc03b0b7b",
        "type": "ui_button",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "1e4155c883d7b082",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Create user",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Form",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "00ac55bfc05054f7"
            ]
        ]
    },
    {
        "id": "b165d77a6d672e0c",
        "type": "ui_ui_control",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "events": "all",
        "x": 360,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4328c77c2286f929",
        "type": "ui_button",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "ab4e89ea65e8afe2",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Go to main page",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Main page",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "b165d77a6d672e0c"
            ]
        ]
    },
    {
        "id": "54863040cacbb88e",
        "type": "ui_gauge",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "589e8bf7a75b6f58",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Protein",
        "label": "units",
        "format": "{{sumProteins}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1220,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a06903b650e6949f",
        "type": "ui_gauge",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "589e8bf7a75b6f58",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Carbs",
        "label": "units",
        "format": "{{sumCarbs}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 1320,
        "wires": []
    },
    {
        "id": "6f61a9d5d98df65a",
        "type": "ui_gauge",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "4f634677945ef57b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Fats",
        "label": "units",
        "format": "{{sumFats}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 1360,
        "wires": []
    },
    {
        "id": "2d05f5140e4b7eae",
        "type": "ui_gauge",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "4f634677945ef57b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Fiber",
        "label": "units",
        "format": "{{sumFiber}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 1400,
        "wires": []
    },
    {
        "id": "184e5bcdb2df76a1",
        "type": "ui_button",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "e041049ab98b23d2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "One more glass of water",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1500,
        "wires": [
            [
                "c76fb1a9a6ee7644"
            ]
        ]
    },
    {
        "id": "9fa09ebedd98aa3d",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "Main page",
        "info": "",
        "x": 160,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c76fb1a9a6ee7644",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "waterCounter",
        "func": "var waterCounter = flow.get('$waterCounter') || 0;\n\nwaterCounter = waterCounter + msg.payload;\n\nflow.set(\"$waterCounter\", waterCounter);\n\nmsg.payload = waterCounter;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1500,
        "wires": [
            [
                "9ab8baf685fccc86",
                "34b4063b537a58ca"
            ]
        ]
    },
    {
        "id": "9ab8baf685fccc86",
        "type": "ui_text",
        "z": "7a5a17e5bfbdac35",
        "group": "e041049ab98b23d2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Glasses of water today:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 1460,
        "wires": []
    },
    {
        "id": "24f9b025b8543840",
        "type": "ui_form",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "label": "",
        "group": "7acfe397f303ee67",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "foodName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Proteins",
                "value": "proteins",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Carbs",
                "value": "carbs",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Fats",
                "value": "fats",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Fiber",
                "value": "fiber",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "foodName": "",
            "proteins": "",
            "carbs": "",
            "fats": "",
            "fiber": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 1760,
        "wires": [
            [
                "63c9bf3f394509d7",
                "ca4d2fc2e7d3a1bc"
            ]
        ]
    },
    {
        "id": "5c0b3d112172be0c",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1680,
        "y": 1660,
        "wires": []
    },
    {
        "id": "16ca3f781b8ea025",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User created",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 1660,
        "wires": [
            [
                "5c0b3d112172be0c"
            ]
        ]
    },
    {
        "id": "63c9bf3f394509d7",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "food selection",
        "func": "var food = {foodName: msg.payload.foodName,\n            proteins: msg.payload.proteins,\n            carbs: msg.payload.carbs,\n            fats: msg.payload.fats,\n            fiber: msg.payload.fiber\n            };\n\nmsg.payload = food;\nmsg.user = food;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1760,
        "wires": [
            [
                "77020b67674c6c52",
                "3d354ff023aef0aa"
            ]
        ]
    },
    {
        "id": "3d354ff023aef0aa",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "Food to send",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1700,
        "wires": []
    },
    {
        "id": "5dadf29f26a506eb",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/food/add",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 1820,
        "wires": [
            [
                "128a6c30ca675dfa",
                "1274b56e0cab50a6"
            ]
        ]
    },
    {
        "id": "77020b67674c6c52",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1820,
        "wires": [
            [
                "5dadf29f26a506eb"
            ]
        ]
    },
    {
        "id": "128a6c30ca675dfa",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "foodPost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1900,
        "wires": []
    },
    {
        "id": "1274b56e0cab50a6",
        "type": "switch",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 950,
        "y": 1820,
        "wires": [
            [
                "fb08233d44ae1014"
            ],
            [
                "d20270b76b2cfb3d"
            ],
            [
                "a76fff90993d3146"
            ]
        ]
    },
    {
        "id": "c1aba715f2157209",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 1800,
        "wires": []
    },
    {
        "id": "d20270b76b2cfb3d",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 29",
        "func": "msg.payload = 'The food does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1840,
        "wires": [
            [
                "c1aba715f2157209",
                "d4323e3df8376e11"
            ]
        ]
    },
    {
        "id": "13f05729c7e6ab00",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mysitepost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 1740,
        "wires": []
    },
    {
        "id": "fb08233d44ae1014",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 1700,
        "wires": [
            [
                "13f05729c7e6ab00",
                "16ca3f781b8ea025"
            ]
        ]
    },
    {
        "id": "432b982ccc07e547",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1640,
        "y": 1880,
        "wires": []
    },
    {
        "id": "d4323e3df8376e11",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 1880,
        "wires": [
            [
                "432b982ccc07e547"
            ]
        ]
    },
    {
        "id": "a76fff90993d3146",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1940,
        "wires": [
            [
                "5bf549ce8874eff1"
            ]
        ]
    },
    {
        "id": "5bf549ce8874eff1",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1470,
        "y": 1940,
        "wires": []
    },
    {
        "id": "2c8827f83bf0f328",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "Create food (POST)",
        "info": "",
        "x": 190,
        "y": 1700,
        "wires": []
    },
    {
        "id": "77a104de1ac547c3",
        "type": "ui_ui_control",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "ca4d2fc2e7d3a1bc",
        "type": "ui_button",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "7acfe397f303ee67",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Proceed",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Get users and delete user",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 1820,
        "wires": [
            [
                "77a104de1ac547c3"
            ]
        ]
    },
    {
        "id": "8cd37fdf993ffa72",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/food/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 1320,
        "wires": [
            [
                "3ad43e205eefeeea"
            ]
        ]
    },
    {
        "id": "d11f9471a313753a",
        "type": "ui_button",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "7acfe397f303ee67",
        "order": 2,
        "width": "6",
        "height": 1,
        "passthru": false,
        "label": "One more meal",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1320,
        "wires": [
            [
                "3bd4cfb606653b98"
            ]
        ]
    },
    {
        "id": "3ad43e205eefeeea",
        "type": "json",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 630,
        "y": 1320,
        "wires": [
            [
                "759aaed899a5205a"
            ]
        ]
    },
    {
        "id": "3bd4cfb606653b98",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1320,
        "wires": [
            [
                "8cd37fdf993ffa72"
            ]
        ]
    },
    {
        "id": "759aaed899a5205a",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "sum of macros",
        "func": "let size = msg.payload.length;\n\nvar totalProtein = flow.get('$totalProtein') || 0;\nvar totalCarbs = flow.get('$totalCarbs') || 0;\nvar totalFats = flow.get('$totalFats') || 0;\nvar totalFiber = flow.get('$totalFiber') || 0;\n\nfor (let i=0;i<size;i++) {\n    totalProtein += msg.payload[i].proteins;\n    totalCarbs += msg.payload[i].carbs;\n    totalFats += msg.payload[i].fats;\n    totalFiber += msg.payload[i].fiber;\n}\n\nflow.set('$totalProtein', totalProtein);\nflow.set('$totalCarbs', totalCarbs);\nflow.set('$totalFats', totalFats);\nflow.set('$totalFiber', totalFiber);\n\nmsg.sumProteins = totalProtein;\nmsg.sumCarbs = totalCarbs;\nmsg.sumFats = totalFats;\nmsg.sumFiber = totalFiber;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1320,
        "wires": [
            [
                "06675b268b7d05bc",
                "d9496b38145532c8",
                "31259b2b32e479fb",
                "97792f6bc237ebb5",
                "274ad9cf8d653f32"
            ]
        ]
    },
    {
        "id": "06675b268b7d05bc",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "Sum of proteins",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1240,
        "wires": []
    },
    {
        "id": "c686035620a68193",
        "type": "ui_button",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "7acfe397f303ee67",
        "order": 2,
        "width": "6",
        "height": 1,
        "passthru": false,
        "label": "No more food",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1380,
        "wires": [
            [
                "4bb2b2c7dacabb79"
            ]
        ]
    },
    {
        "id": "4bb2b2c7dacabb79",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "Reset variables",
        "func": "flow.set('$totalProtein', 0);\nflow.set('$totalCarbs', 0);\nflow.set('$totalFats', 0);\nflow.set('$totalFiber', 0);\nflow.set(\"$waterCounter\", 0);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "d9496b38145532c8",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumProteins = msg.sumProteins;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumProteins: sumProteins\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1280,
        "wires": [
            [
                "54863040cacbb88e"
            ]
        ]
    },
    {
        "id": "34b4063b537a58ca",
        "type": "ui_gauge",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "e041049ab98b23d2",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "gauge",
        "label": "Glasses",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 1540,
        "wires": []
    },
    {
        "id": "97a41a19218bd83c",
        "type": "ui_form",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "label": "",
        "group": "0efaaecc7e2e0e44",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "user Password",
                "value": "userPass",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "userPass": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 2500,
        "wires": [
            [
                "3d1643c7c4893138",
                "1b609c9ce94836ef"
            ]
        ]
    },
    {
        "id": "b1810a5a16546b42",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2450,
        "y": 2280,
        "wires": []
    },
    {
        "id": "0faa1e25ca0c2312",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User logged",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2220,
        "y": 2280,
        "wires": [
            [
                "b1810a5a16546b42"
            ]
        ]
    },
    {
        "id": "6da47c1ad3efb167",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/login/auth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 2500,
        "wires": [
            [
                "78dbc6845dbe8645"
            ]
        ]
    },
    {
        "id": "89110756a04736bc",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 2500,
        "wires": [
            [
                "6da47c1ad3efb167"
            ]
        ]
    },
    {
        "id": "d013f9b03b2e2d03",
        "type": "switch",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1170,
        "y": 2460,
        "wires": [
            [
                "c9edf0a03952363e"
            ],
            [
                "514d29e6385f7e4a"
            ],
            [
                "c991055cb6c82583"
            ]
        ]
    },
    {
        "id": "a45fd414ad962cc1",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 2500,
        "wires": []
    },
    {
        "id": "514d29e6385f7e4a",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 28",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 2520,
        "wires": [
            [
                "a45fd414ad962cc1",
                "a1c819e288c54f95"
            ]
        ]
    },
    {
        "id": "1dbebad3ba7af50a",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1880,
        "y": 2540,
        "wires": []
    },
    {
        "id": "a1c819e288c54f95",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 2540,
        "wires": [
            [
                "1dbebad3ba7af50a"
            ]
        ]
    },
    {
        "id": "c991055cb6c82583",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 2600,
        "wires": [
            [
                "69ad48f515e7972c"
            ]
        ]
    },
    {
        "id": "69ad48f515e7972c",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1630,
        "y": 2600,
        "wires": []
    },
    {
        "id": "37858ac94bc9a51c",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "Login",
        "info": "",
        "x": 130,
        "y": 2360,
        "wires": []
    },
    {
        "id": "3d1643c7c4893138",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "userPass",
                "pt": "msg",
                "to": "payload.userPass",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 2500,
        "wires": [
            [
                "b80574a48f056899"
            ]
        ]
    },
    {
        "id": "4dc26424315e65f5",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 2460,
        "wires": []
    },
    {
        "id": "f0d40c3162a4cccc",
        "type": "ui_form",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "label": "",
        "group": "98eaa6173e4e2973",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Weigth",
                "value": "weigth",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Goal Weigth",
                "value": "goalWeight",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Duration To Achieve Goal Weight",
                "value": "durationToAchieveGoalWeight",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Register Date",
                "value": "registerDate",
                "type": "date",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "weigth": "",
            "goalWeight": "",
            "durationToAchieveGoalWeight": "",
            "registerDate": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 90,
        "y": 2800,
        "wires": [
            [
                "dc59bade3cbdbb75",
                "4d6994ec5abfe8c6"
            ]
        ]
    },
    {
        "id": "d3b4883a4f715c8e",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "user selection",
        "func": "//var user = flow.get('user')||0;\nvar goal = {userID: msg.user.userID,\n            weight: msg.payload.weigth,\n            goalWeight: msg.payload.goalWeight,\n            durationToAchieveGoalWeight: msg.payload.durationToAchieveGoalWeight,\n            registerDate: msg.payload.registerDate,\n            };\n\nmsg.payload = goal;\nmsg.goal=goal;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2800,
        "wires": [
            [
                "c4dcfcb8891e4216",
                "e12dd7ddcd995fc1"
            ]
        ]
    },
    {
        "id": "9b0cce5d01b95e09",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/weightList?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1330,
        "y": 2800,
        "wires": [
            [
                "5f2fa0c4b432638c"
            ]
        ]
    },
    {
        "id": "d794ad2a8236e076",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/addWeight?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 2800,
        "wires": [
            [
                "4d89ffc53eb56559"
            ]
        ]
    },
    {
        "id": "cde0ebdcf2d74944",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\n\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 2800,
        "wires": [
            [
                "d794ad2a8236e076"
            ]
        ]
    },
    {
        "id": "c4dcfcb8891e4216",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "goal form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610.0000457763672,
        "y": 2711.4286155700684,
        "wires": []
    },
    {
        "id": "dc59bade3cbdbb75",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "goal form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 2720,
        "wires": []
    },
    {
        "id": "4d6994ec5abfe8c6",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 31",
        "func": "var user = flow.get('user')||0;\nmsg.user = user;\n\nmsg.registerData = msg.resgisterData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 2800,
        "wires": [
            [
                "d5e33a01597dc9ae",
                "d3b4883a4f715c8e"
            ]
        ]
    },
    {
        "id": "d5e33a01597dc9ae",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "goal form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 2940,
        "wires": []
    },
    {
        "id": "e12dd7ddcd995fc1",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 2800,
        "wires": [
            [
                "cde0ebdcf2d74944"
            ]
        ]
    },
    {
        "id": "5f2fa0c4b432638c",
        "type": "json",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1490,
        "y": 2800,
        "wires": [
            [
                "e2cb54b77abed0f8",
                "73271c462c85e0fd",
                "d05c2a44e3f04845"
            ]
        ]
    },
    {
        "id": "e2cb54b77abed0f8",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470.0000457763672,
        "y": 2931.4286155700684,
        "wires": []
    },
    {
        "id": "1a02c24633c4b82c",
        "type": "ui_chart",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "149d9f8f024668fb",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Weight chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2340.000045776367,
        "y": 2731.4286155700684,
        "wires": [
            []
        ]
    },
    {
        "id": "6beca79e85219273",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 33",
        "func": "var weightArray = [];\nfor(var i=0; i<msg.payload.length; i++)\n{\n    weightArray[i] = msg.payload[i].weight;\n}\n/*\nvar labelList = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    labelList[i] = msg.payload[i].registerDate;\n}\n\n\nvar labels = labelList;\nvar series = [\"Weight\"];\nvar data = [weightArray]; \n\nvar values = {\n    labels: labels,\n    series: series,\n    data: data\n};\n\n*/\n\nmsg.payload = weightArray;\nreturn msg;\n\n\n\n/*\nvar values = {};\nvalues.labels = labels;\n//msg.payload = weightArray;\nmsg.lenght = labels.length;\n\nvalues.series = [\"Weight\"];\nvalues.data = [weightArray];\n\nmsg.payload = values;\nreturn msg;*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 3160,
        "wires": [
            [
                "ef8942316085db8c",
                "516d8afdb5215726"
            ]
        ]
    },
    {
        "id": "fd28c934649308f8",
        "type": "ui_button",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "98eaa6173e4e2973",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Weight button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 3180,
        "wires": [
            [
                "11cd765904529a12"
            ]
        ]
    },
    {
        "id": "246b22ad1d3d4374",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/weightList?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 3180,
        "wires": [
            [
                "1e392dbef9118c54",
                "738669ca7e64c6cc"
            ]
        ]
    },
    {
        "id": "1e392dbef9118c54",
        "type": "json",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 3180,
        "wires": [
            [
                "6beca79e85219273",
                "7158d30b2a64c821",
                "edf07e6c2fa71a9a"
            ]
        ]
    },
    {
        "id": "738669ca7e64c6cc",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 3120,
        "wires": []
    },
    {
        "id": "7158d30b2a64c821",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 3120,
        "wires": []
    },
    {
        "id": "ef8942316085db8c",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630.0000457763672,
        "y": 3071.4286155700684,
        "wires": []
    },
    {
        "id": "11cd765904529a12",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 34",
        "func": "var user = flow.get('user') || 0;\nmsg.payload = user;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3180,
        "wires": [
            [
                "97de3354672f87d2"
            ]
        ]
    },
    {
        "id": "97de3354672f87d2",
        "type": "json",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 3180,
        "wires": [
            [
                "c24072c7e374731c"
            ]
        ]
    },
    {
        "id": "c24072c7e374731c",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 35",
        "func": "msg.username = msg.payload.username;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 3180,
        "wires": [
            [
                "2bd1b39e5ed43563"
            ]
        ]
    },
    {
        "id": "516d8afdb5215726",
        "type": "split",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1570,
        "y": 3160,
        "wires": [
            [
                "1a02c24633c4b82c",
                "06438792b489ad85"
            ]
        ]
    },
    {
        "id": "06438792b489ad85",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 3160,
        "wires": []
    },
    {
        "id": "73271c462c85e0fd",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 36",
        "func": "var weightArray = [];\nfor(var i=0; i<msg.payload.length; i++)\n{\n    weightArray[i] = msg.payload[i].weight;\n}\n/*\nvar labelList = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    labelList[i] = msg.payload[i].registerDate;\n}\n\n\nvar labels = labelList;\nvar series = [\"Weight\"];\nvar data = [weightArray]; \n\nvar values = {\n    labels: labels,\n    series: series,\n    data: data\n};\n\n*/\n\nmsg.payload = weightArray;\nreturn msg;\n\n\n\n/*\nvar values = {};\nvalues.labels = labels;\n//msg.payload = weightArray;\nmsg.lenght = labels.length;\n\nvalues.series = [\"Weight\"];\nvalues.data = [weightArray];\n\nmsg.payload = values;\nreturn msg;*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 2780,
        "wires": [
            [
                "6aae5b131d198adb"
            ]
        ]
    },
    {
        "id": "6aae5b131d198adb",
        "type": "split",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1870,
        "y": 2780,
        "wires": [
            [
                "1a02c24633c4b82c"
            ]
        ]
    },
    {
        "id": "edf07e6c2fa71a9a",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 40",
        "func": "var goalWeight = [];\nfor(var i=0; i<msg.payload.length; i++)\n{\n    goalWeight[i] = msg.payload[i].goalWeight;\n}\n/*\nvar labelList = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    labelList[i] = msg.payload[i].registerDate;\n}\n\n\nvar labels = labelList;\nvar series = [\"Weight\"];\nvar data = [weightArray]; \n\nvar values = {\n    labels: labels,\n    series: series,\n    data: data\n};\n\n*/\n\nmsg.payload = goalWeight;\nreturn msg;\n\n\n\n/*\nvar values = {};\nvalues.labels = labels;\n//msg.payload = weightArray;\nmsg.lenght = labels.length;\n\nvalues.series = [\"Weight\"];\nvalues.data = [weightArray];\n\nmsg.payload = values;\nreturn msg;*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 3220,
        "wires": [
            [
                "509551cc234db62f"
            ]
        ]
    },
    {
        "id": "509551cc234db62f",
        "type": "split",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1550,
        "y": 3220,
        "wires": [
            [
                "9a9b2fd24a8a9ddb"
            ]
        ]
    },
    {
        "id": "9a9b2fd24a8a9ddb",
        "type": "ui_chart",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "149d9f8f024668fb",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Goal weight chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2440.000045776367,
        "y": 3031.4286155700684,
        "wires": [
            []
        ]
    },
    {
        "id": "d05c2a44e3f04845",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 41",
        "func": "var goalWeight = [];\nfor(var i=0; i<msg.payload.length; i++)\n{\n    goalWeight[i] = msg.payload[i].goalWeight;\n}\n/*\nvar labelList = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    labelList[i] = msg.payload[i].registerDate;\n}\n\n\nvar labels = labelList;\nvar series = [\"Weight\"];\nvar data = [weightArray]; \n\nvar values = {\n    labels: labels,\n    series: series,\n    data: data\n};\n\n*/\n\nmsg.payload = goalWeight;\nreturn msg;\n\n\n\n/*\nvar values = {};\nvalues.labels = labels;\n//msg.payload = weightArray;\nmsg.lenght = labels.length;\n\nvalues.series = [\"Weight\"];\nvalues.data = [weightArray];\n\nmsg.payload = values;\nreturn msg;*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 2840,
        "wires": [
            [
                "696aa1c48a52286e"
            ]
        ]
    },
    {
        "id": "696aa1c48a52286e",
        "type": "split",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1870,
        "y": 2840,
        "wires": [
            [
                "9a9b2fd24a8a9ddb",
                "74f5e20b84d3ed2d"
            ]
        ]
    },
    {
        "id": "74f5e20b84d3ed2d",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 2960,
        "wires": []
    },
    {
        "id": "99b29ac6924e7d5d",
        "type": "ui_button",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "98eaa6173e4e2973",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clean",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 2150,
        "y": 2900,
        "wires": [
            [
                "9a9b2fd24a8a9ddb",
                "1a02c24633c4b82c"
            ]
        ]
    },
    {
        "id": "2db769c6faa755b5",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "Admin or User",
        "info": "",
        "x": 1610,
        "y": 2280,
        "wires": []
    },
    {
        "id": "a1c188f29ee4c268",
        "type": "ui_upload",
        "z": "7a5a17e5bfbdac35",
        "group": "de6d83a049fcd5f3",
        "title": "upload",
        "accept": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "chunk": 256,
        "transfer": "binary",
        "x": 2770,
        "y": 240,
        "wires": [
            [
                "4c7ff7260e3576e4"
            ]
        ]
    },
    {
        "id": "4c7ff7260e3576e4",
        "type": "join",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "mode": "custom",
        "build": "buffer",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2910,
        "y": 240,
        "wires": [
            [
                "6faa43c801694cbe"
            ]
        ]
    },
    {
        "id": "6faa43c801694cbe",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "toBase64",
        "func": "msg.payload = msg.payload.toString(\"base64\")\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3060,
        "y": 240,
        "wires": [
            [
                "ebd1197c24ec0a51",
                "d909bbd218081154"
            ]
        ]
    },
    {
        "id": "ebd1197c24ec0a51",
        "type": "file",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "filename": "C:\\Users\\Anje\\Proba.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3290,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d909bbd218081154",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3240,
        "y": 180,
        "wires": []
    },
    {
        "id": "53330ec25aaa2190",
        "type": "file in",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "filename": "C:\\Users\\Anje\\Proba.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2910,
        "y": 320,
        "wires": [
            [
                "a16149df469940cb"
            ]
        ]
    },
    {
        "id": "a16149df469940cb",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "toBase64",
        "func": "msg.payload = Buffer.from(msg.payload, \"base64\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3120,
        "y": 320,
        "wires": [
            [
                "b846a5520653ae70"
            ]
        ]
    },
    {
        "id": "b846a5520653ae70",
        "type": "file",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "filename": "C:\\Users\\Anje\\Proba.jpeg",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3330,
        "y": 320,
        "wires": [
            [
                "1b94987d1f35f451",
                "0caaff10cc5eb13d"
            ]
        ]
    },
    {
        "id": "6b7b3d452eb6546a",
        "type": "inject",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2700,
        "y": 320,
        "wires": [
            [
                "53330ec25aaa2190"
            ]
        ]
    },
    {
        "id": "0caaff10cc5eb13d",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "C:\\Users\\Anje\\Proba.jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3620,
        "y": 320,
        "wires": [
            [
                "220ba837c3df950d"
            ]
        ]
    },
    {
        "id": "09c3ce957e03292f",
        "type": "ui_template",
        "z": "7a5a17e5bfbdac35",
        "group": "de6d83a049fcd5f3",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <img src={{msg.payload}}>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 4080,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "787d17f9b07cdfae",
        "type": "jimp-image",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "500",
        "parameter1Type": "num",
        "parameter2": "",
        "parameter2Type": "auto",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 3930,
        "y": 320,
        "wires": [
            [
                "09c3ce957e03292f"
            ]
        ]
    },
    {
        "id": "a918c9d667953bb4",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "Image upload",
        "info": "",
        "x": 3130,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b94987d1f35f451",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3520,
        "y": 380,
        "wires": []
    },
    {
        "id": "220ba837c3df950d",
        "type": "jimp-image",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 3790,
        "y": 320,
        "wires": [
            [
                "787d17f9b07cdfae"
            ]
        ]
    },
    {
        "id": "31259b2b32e479fb",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumCarbs = msg.sumCarbs;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumCarbs: sumCarbs\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1320,
        "wires": [
            [
                "a06903b650e6949f"
            ]
        ]
    },
    {
        "id": "97792f6bc237ebb5",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumFats = msg.sumFats;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumFats: sumFats\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1360,
        "wires": [
            [
                "6f61a9d5d98df65a"
            ]
        ]
    },
    {
        "id": "274ad9cf8d653f32",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumFiber = msg.sumFiber;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumFiber: sumFiber\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1400,
        "wires": [
            [
                "2d05f5140e4b7eae"
            ]
        ]
    },
    {
        "id": "b80574a48f056899",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "user login",
        "func": "var loggedUser = {username: msg.username,\n            userpass: msg.userPass,\n            };\n\nmsg.payload = loggedUser;\nmsg.loggedUser = loggedUser;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 2500,
        "wires": [
            [
                "89110756a04736bc",
                "4dc26424315e65f5"
            ]
        ]
    },
    {
        "id": "78dbc6845dbe8645",
        "type": "json",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1030,
        "y": 2400,
        "wires": [
            [
                "d013f9b03b2e2d03"
            ]
        ]
    },
    {
        "id": "c9edf0a03952363e",
        "type": "switch",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload.role",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "USER",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1350,
        "y": 2400,
        "wires": [
            [
                "9265f03b30d1888f",
                "69030be078ea4f10",
                "50bedce833d3ee62"
            ],
            [
                "d8657ea9741db1d6"
            ]
        ]
    },
    {
        "id": "aca5257c6c069310",
        "type": "ui_ui_control",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "events": "all",
        "x": 1720,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "9265f03b30d1888f",
        "type": "template",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"tabs\": {\"hide\": \"Get users and delete user\", \"disable\": \"Get users and delete user\"}}",
        "output": "json",
        "x": 1540,
        "y": 2240,
        "wires": [
            [
                "aca5257c6c069310"
            ]
        ]
    },
    {
        "id": "50bedce833d3ee62",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 43",
        "func": "// Target date and time (ISO 8601 format)\nconst targetTime = new Date(msg.payload.timeout);\n\n// Current time\nconst now = new Date();\n\n// Calculate the delay in milliseconds\nconst delay = targetTime.getTime() - now.getTime(); // Use .getTime() to get the numeric timestamp\n\nif (delay > 0) {\n    msg.delay = delay; // Set the delay for the next node\n    return msg;\n} else {\n    // If the target time has already passed\n    node.warn(\"The target date and time has already passed.\");\n    return null; // Stop the flow\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 2160,
        "wires": [
            [
                "7c9c57fc8f82353c",
                "850116d17989293c"
            ]
        ]
    },
    {
        "id": "7c9c57fc8f82353c",
        "type": "delay",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1700,
        "y": 2160,
        "wires": [
            [
                "6c375408eec67f41"
            ]
        ]
    },
    {
        "id": "850116d17989293c",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "TIMEOUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 2100,
        "wires": []
    },
    {
        "id": "513129c444128402",
        "type": "ui_ui_control",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "events": "all",
        "x": 2020,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "6c375408eec67f41",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "Back to login",
        "func": "msg.payload = \"Login\";\nflow.set('token', null)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 2160,
        "wires": [
            [
                "513129c444128402"
            ]
        ]
    },
    {
        "id": "66ebfadecd5406c6",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "Go to initialize user",
        "func": "msg.payload = \"Initialize user\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 2420,
        "wires": [
            [
                "a8b98c888c591c62"
            ]
        ]
    },
    {
        "id": "a8b98c888c591c62",
        "type": "ui_ui_control",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "events": "all",
        "x": 520,
        "y": 2420,
        "wires": [
            []
        ]
    },
    {
        "id": "1b609c9ce94836ef",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "Debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 2540,
        "wires": []
    },
    {
        "id": "3269dd1a014b8663",
        "type": "ui_button",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "group": "0efaaecc7e2e0e44",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Create account",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 2420,
        "wires": [
            [
                "66ebfadecd5406c6"
            ]
        ]
    },
    {
        "id": "4d89ffc53eb56559",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\n\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 2800,
        "wires": [
            [
                "9b0cce5d01b95e09"
            ]
        ]
    },
    {
        "id": "69030be078ea4f10",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Authorization'] = `Bearer ${msg.payload.token}`;\nflow.set('token', msg.payload.token);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 2340,
        "wires": [
            [
                "14b37fd456f1afe4"
            ]
        ]
    },
    {
        "id": "d8657ea9741db1d6",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Authorization'] = `Bearer ${msg.payload.token}`;\nflow.set('token', msg.payload.token);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 2440,
        "wires": [
            [
                "d0a2e69a6eec4ddd"
            ]
        ]
    },
    {
        "id": "14b37fd456f1afe4",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "Get user",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/user/usersByUsername?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1700,
        "y": 2340,
        "wires": [
            [
                "558ff972f5452382"
            ]
        ]
    },
    {
        "id": "558ff972f5452382",
        "type": "json",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1850,
        "y": 2340,
        "wires": [
            [
                "2b6b804f8c33be7d"
            ]
        ]
    },
    {
        "id": "2b6b804f8c33be7d",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.username",
                "pt": "flow",
                "to": "username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 2340,
        "wires": [
            [
                "0faa1e25ca0c2312",
                "660bab1f193a5fa1"
            ]
        ]
    },
    {
        "id": "a4d7c9398bdab6a8",
        "type": "json",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1930,
        "y": 2440,
        "wires": [
            [
                "f5fe85a0aefba7a3"
            ]
        ]
    },
    {
        "id": "d0a2e69a6eec4ddd",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "Get admin",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/user/adminByName?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1730,
        "y": 2440,
        "wires": [
            [
                "a4d7c9398bdab6a8"
            ]
        ]
    },
    {
        "id": "f5fe85a0aefba7a3",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "admin.username",
                "pt": "flow",
                "to": "username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "admin",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "admin",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2160,
        "y": 2440,
        "wires": [
            [
                "2d24d30e4d1a2de2"
            ]
        ]
    },
    {
        "id": "2d24d30e4d1a2de2",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 44",
        "func": "msg.payload = {\n    tab: \"Get users and delete user\" // Cambia a la pestaa donde est el segundo formulario\n};\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2370,
        "y": 2440,
        "wires": [
            [
                "45857227045db7fe",
                "6c2b3fc2ef79deef"
            ]
        ]
    },
    {
        "id": "660bab1f193a5fa1",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "bigarren form-era",
        "func": "msg.payload = {\n    tab: \"info\" // Cambia a la pestaa donde est el segundo formulario\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2230,
        "y": 2340,
        "wires": [
            [
                "45857227045db7fe",
                "bbd57d4041392f4e",
                "6c2b3fc2ef79deef"
            ]
        ]
    },
    {
        "id": "6c2b3fc2ef79deef",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "function eta gero",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2710,
        "y": 2300,
        "wires": []
    },
    {
        "id": "45857227045db7fe",
        "type": "ui_ui_control",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "x": 2680,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "bbd57d4041392f4e",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 45",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2690,
        "y": 2480,
        "wires": [
            [
                "1a02c24633c4b82c",
                "9a9b2fd24a8a9ddb"
            ]
        ]
    },
    {
        "id": "2bd1b39e5ed43563",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\n\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 3180,
        "wires": [
            [
                "246b22ad1d3d4374"
            ]
        ]
    },
    {
        "id": "8dfe7de9af446860",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/email/typedCode?writtenCode={{{writtenCode}}}&verifyMail={{{verifyMail}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1630,
        "y": 140,
        "wires": [
            [
                "29dc4ce0a4dcf441",
                "797884aa01b92328",
                "421bb623bbabc0f6"
            ]
        ]
    },
    {
        "id": "97d6c9d034f60dbe",
        "type": "ui_ui_control",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "events": "all",
        "x": 1280,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6d8f715c221d1d7d",
        "type": "ui_form",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "label": "",
        "group": "4613c340c85d0c11",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Code",
                "value": "writtenCode",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "writtenCode": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "dd5b59dd875395fe"
            ]
        ]
    },
    {
        "id": "e70931c0f0ee1159",
        "type": "comment",
        "z": "7a5a17e5bfbdac35",
        "name": "ALDATU BOTOIA",
        "info": "",
        "x": 110,
        "y": 320,
        "wires": []
    },
    {
        "id": "50e0b900c3d1fec4",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 47",
        "func": "msg.emailVerification = msg.payload;\nmsg.payload =\n{\n    tab: \"Email verification\"\n};\n\nflow.set('emailVerification', msg.emailVerification);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "97d6c9d034f60dbe"
            ]
        ]
    },
    {
        "id": "dd5b59dd875395fe",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "writtenCode",
                "pt": "msg",
                "to": "payload.writtenCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "emailVerification",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 140,
        "wires": [
            [
                "31b1284642531327",
                "ffb27898064be9c7"
            ]
        ]
    },
    {
        "id": "29dc4ce0a4dcf441",
        "type": "switch",
        "z": "7a5a17e5bfbdac35",
        "d": true,
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1730,
        "y": 220,
        "wires": [
            [
                "f598a1c85dfb44a9",
                "b7b389832ad60d0c"
            ],
            [
                "fa9e7ec30422c515",
                "6ced459bbb864cee"
            ]
        ]
    },
    {
        "id": "fa9e7ec30422c515",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1870,
        "y": 280,
        "wires": [
            [
                "78a07471d356ad42"
            ]
        ]
    },
    {
        "id": "78a07471d356ad42",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2100,
        "y": 280,
        "wires": []
    },
    {
        "id": "7e3ddb69e4487b03",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 80,
        "wires": []
    },
    {
        "id": "797884aa01b92328",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 320,
        "wires": []
    },
    {
        "id": "31b1284642531327",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1515,
        "y": 236,
        "wires": []
    },
    {
        "id": "6ced459bbb864cee",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1980,
        "y": 240,
        "wires": []
    },
    {
        "id": "3767c423ca9986f7",
        "type": "http request",
        "z": "7a5a17e5bfbdac35",
        "d": true,
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/add",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2190,
        "y": 160,
        "wires": [
            [
                "421bb623bbabc0f6",
                "69298227c947168a"
            ]
        ]
    },
    {
        "id": "b7b389832ad60d0c",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 180,
        "wires": [
            [
                "3767c423ca9986f7"
            ]
        ]
    },
    {
        "id": "ffb27898064be9c7",
        "type": "json",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1170,
        "y": 140,
        "wires": [
            [
                "8febbc25d65f28e7",
                "4dba59359c189dc1",
                "500cef0b335e5ec0"
            ]
        ]
    },
    {
        "id": "8febbc25d65f28e7",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 180,
        "wires": []
    },
    {
        "id": "4dba59359c189dc1",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 40,
        "wires": []
    },
    {
        "id": "421bb623bbabc0f6",
        "type": "switch",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 2330,
        "y": 220,
        "wires": [
            [
                "1aded67880e0454d"
            ],
            [
                "017ff914eb8cadf4"
            ],
            [
                "aaa4fddefc7f9de7"
            ]
        ]
    },
    {
        "id": "02d8909acae2b434",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2890,
        "y": 380,
        "wires": []
    },
    {
        "id": "017ff914eb8cadf4",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 48",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 420,
        "wires": [
            [
                "02d8909acae2b434",
                "583360cb4dca04ce"
            ]
        ]
    },
    {
        "id": "9ce12605bfd77b03",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 3120,
        "y": 460,
        "wires": []
    },
    {
        "id": "583360cb4dca04ce",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2910,
        "y": 460,
        "wires": [
            [
                "9ce12605bfd77b03"
            ]
        ]
    },
    {
        "id": "aaa4fddefc7f9de7",
        "type": "change",
        "z": "7a5a17e5bfbdac35",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2720,
        "y": 520,
        "wires": [
            [
                "d65cb5ed04770301"
            ]
        ]
    },
    {
        "id": "d65cb5ed04770301",
        "type": "ui_toast",
        "z": "7a5a17e5bfbdac35",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2950,
        "y": 520,
        "wires": []
    },
    {
        "id": "500cef0b335e5ec0",
        "type": "function",
        "z": "7a5a17e5bfbdac35",
        "name": "function 49",
        "func": "var code = msg.payload.verificationCode;\ncode = code.toString();\nmsg.verifyMail = code;\nvar user = flow.get('user')||0;\nmsg.payload = user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 140,
        "wires": [
            [
                "8dfe7de9af446860",
                "7e3ddb69e4487b03"
            ]
        ]
    },
    {
        "id": "69298227c947168a",
        "type": "debug",
        "z": "7a5a17e5bfbdac35",
        "name": "mysitepost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2398,
        "y": 47,
        "wires": []
    },
    {
        "id": "ab4e89ea65e8afe2",
        "type": "ui_group",
        "name": "Function",
        "tab": "14ab3ba17e8a6109",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12bb5ac8cc2c8086",
        "type": "ui_group",
        "name": "Current users",
        "tab": "bc849eccb934f47a",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "190ae5c5274da16b",
        "type": "ui_group",
        "name": "Modify form",
        "tab": "243f70c5abb9b982",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e4155c883d7b082",
        "type": "ui_group",
        "name": "General data",
        "tab": "bbeed6bff4502f2e",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "589e8bf7a75b6f58",
        "type": "ui_group",
        "name": "Donut group",
        "tab": "773ce6d41cdfa8c6",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f634677945ef57b",
        "type": "ui_group",
        "name": "Donut group 2",
        "tab": "773ce6d41cdfa8c6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e041049ab98b23d2",
        "type": "ui_group",
        "name": "Water group",
        "tab": "773ce6d41cdfa8c6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7acfe397f303ee67",
        "type": "ui_group",
        "name": "Food form",
        "tab": "c9e34a81c335186d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0efaaecc7e2e0e44",
        "type": "ui_group",
        "name": "login",
        "tab": "7a5a7de9a0f118fa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98eaa6173e4e2973",
        "type": "ui_group",
        "name": "info",
        "tab": "02352a02d0920e81",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "149d9f8f024668fb",
        "type": "ui_group",
        "name": "graphic",
        "tab": "02352a02d0920e81",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de6d83a049fcd5f3",
        "type": "ui_group",
        "name": "Image",
        "tab": "ccddaa0c2a122821",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4613c340c85d0c11",
        "type": "ui_group",
        "name": "verification",
        "tab": "60645f4f7698fe89",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "14ab3ba17e8a6109",
        "type": "ui_tab",
        "name": "Form",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bc849eccb934f47a",
        "type": "ui_tab",
        "name": "Get users and delete user",
        "icon": "dashboard",
        "order": 14,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "243f70c5abb9b982",
        "type": "ui_tab",
        "name": "Modify user",
        "icon": "dashboard",
        "order": 16,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bbeed6bff4502f2e",
        "type": "ui_tab",
        "name": "Initialize user",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "773ce6d41cdfa8c6",
        "type": "ui_tab",
        "name": "Main page",
        "icon": "dashboard",
        "order": 20,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c9e34a81c335186d",
        "type": "ui_tab",
        "name": "Food tab",
        "icon": "dashboard",
        "order": 24,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7a5a7de9a0f118fa",
        "type": "ui_tab",
        "name": "Login",
        "icon": "dashboard",
        "order": 30,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "02352a02d0920e81",
        "type": "ui_tab",
        "name": "info",
        "icon": "dashboard",
        "order": 29,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "ccddaa0c2a122821",
        "type": "ui_tab",
        "name": "Image upload",
        "icon": "dashboard",
        "order": 27,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "60645f4f7698fe89",
        "type": "ui_tab",
        "name": "Email verification",
        "icon": "dashboard",
        "order": 33,
        "disabled": false,
        "hidden": false
    }
]