restriction_selection.json
[
    {
        "id": "401ccf56f27e8e10",
        "type": "tab",
        "label": "User services w/dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dcf38f12997a214c",
        "type": "ui_form",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "",
        "group": "ab4e89ea65e8afe2",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "uname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Second Name",
                "value": "secondName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Age",
                "value": "age",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Height",
                "value": "height",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "user Password",
                "value": "userPass",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "neck",
                "value": "neck",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "waist",
                "value": "waist",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "hips",
                "value": "hips",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uname": "",
            "secondName": "",
            "age": "",
            "height": "",
            "username": "",
            "email": "",
            "userPass": "",
            "neck": "",
            "waist": "",
            "hips": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "7f58f20d97663936"
            ]
        ]
    },
    {
        "id": "c7dd80d3ecf045e3",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 5770,
        "y": 40,
        "wires": []
    },
    {
        "id": "a2bda102ed7678db",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User created",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 5550,
        "y": 40,
        "wires": [
            [
                "c7dd80d3ecf045e3"
            ]
        ]
    },
    {
        "id": "7f58f20d97663936",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "user selection",
        "func": "var userGender = flow.get('user.gender') || 0;\nvar activityLevel = flow.get('user.activityLevel') || 0;\nvar premium = flow.get('user.premium') || 0;\nvar userObjective = flow.get('user.objective') || 0;\n\n\nvar user = {uname: msg.payload.uname,\n            secondName: msg.payload.secondName,\n            gender: userGender,\n            age: msg.payload.age,\n            height: msg.payload.height,\n            username: msg.payload.username,\n            email: msg.payload.email,\n            userPass: msg.payload.userPass,\n            activityLevel: activityLevel,\n            premium: premium,\n            objective: userObjective,\n            neck: msg.payload.neck,\n            waist: msg.payload.waist,\n            hips: msg.payload.hips\n            };\n\nmsg.payload = user;\nflow.set('user', user);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "64eda427c0768370",
                "dd473d97dc0390dc"
            ]
        ]
    },
    {
        "id": "dd473d97dc0390dc",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "User to send",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "201881ed01197d24",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/register",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 380,
        "wires": [
            [
                "cf6e9f8588e254e7",
                "5a3a10446f5f6293"
            ]
        ]
    },
    {
        "id": "64eda427c0768370",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 380,
        "wires": [
            [
                "201881ed01197d24"
            ]
        ]
    },
    {
        "id": "cf6e9f8588e254e7",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "fc915c2081d714c8",
        "type": "switch",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1790,
        "y": 160,
        "wires": [
            [
                "449258325671747c",
                "3992e66b10b9c7e6"
            ],
            [
                "9bd012abf4347f9a"
            ],
            [
                "429afab9978c66f7"
            ]
        ]
    },
    {
        "id": "9e3f5515cda722e8",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2470,
        "y": 240,
        "wires": []
    },
    {
        "id": "9bd012abf4347f9a",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Username exists error",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 240,
        "wires": [
            [
                "9e3f5515cda722e8",
                "a6fede0130650915"
            ]
        ]
    },
    {
        "id": "7ae8c7f3b1a5211f",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mysitepost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 5530,
        "y": 140,
        "wires": []
    },
    {
        "id": "449258325671747c",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "user.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.tab",
                "pt": "msg",
                "to": "Login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 140,
        "wires": [
            [
                "0f9232b66c6c2fff"
            ]
        ]
    },
    {
        "id": "a29b17ea25096b75",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2680,
        "y": 280,
        "wires": []
    },
    {
        "id": "a6fede0130650915",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2470,
        "y": 280,
        "wires": [
            [
                "a29b17ea25096b75"
            ]
        ]
    },
    {
        "id": "429afab9978c66f7",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2240,
        "y": 340,
        "wires": [
            [
                "73f95a051b18786d"
            ]
        ]
    },
    {
        "id": "73f95a051b18786d",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2490,
        "y": 340,
        "wires": []
    },
    {
        "id": "07a32f2c90993485",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "Create user (POST)",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "2df677ccde56eb5c",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/user/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 760,
        "wires": [
            [
                "a853e0b6238d54ce"
            ]
        ]
    },
    {
        "id": "5efab1e340670689",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 760,
        "wires": []
    },
    {
        "id": "145ba0d06737a4fa",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "a183720441c2ef16",
        "order": 2,
        "width": 13,
        "height": 1,
        "passthru": false,
        "label": "See all users",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "b0d55a561edc130d"
            ]
        ]
    },
    {
        "id": "a853e0b6238d54ce",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 670,
        "y": 760,
        "wires": [
            [
                "5efab1e340670689",
                "c886b046dd815b75"
            ]
        ]
    },
    {
        "id": "b0d55a561edc130d",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 760,
        "wires": [
            [
                "2df677ccde56eb5c"
            ]
        ]
    },
    {
        "id": "c886b046dd815b75",
        "type": "ui_text",
        "z": "401ccf56f27e8e10",
        "group": "a183720441c2ef16",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current users",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 820,
        "wires": []
    },
    {
        "id": "1e330ba8d7982d1e",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "Get users (GET)",
        "info": "",
        "x": 200,
        "y": 700,
        "wires": []
    },
    {
        "id": "b0ffc43ece2ac790",
        "type": "http response",
        "z": "401ccf56f27e8e10",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 880,
        "wires": []
    },
    {
        "id": "1875bfbe69f47aa5",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/delete/{{{id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1140,
        "y": 880,
        "wires": [
            [
                "b0ffc43ece2ac790"
            ]
        ]
    },
    {
        "id": "a01f73404fd068e6",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mydelete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 920,
        "wires": []
    },
    {
        "id": "a0fc94c67ea44798",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "Delete current user (DELETE)",
        "info": "",
        "x": 220,
        "y": 840,
        "wires": []
    },
    {
        "id": "c09e2e180258d8ae",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "a183720441c2ef16",
        "order": 4,
        "width": 13,
        "height": 1,
        "passthru": false,
        "label": "Delete user",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "26fd47bb756d1409"
            ]
        ]
    },
    {
        "id": "0b19f85578432e5c",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/usersByUsername?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 920,
        "wires": [
            [
                "2c86edbd3711dcab"
            ]
        ]
    },
    {
        "id": "26fd47bb756d1409",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "username",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 920,
        "wires": [
            [
                "0b19f85578432e5c"
            ]
        ]
    },
    {
        "id": "2c86edbd3711dcab",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 710,
        "y": 920,
        "wires": [
            [
                "a3d38194a90a64de"
            ]
        ]
    },
    {
        "id": "a3d38194a90a64de",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "payload.userID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user.id",
                "pt": "flow",
                "to": "payload.userID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 920,
        "wires": [
            [
                "1875bfbe69f47aa5",
                "a01f73404fd068e6",
                "95f38b8184527f63"
            ]
        ]
    },
    {
        "id": "5604aaa931b71881",
        "type": "http response",
        "z": "401ccf56f27e8e10",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1990,
        "y": 1080,
        "wires": []
    },
    {
        "id": "c1eaf1bdc10cb26e",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "change username",
        "func": "msg.payload.username = msg.newUsername;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1080,
        "wires": [
            [
                "7062286854fcaea1"
            ]
        ]
    },
    {
        "id": "2de72eb8adaa3d27",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/modify/{{{id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1810,
        "y": 1080,
        "wires": [
            [
                "5604aaa931b71881",
                "8b5c063544d83cc7"
            ]
        ]
    },
    {
        "id": "7062286854fcaea1",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 1080,
        "wires": [
            [
                "2de72eb8adaa3d27"
            ]
        ]
    },
    {
        "id": "6401fdfb08d938a1",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "msg",
                "to": "payload.userID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user.id",
                "pt": "flow",
                "to": "payload.userID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1080,
        "wires": [
            [
                "c1eaf1bdc10cb26e"
            ]
        ]
    },
    {
        "id": "1233324e520aaf98",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d1a5eb1857cd8017",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/user/usersByUsername?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 1120,
        "wires": [
            [
                "e864502eb2b7a347"
            ]
        ]
    },
    {
        "id": "af5621deec324c6b",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newUsername",
                "pt": "msg",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "username",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "newUsername",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1120,
        "wires": [
            [
                "d1a5eb1857cd8017"
            ]
        ]
    },
    {
        "id": "e864502eb2b7a347",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1070,
        "y": 1120,
        "wires": [
            [
                "6401fdfb08d938a1",
                "1233324e520aaf98"
            ]
        ]
    },
    {
        "id": "e439f5bf8eb1160c",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "Change Username",
        "info": "",
        "x": 430,
        "y": 1020,
        "wires": []
    },
    {
        "id": "34411594de210c69",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "Modify current user (PUT)",
        "info": "",
        "x": 210,
        "y": 1020,
        "wires": []
    },
    {
        "id": "11bac9a2c5bf4bae",
        "type": "ui_form",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "",
        "group": "da9f3525a03c70c2",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "msg.username",
                "value": "uname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Second Name",
                "value": "secondName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "uname": "",
            "secondName": "",
            "username": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "df5a2f8c15fc5002"
            ]
        ]
    },
    {
        "id": "df5a2f8c15fc5002",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "user selection",
        "func": "var user = {uname: msg.payload.uname,\n            secondName: msg.payload.secondName,\n            username: msg.payload.username\n            };\n\nmsg.payload = user;\nmsg.user=user;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1120,
        "wires": [
            [
                "af5621deec324c6b"
            ]
        ]
    },
    {
        "id": "cecd4f3ae4fb9f2b",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "\"No response object\"",
        "info": "",
        "x": 1360,
        "y": 840,
        "wires": []
    },
    {
        "id": "3f7ffc7492fd9701",
        "type": "ui_gauge",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "12bb5ac8cc2c8086",
        "order": 1,
        "width": 13,
        "height": 8,
        "gtype": "donut",
        "title": "",
        "label": "users",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2210,
        "y": 100,
        "wires": []
    },
    {
        "id": "3992e66b10b9c7e6",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "User counter",
        "func": "let contador = global.get(\"userCount\") || 0;\n\n//contador = 0;\ncontador += 1;\n\nglobal.set(\"userCount\", contador);\n\n/*msg.counter = {\n    userCount: contador\n};*/\nmsg.payload = contador;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1990,
        "y": 100,
        "wires": [
            [
                "3f7ffc7492fd9701"
            ]
        ]
    },
    {
        "id": "1c354cf2a6d4ba41",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1360,
        "y": 980,
        "wires": []
    },
    {
        "id": "95f38b8184527f63",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User deleted",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 980,
        "wires": [
            [
                "1c354cf2a6d4ba41"
            ]
        ]
    },
    {
        "id": "5d7f3552cb7c3b27",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2180,
        "y": 1160,
        "wires": []
    },
    {
        "id": "8b5c063544d83cc7",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User modified",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 1160,
        "wires": [
            [
                "5d7f3552cb7c3b27"
            ]
        ]
    },
    {
        "id": "579fcc49e68be8a5",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "username",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 1120,
        "wires": [
            [
                "11bac9a2c5bf4bae"
            ]
        ]
    },
    {
        "id": "ae1404f037e428e8",
        "type": "ui_dropdown",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "Gender",
        "tooltip": "",
        "place": "Select option",
        "group": "c6cd645fd4877ad7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Male",
                "value": "M",
                "type": "str"
            },
            {
                "label": "Female",
                "value": "F",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "db614621653c945a"
            ]
        ]
    },
    {
        "id": "e5d849b5f770b4ec",
        "type": "ui_dropdown",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "How active are you?",
        "tooltip": "",
        "place": "Select option",
        "group": "c6cd645fd4877ad7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Sedentary",
                "value": "Sedentary",
                "type": "str"
            },
            {
                "label": "Light",
                "value": "Light",
                "type": "str"
            },
            {
                "label": "Moderate",
                "value": "Moderate",
                "type": "str"
            },
            {
                "label": "Active",
                "value": "Active",
                "type": "str"
            },
            {
                "label": "Very active",
                "value": "Very active",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "239a1020698ca137"
            ]
        ]
    },
    {
        "id": "6f72684ec8f5c2cb",
        "type": "ui_dropdown",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "Premium",
        "tooltip": "",
        "place": "Select option",
        "group": "c6cd645fd4877ad7",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Yes",
                "value": "true",
                "type": "str"
            },
            {
                "label": "No",
                "value": "false",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "6f6ac266fa384311"
            ]
        ]
    },
    {
        "id": "cd694ee97ae8b8af",
        "type": "ui_dropdown",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "Objective",
        "tooltip": "",
        "place": "Select option",
        "group": "c6cd645fd4877ad7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Keep fit",
                "value": "Keep fit",
                "type": "str"
            },
            {
                "label": "Lose weight",
                "value": "Lose weight",
                "type": "str"
            },
            {
                "label": "Gain weight",
                "value": "Gain weight",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "399d645a3e38b67d"
            ]
        ]
    },
    {
        "id": "db614621653c945a",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.gender",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "239a1020698ca137",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.activityLevel",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "6f6ac266fa384311",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.premium",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "399d645a3e38b67d",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.objective",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "6cfbeb27a64983d7",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "events": "all",
        "x": 360,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a22097803b2141a6",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "c6cd645fd4877ad7",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Create user",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Create user",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "6cfbeb27a64983d7"
            ]
        ]
    },
    {
        "id": "b5d2e79a78e25a3b",
        "type": "ui_gauge",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "cc23e15f2844e7cf",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Protein",
        "label": "units",
        "format": "{{sumProteins}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1220,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d05a0791c8ac39b6",
        "type": "ui_gauge",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "cc23e15f2844e7cf",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Carbs",
        "label": "units",
        "format": "{{sumCarbs}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7edea506fab5df56",
        "type": "ui_gauge",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "7fd123c365531c69",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Fats",
        "label": "units",
        "format": "{{sumFats}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 1360,
        "wires": []
    },
    {
        "id": "55acf09ddd564a1a",
        "type": "ui_gauge",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "7fd123c365531c69",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Fiber",
        "label": "units",
        "format": "{{sumFiber}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 1400,
        "wires": []
    },
    {
        "id": "ee3029db96d5ed4c",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "bbfc23942af32973",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "One more glass of water",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1500,
        "wires": [
            [
                "eb25af0d3e861853"
            ]
        ]
    },
    {
        "id": "cf71737a0e0c0461",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "Main page",
        "info": "",
        "x": 160,
        "y": 1220,
        "wires": []
    },
    {
        "id": "eb25af0d3e861853",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "waterCounter",
        "func": "var waterCounter = flow.get('$waterCounter') || 0;\n\nwaterCounter = waterCounter + msg.payload;\n\nflow.set(\"$waterCounter\", waterCounter);\n\nmsg.payload = waterCounter;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1500,
        "wires": [
            [
                "64b5de15a93182a6",
                "fd22c23ff8e76d59"
            ]
        ]
    },
    {
        "id": "64b5de15a93182a6",
        "type": "ui_text",
        "z": "401ccf56f27e8e10",
        "group": "bbfc23942af32973",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Glasses of water today:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 1460,
        "wires": []
    },
    {
        "id": "2b6bdcee4399d756",
        "type": "ui_form",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "",
        "group": "d40f0e8b58a25673",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "foodName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Proteins",
                "value": "proteins",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Carbs",
                "value": "carbs",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Fats",
                "value": "fats",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Fiber",
                "value": "fiber",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "foodName": "",
            "proteins": "",
            "carbs": "",
            "fats": "",
            "fiber": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 1760,
        "wires": [
            [
                "dc380ba735ee8f98"
            ]
        ]
    },
    {
        "id": "00afe911d1d6cb33",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1640,
        "y": 1660,
        "wires": []
    },
    {
        "id": "933c8a69feee24b6",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User created",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 1660,
        "wires": [
            [
                "00afe911d1d6cb33"
            ]
        ]
    },
    {
        "id": "dc380ba735ee8f98",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "food selection",
        "func": "var food = {foodName: msg.payload.foodName,\n            proteins: msg.payload.proteins,\n            carbs: msg.payload.carbs,\n            fats: msg.payload.fats,\n            fiber: msg.payload.fiber\n            };\n\nmsg.payload = food;\nmsg.user = food;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1760,
        "wires": [
            [
                "ce45362248603a06",
                "373114d7d58acf02"
            ]
        ]
    },
    {
        "id": "ce45362248603a06",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "Food to send",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1700,
        "wires": []
    },
    {
        "id": "24203529369e439e",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/food/add",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 1820,
        "wires": [
            [
                "294da0fe58572ff1",
                "9b3273d50a6b02f7"
            ]
        ]
    },
    {
        "id": "5764bf04b31d3a22",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1820,
        "wires": [
            [
                "24203529369e439e"
            ]
        ]
    },
    {
        "id": "294da0fe58572ff1",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "foodPost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1900,
        "wires": []
    },
    {
        "id": "9b3273d50a6b02f7",
        "type": "switch",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 950,
        "y": 1820,
        "wires": [
            [
                "ded80ba74f0cc870"
            ],
            [
                "7ac893160d83c6b4"
            ],
            [
                "be615f3d76d60a5d"
            ]
        ]
    },
    {
        "id": "90499777a3127d57",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1800,
        "wires": []
    },
    {
        "id": "7ac893160d83c6b4",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Food exists error",
        "func": "msg.payload = 'The food does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1840,
        "wires": [
            [
                "90499777a3127d57",
                "83fe6b5a788915ac"
            ]
        ]
    },
    {
        "id": "5f9bb5906866c798",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mysitepost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 1740,
        "wires": []
    },
    {
        "id": "ded80ba74f0cc870",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1700,
        "wires": [
            [
                "5f9bb5906866c798",
                "933c8a69feee24b6"
            ]
        ]
    },
    {
        "id": "d7d7f335c3f982c0",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1600,
        "y": 1880,
        "wires": []
    },
    {
        "id": "83fe6b5a788915ac",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1880,
        "wires": [
            [
                "d7d7f335c3f982c0"
            ]
        ]
    },
    {
        "id": "be615f3d76d60a5d",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1940,
        "wires": [
            [
                "2edc885dbb5c2461"
            ]
        ]
    },
    {
        "id": "2edc885dbb5c2461",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1410,
        "y": 1940,
        "wires": []
    },
    {
        "id": "ee59800527b8d336",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "Create food (POST)",
        "info": "",
        "x": 190,
        "y": 1700,
        "wires": []
    },
    {
        "id": "96aae79b8d72ee58",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "Get all ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/food/show",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 1320,
        "wires": [
            [
                "6796745cced01532"
            ]
        ]
    },
    {
        "id": "d10ad771eed4a09e",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "d40f0e8b58a25673",
        "order": 2,
        "width": "6",
        "height": 1,
        "passthru": false,
        "label": "One more meal",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1320,
        "wires": [
            [
                "fec7ec20865988be"
            ]
        ]
    },
    {
        "id": "6796745cced01532",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 630,
        "y": 1320,
        "wires": [
            [
                "5df9d49bb60d8bdd"
            ]
        ]
    },
    {
        "id": "fec7ec20865988be",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1320,
        "wires": [
            [
                "96aae79b8d72ee58"
            ]
        ]
    },
    {
        "id": "5df9d49bb60d8bdd",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "sum of macros",
        "func": "let size = msg.payload.length;\n\nvar totalProtein = flow.get('$totalProtein') || 0;\nvar totalCarbs = flow.get('$totalCarbs') || 0;\nvar totalFats = flow.get('$totalFats') || 0;\nvar totalFiber = flow.get('$totalFiber') || 0;\n\nfor (let i=0;i<size;i++) {\n    totalProtein += msg.payload[i].proteins;\n    totalCarbs += msg.payload[i].carbs;\n    totalFats += msg.payload[i].fats;\n    totalFiber += msg.payload[i].fiber;\n}\n\nflow.set('$totalProtein', totalProtein);\nflow.set('$totalCarbs', totalCarbs);\nflow.set('$totalFats', totalFats);\nflow.set('$totalFiber', totalFiber);\n\nmsg.sumProteins = totalProtein;\nmsg.sumCarbs = totalCarbs;\nmsg.sumFats = totalFats;\nmsg.sumFiber = totalFiber;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1320,
        "wires": [
            [
                "9904b50a82a946dc",
                "6a856e0ac525b87e",
                "ed88307fa8235eed",
                "7e128fd38777ef3d",
                "91cb9f293acff15f"
            ]
        ]
    },
    {
        "id": "9904b50a82a946dc",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "Sum of proteins",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1240,
        "wires": []
    },
    {
        "id": "c83d14d33652bd72",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "d40f0e8b58a25673",
        "order": 2,
        "width": "6",
        "height": 1,
        "passthru": false,
        "label": "No more food",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1380,
        "wires": [
            [
                "78460855cd901316"
            ]
        ]
    },
    {
        "id": "78460855cd901316",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Reset variables",
        "func": "flow.set('$totalProtein', 0);\nflow.set('$totalCarbs', 0);\nflow.set('$totalFats', 0);\nflow.set('$totalFiber', 0);\nflow.set(\"$waterCounter\", 0);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "6a856e0ac525b87e",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumProteins = msg.sumProteins;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumProteins: sumProteins\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1280,
        "wires": [
            [
                "b5d2e79a78e25a3b"
            ]
        ]
    },
    {
        "id": "fd22c23ff8e76d59",
        "type": "ui_gauge",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "bbfc23942af32973",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "gauge",
        "label": "Glasses",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 1540,
        "wires": []
    },
    {
        "id": "6584ebe583455fb4",
        "type": "ui_form",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "",
        "group": "0efaaecc7e2e0e44",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "user Password",
                "value": "userPass",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "userPass": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 190,
        "y": 2460,
        "wires": [
            [
                "5d2eeb8f136bef6f",
                "e40f28933780e272"
            ]
        ]
    },
    {
        "id": "97d8be3ec9c8f542",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2450,
        "y": 2280,
        "wires": []
    },
    {
        "id": "8b7a86ba9fff9e79",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "User logged",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2220,
        "y": 2280,
        "wires": [
            [
                "97d8be3ec9c8f542"
            ]
        ]
    },
    {
        "id": "1031fafd337bc36d",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/login/auth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 2460,
        "wires": [
            [
                "c417995c6d5d67c2"
            ]
        ]
    },
    {
        "id": "2553aecc6bb10280",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2460,
        "wires": [
            [
                "1031fafd337bc36d"
            ]
        ]
    },
    {
        "id": "ad52e25df98d27e4",
        "type": "switch",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1170,
        "y": 2460,
        "wires": [
            [
                "8b1b7892d4cdd940"
            ],
            [
                "53094a45288e2bb3"
            ],
            [
                "1fc67a3d90e2f2ff"
            ]
        ]
    },
    {
        "id": "52758c9bbfc7889b",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 2500,
        "wires": []
    },
    {
        "id": "53094a45288e2bb3",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Username exists error",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 2520,
        "wires": [
            [
                "52758c9bbfc7889b",
                "fbd345d51c426700"
            ]
        ]
    },
    {
        "id": "504b1e272de41b42",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2000,
        "y": 2540,
        "wires": []
    },
    {
        "id": "fbd345d51c426700",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 2540,
        "wires": [
            [
                "504b1e272de41b42"
            ]
        ]
    },
    {
        "id": "1fc67a3d90e2f2ff",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 2600,
        "wires": [
            [
                "45c9cf2531acce8d"
            ]
        ]
    },
    {
        "id": "45c9cf2531acce8d",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1770,
        "y": 2600,
        "wires": []
    },
    {
        "id": "22ceaf6984ebfcb7",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "Login",
        "info": "",
        "x": 190,
        "y": 2320,
        "wires": []
    },
    {
        "id": "5d2eeb8f136bef6f",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "userPass",
                "pt": "msg",
                "to": "payload.userPass",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 2460,
        "wires": [
            [
                "9927a770c49f0fe9"
            ]
        ]
    },
    {
        "id": "8d8bc11b1c4448c1",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 2500,
        "wires": []
    },
    {
        "id": "aa633527313ad4f6",
        "type": "ui_form",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "",
        "group": "151ead99dd648129",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Weigth",
                "value": "weigth",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Goal Weigth",
                "value": "goalWeight",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Weeks To Achieve Goal Weight",
                "value": "durationToAchieveGoalWeight",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Register Date",
                "value": "registerDate",
                "type": "date",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "weigth": "",
            "goalWeight": "",
            "durationToAchieveGoalWeight": "",
            "registerDate": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 90,
        "y": 2800,
        "wires": [
            [
                "69929fda1672bba6",
                "794b12ac1242e6ed"
            ]
        ]
    },
    {
        "id": "5a96573f49101f46",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "user selection",
        "func": "//var user = flow.get('user')||0;\nvar goal = {userID: msg.user.userID,\n            weight: msg.payload.weigth,\n            goalWeight: msg.payload.goalWeight,\n            durationToAchieveGoalWeight: msg.payload.durationToAchieveGoalWeight,\n            registerDate: msg.payload.registerDate,\n            };\n\nmsg.payload = goal;\n//msg.goal=goal;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2800,
        "wires": [
            [
                "0dd8e234cebf8de8",
                "cf5e8699a3f6d6da"
            ]
        ]
    },
    {
        "id": "f68be731da1a3ceb",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/weight/weightList?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1370,
        "y": 2800,
        "wires": [
            [
                "eb7af0bee1ac715b"
            ]
        ]
    },
    {
        "id": "9efa24ce0dfb1bd2",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/weight/addWeight?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 2800,
        "wires": [
            [
                "29ba1d6b03f81c52"
            ]
        ]
    },
    {
        "id": "7b90fd6023af6546",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\n\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 2860,
        "wires": [
            [
                "9efa24ce0dfb1bd2"
            ]
        ]
    },
    {
        "id": "0dd8e234cebf8de8",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "goal form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 2740,
        "wires": []
    },
    {
        "id": "69929fda1672bba6",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "goal form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 2760,
        "wires": []
    },
    {
        "id": "794b12ac1242e6ed",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Get registerData",
        "func": "var user = flow.get('user')||0;\nmsg.user = user;\n\nmsg.registerData = msg.resgisterData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2800,
        "wires": [
            [
                "cc70f4f06799b357",
                "5a96573f49101f46"
            ]
        ]
    },
    {
        "id": "cc70f4f06799b357",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "goal form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2860,
        "wires": []
    },
    {
        "id": "cf5e8699a3f6d6da",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "user.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 2800,
        "wires": [
            [
                "807e7a52be42d560"
            ]
        ]
    },
    {
        "id": "eb7af0bee1ac715b",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1530,
        "y": 2800,
        "wires": [
            [
                "703c2b99c6df46bd",
                "43add0d514bb941a",
                "fb094f01902b5c00"
            ]
        ]
    },
    {
        "id": "703c2b99c6df46bd",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 2920,
        "wires": []
    },
    {
        "id": "0781b5b2b40546a9",
        "type": "ui_chart",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "1bf2f5cac901555c",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Weight chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "No data available",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2450,
        "y": 2920,
        "wires": [
            []
        ]
    },
    {
        "id": "a540ccbdf4d5c49a",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Append to weight",
        "func": "const inp = msg.payload;\n\nvar outObj = [{\n    series: [\"Current Weight\"],\n    data: [[]],\n    labels: [\"\"]\n}]\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.registerDate,\n        y: item.weight\n    })\n}\n\nmsg.payload = outObj;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 3160,
        "wires": [
            [
                "d4e8ad68c16a8f8e",
                "0781b5b2b40546a9"
            ]
        ]
    },
    {
        "id": "4b895386c47a5488",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "151ead99dd648129",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Weight button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 3180,
        "wires": [
            [
                "ac38be46d096236d"
            ]
        ]
    },
    {
        "id": "6f8bd9208bf4ee44",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/weight/weightList?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 3180,
        "wires": [
            [
                "7b7a1332057f8e89",
                "b345187552e319db"
            ]
        ]
    },
    {
        "id": "7b7a1332057f8e89",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 3180,
        "wires": [
            [
                "a540ccbdf4d5c49a",
                "1afbd2b2156e5f42",
                "62c396831e22ef09"
            ]
        ]
    },
    {
        "id": "b345187552e319db",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 3120,
        "wires": []
    },
    {
        "id": "1afbd2b2156e5f42",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 3120,
        "wires": []
    },
    {
        "id": "d4e8ad68c16a8f8e",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "get goals",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 3100,
        "wires": []
    },
    {
        "id": "ac38be46d096236d",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 34",
        "func": "var user = flow.get('user') || 0;\nmsg.payload = user;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3180,
        "wires": [
            [
                "ee5522a2f3e27814"
            ]
        ]
    },
    {
        "id": "ee5522a2f3e27814",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 3180,
        "wires": [
            [
                "48ee20240dc03738"
            ]
        ]
    },
    {
        "id": "48ee20240dc03738",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Set username",
        "func": "msg.username = msg.payload.username;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 3180,
        "wires": [
            [
                "0b604b0863bea9ef"
            ]
        ]
    },
    {
        "id": "62c396831e22ef09",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Append to goalWeight",
        "func": "const inp = msg.payload;\n\nvar outObj = [{\n    series: [\"Goal Weight\"],\n    data: [[]],\n    labels: [\"\"]\n}]\n\nlet registerDate = 0;\nlet durationInMs = 0\n\nfor (let item of inp) {\n    registerDate = new Date(item.registerDate);\n    durationInMs = item.durationToAchieveGoalWeight * 24 * 60 * 60 * 1000;\n\n    let newDate = new Date(registerDate.getTime() + durationInMs);\n\n    outObj[0].data[0].push({\n        x: newDate.toISOString(),\n        y: item.goalWeight\n    });\n}\n\nmsg.payload = outObj;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 3220,
        "wires": [
            [
                "2d836dc058946fb3"
            ]
        ]
    },
    {
        "id": "2d836dc058946fb3",
        "type": "ui_chart",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "1bf2f5cac901555c",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Goal weight chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "No Data Available",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2610,
        "y": 3040,
        "wires": [
            []
        ]
    },
    {
        "id": "48e4dcfec849494d",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "151ead99dd648129",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clean",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 2270,
        "y": 3200,
        "wires": [
            [
                "2d836dc058946fb3",
                "0781b5b2b40546a9"
            ]
        ]
    },
    {
        "id": "0f04deadc718f30e",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "Admin or User",
        "info": "",
        "x": 1610,
        "y": 2280,
        "wires": []
    },
    {
        "id": "34a1c80303fb128c",
        "type": "ui_upload",
        "z": "401ccf56f27e8e10",
        "group": "90723e692323a8c9",
        "title": "upload",
        "accept": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "chunk": 256,
        "transfer": "binary",
        "x": 2810,
        "y": 580,
        "wires": [
            [
                "9806f3e27f784ddf"
            ]
        ]
    },
    {
        "id": "9806f3e27f784ddf",
        "type": "join",
        "z": "401ccf56f27e8e10",
        "name": "",
        "mode": "custom",
        "build": "buffer",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2950,
        "y": 580,
        "wires": [
            [
                "9ab16e8f72ae3e10"
            ]
        ]
    },
    {
        "id": "9ab16e8f72ae3e10",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "toBase64",
        "func": "msg.payload = msg.payload.toString(\"base64\")\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3100,
        "y": 580,
        "wires": [
            [
                "29acf332d261d932",
                "c16ab57d4e67061b"
            ]
        ]
    },
    {
        "id": "29acf332d261d932",
        "type": "file",
        "z": "401ccf56f27e8e10",
        "name": "",
        "filename": "C:\\Users\\Anje\\Proba.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3330,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c16ab57d4e67061b",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3280,
        "y": 520,
        "wires": []
    },
    {
        "id": "c45cb79fba3049ad",
        "type": "file in",
        "z": "401ccf56f27e8e10",
        "name": "",
        "filename": "C:\\Users\\Anje\\Proba.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2950,
        "y": 660,
        "wires": [
            [
                "a0f060b3ab0195b7"
            ]
        ]
    },
    {
        "id": "a0f060b3ab0195b7",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "toBase64",
        "func": "msg.payload = Buffer.from(msg.payload, \"base64\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3160,
        "y": 660,
        "wires": [
            [
                "cb760302f5a21d48"
            ]
        ]
    },
    {
        "id": "cb760302f5a21d48",
        "type": "file",
        "z": "401ccf56f27e8e10",
        "name": "",
        "filename": "C:\\Users\\Anje\\Proba.jpeg",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3370,
        "y": 660,
        "wires": [
            [
                "a41797e8ce3bb987",
                "836100d001d7b8bd"
            ]
        ]
    },
    {
        "id": "608e87fe3cba0fa6",
        "type": "inject",
        "z": "401ccf56f27e8e10",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2740,
        "y": 660,
        "wires": [
            [
                "c45cb79fba3049ad"
            ]
        ]
    },
    {
        "id": "836100d001d7b8bd",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "C:\\Users\\Anje\\Proba.jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3600,
        "y": 660,
        "wires": [
            [
                "11a9a949321a5967"
            ]
        ]
    },
    {
        "id": "54c05a6f0fccf758",
        "type": "ui_template",
        "z": "401ccf56f27e8e10",
        "group": "90723e692323a8c9",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <img src={{msg.payload}}>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 4080,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "21ae725a5ef78ed3",
        "type": "jimp-image",
        "z": "401ccf56f27e8e10",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "500",
        "parameter1Type": "num",
        "parameter2": "",
        "parameter2Type": "auto",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 3930,
        "y": 660,
        "wires": [
            [
                "54c05a6f0fccf758"
            ]
        ]
    },
    {
        "id": "f30a053ee6987fae",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "Image upload",
        "info": "",
        "x": 2730,
        "y": 480,
        "wires": []
    },
    {
        "id": "a41797e8ce3bb987",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3580,
        "y": 740,
        "wires": []
    },
    {
        "id": "11a9a949321a5967",
        "type": "jimp-image",
        "z": "401ccf56f27e8e10",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 3770,
        "y": 660,
        "wires": [
            [
                "21ae725a5ef78ed3"
            ]
        ]
    },
    {
        "id": "ed88307fa8235eed",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumCarbs = msg.sumCarbs;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumCarbs: sumCarbs\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1320,
        "wires": [
            [
                "d05a0791c8ac39b6"
            ]
        ]
    },
    {
        "id": "7e128fd38777ef3d",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumFats = msg.sumFats;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumFats: sumFats\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1360,
        "wires": [
            [
                "7edea506fab5df56"
            ]
        ]
    },
    {
        "id": "91cb9f293acff15f",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "dynamic max and min",
        "func": "var max = 20000;\nvar min = 0;\nvar curPayload = msg.payload;\nvar sumFiber = msg.sumFiber;\nmsg = {\n    ui_control:{min:min,max:max},\n    payload: curPayload,\n    sumFiber: sumFiber\n    };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1400,
        "wires": [
            [
                "55acf09ddd564a1a"
            ]
        ]
    },
    {
        "id": "9927a770c49f0fe9",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "user login",
        "func": "var loggedUser = {username: msg.username,\n            userpass: msg.userPass,\n            };\n\nmsg.payload = loggedUser;\nmsg.loggedUser = loggedUser;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 2460,
        "wires": [
            [
                "2553aecc6bb10280",
                "8d8bc11b1c4448c1"
            ]
        ]
    },
    {
        "id": "c417995c6d5d67c2",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1010,
        "y": 2460,
        "wires": [
            [
                "ad52e25df98d27e4"
            ]
        ]
    },
    {
        "id": "8b1b7892d4cdd940",
        "type": "switch",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload.role",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "USER",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1350,
        "y": 2400,
        "wires": [
            [
                "cec2ed0bca36718b",
                "a4cf7fb9638a853c",
                "979413df27800c4a"
            ],
            [
                "3e81dc20b86c524f"
            ]
        ]
    },
    {
        "id": "b9bd2443a56a4b9a",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "events": "all",
        "x": 1680,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "cec2ed0bca36718b",
        "type": "template",
        "z": "401ccf56f27e8e10",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"tabs\": {\"hide\": \"Get users and delete user\", \"disable\": \"Get users and delete user\"}}",
        "output": "json",
        "x": 1500,
        "y": 2200,
        "wires": [
            [
                "b9bd2443a56a4b9a"
            ]
        ]
    },
    {
        "id": "979413df27800c4a",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Token timeout",
        "func": "// Target date and time (ISO 8601 format)\nconst targetTime = new Date(msg.payload.timeout);\n\n// Current time\nconst now = new Date();\n\n// Calculate the delay in milliseconds\nconst delay = targetTime.getTime() - now.getTime(); // Use .getTime() to get the numeric timestamp\n\nif (delay > 0) {\n    msg.delay = delay; // Set the delay for the next node\n    return msg;\n} else {\n    // If the target time has already passed\n    node.warn(\"The target date and time has already passed.\");\n    return null; // Stop the flow\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 2140,
        "wires": [
            [
                "4b37d735b911ca4d",
                "81021518d6df9bc5"
            ]
        ]
    },
    {
        "id": "4b37d735b911ca4d",
        "type": "delay",
        "z": "401ccf56f27e8e10",
        "name": "Wait until token timeout",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1710,
        "y": 2140,
        "wires": [
            [
                "5525525b9267a3e3"
            ]
        ]
    },
    {
        "id": "81021518d6df9bc5",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "TIMEOUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 2080,
        "wires": []
    },
    {
        "id": "572c75566d9568d3",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "events": "all",
        "x": 2100,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "5525525b9267a3e3",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Back to login",
        "func": "msg.payload = \"Login\";\nflow.set('token', null)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 2140,
        "wires": [
            [
                "572c75566d9568d3"
            ]
        ]
    },
    {
        "id": "78bdb77adc94a0de",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Go to initialize user",
        "func": "msg.payload = \"Initialize user\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2380,
        "wires": [
            [
                "e21c690d9eb7c247"
            ]
        ]
    },
    {
        "id": "e21c690d9eb7c247",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "events": "all",
        "x": 580,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "e40f28933780e272",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "Debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 2500,
        "wires": []
    },
    {
        "id": "1e3309c2d5581b41",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "0efaaecc7e2e0e44",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Create account",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 2380,
        "wires": [
            [
                "78bdb77adc94a0de"
            ]
        ]
    },
    {
        "id": "29ba1d6b03f81c52",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\n\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 2800,
        "wires": [
            [
                "f68be731da1a3ceb"
            ]
        ]
    },
    {
        "id": "a4cf7fb9638a853c",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Authorization'] = `Bearer ${msg.payload.token}`;\nflow.set('token', msg.payload.token);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 2340,
        "wires": [
            [
                "7acc85b372ba920e"
            ]
        ]
    },
    {
        "id": "3e81dc20b86c524f",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Authorization'] = `Bearer ${msg.payload.token}`;\nflow.set('token', msg.payload.token);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 2440,
        "wires": [
            [
                "86ee9de393b2c89a"
            ]
        ]
    },
    {
        "id": "7acc85b372ba920e",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "Get user",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/user/usersByUsername?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1700,
        "y": 2340,
        "wires": [
            [
                "50e18b77a67d2717",
                "879a10b9548b5b7b"
            ]
        ]
    },
    {
        "id": "50e18b77a67d2717",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1850,
        "y": 2340,
        "wires": [
            [
                "f569f276422824bc"
            ]
        ]
    },
    {
        "id": "f569f276422824bc",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user.username",
                "pt": "flow",
                "to": "username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 2340,
        "wires": [
            [
                "8b7a86ba9fff9e79",
                "163cc1a7938ef819"
            ]
        ]
    },
    {
        "id": "d526018cc18b1b54",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1890,
        "y": 2440,
        "wires": [
            [
                "700b1544d7f7de9e"
            ]
        ]
    },
    {
        "id": "86ee9de393b2c89a",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "Get admin",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:8080/user/adminByName?username={{{username}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1730,
        "y": 2440,
        "wires": [
            [
                "d526018cc18b1b54"
            ]
        ]
    },
    {
        "id": "700b1544d7f7de9e",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "admin.username",
                "pt": "flow",
                "to": "username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "admin",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "admin",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2060,
        "y": 2440,
        "wires": [
            [
                "d3531fae9d270189"
            ]
        ]
    },
    {
        "id": "d3531fae9d270189",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Go to admin tab",
        "func": "msg.payload = {\n    tab: \"Get users and delete user\" // Cambia a la pestaa donde est el segundo formulario\n};\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 2440,
        "wires": [
            [
                "3ae0866333d72b6d",
                "7873cfcb4254c4e8"
            ]
        ]
    },
    {
        "id": "163cc1a7938ef819",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "To second form",
        "func": "msg.payload = {\n    tab: \"info\" // Cambia a la pestaa donde est el segundo formulario\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 2340,
        "wires": [
            [
                "3ae0866333d72b6d",
                "39a74a68bc479189",
                "7873cfcb4254c4e8"
            ]
        ]
    },
    {
        "id": "7873cfcb4254c4e8",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "function eta gero",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2630,
        "y": 2340,
        "wires": []
    },
    {
        "id": "3ae0866333d72b6d",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "x": 2600,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "39a74a68bc479189",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Empty msg.payload",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2630,
        "y": 2500,
        "wires": [
            [
                "0781b5b2b40546a9",
                "2d836dc058946fb3"
            ]
        ]
    },
    {
        "id": "0b604b0863bea9ef",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\n\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 3180,
        "wires": [
            [
                "6f8bd9208bf4ee44"
            ]
        ]
    },
    {
        "id": "bdbf99c87bd036ad",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "events": "all",
        "x": 5720,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2cea5388a47b9faa",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/email/typedCode?writtenCode={{{writtenCode}}}&verifyMail={{{verifyMail}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1570,
        "y": 160,
        "wires": [
            [
                "fc915c2081d714c8"
            ]
        ]
    },
    {
        "id": "5cf5c58c5d76e1d6",
        "type": "ui_form",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "",
        "group": "97c37c0a574d34dc",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Code",
                "value": "writtenCode",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "writtenCode": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "dfc212b36bceaca9"
            ]
        ]
    },
    {
        "id": "e24969af9fa9d524",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "c5e18205cbbb398e",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "567e09355e7d6f5e",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "a1564e1993ea4a5f",
                "49c42d5c9dd096ed"
            ]
        ]
    },
    {
        "id": "a1564e1993ea4a5f",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "49c42d5c9dd096ed",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 50",
        "func": "var code = msg.payload.verificationCode;\ncode = code.toString();\nmsg.verifyMail = code;\nvar user = flow.get('user')||0;\nmsg.payload = user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 160,
        "wires": [
            [
                "e24969af9fa9d524",
                "6b6f1a1c4186fc57"
            ]
        ]
    },
    {
        "id": "6b6f1a1c4186fc57",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "set headers",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 160,
        "wires": [
            [
                "d48f04efd325c386"
            ]
        ]
    },
    {
        "id": "5921e2f769aaf74f",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1590,
        "y": 460,
        "wires": []
    },
    {
        "id": "e4076b08244eaa57",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Cannot create user",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 460,
        "wires": [
            [
                "5921e2f769aaf74f"
            ]
        ]
    },
    {
        "id": "2204f65961c65ee3",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1420,
        "y": 540,
        "wires": []
    },
    {
        "id": "2b3e719245815cc3",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "It has been an error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 540,
        "wires": [
            [
                "2204f65961c65ee3"
            ]
        ]
    },
    {
        "id": "be9b1487dd6db902",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 52",
        "func": "msg.payload = 'The username does exist: ' + msg.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 420,
        "wires": [
            [
                "138e7e21ed98c0f7",
                "e4076b08244eaa57"
            ]
        ]
    },
    {
        "id": "138e7e21ed98c0f7",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 380,
        "wires": []
    },
    {
        "id": "8c2fb969c240ad24",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "events": "all",
        "x": 1330,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a4eb0c22a2a79548",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 53",
        "func": "msg.emailVerification = msg.payload;\nmsg.payload =\n{\n    tab: \"Email verification\"\n};\n\nflow.set('emailVerification', msg.emailVerification);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 320,
        "wires": [
            [
                "8c2fb969c240ad24"
            ]
        ]
    },
    {
        "id": "5a3a10446f5f6293",
        "type": "switch",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 950,
        "y": 340,
        "wires": [
            [
                "a4eb0c22a2a79548"
            ],
            [
                "be9b1487dd6db902"
            ],
            [
                "2b3e719245815cc3"
            ]
        ]
    },
    {
        "id": "dfc212b36bceaca9",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "writtenCode",
                "pt": "msg",
                "to": "payload.writtenCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "emailVerification",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "c5e18205cbbb398e",
                "567e09355e7d6f5e"
            ]
        ]
    },
    {
        "id": "4528cb86443344ad",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "Initalize user (POST)",
        "info": "",
        "x": 230,
        "y": 420,
        "wires": []
    },
    {
        "id": "43add0d514bb941a",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Append to weight",
        "func": "const inp = msg.payload;\n\nvar outObj = [{\n    series: [\"Current Weight\"],\n    data: [[]],\n    labels: [\"\"]\n}]\n\nfor (let item of inp) {\n    outObj[0].data[0].push({\n        x: item.registerDate,\n        y: item.weight\n    })\n}\n\nmsg.payload = outObj;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 2760,
        "wires": [
            [
                "0781b5b2b40546a9"
            ]
        ]
    },
    {
        "id": "fb094f01902b5c00",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Append to goalWeight",
        "func": "const inp = msg.payload;\n\nvar outObj = [{\n    series: [\"Goal Weight\"],\n    data: [[]],\n    labels: [\"\"]\n}]\n\nlet registerDate = 0;\nlet durationInMs = 0\n\nfor (let item of inp) {\n    registerDate = new Date(item.registerDate); // Convert to Date object\n    durationInMs = item.durationToAchieveGoalWeight * 24 * 60 * 60 * 1000;\n\n    let newDate = new Date(registerDate.getTime() + durationInMs);\n\n    outObj[0].data[0].push({\n        x: newDate,\n        y: item.goalWeight\n    });\n}\n\nmsg.payload = outObj;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 2820,
        "wires": [
            [
                "2d836dc058946fb3"
            ]
        ]
    },
    {
        "id": "8ed52e0837c2b81c",
        "type": "inject",
        "z": "401ccf56f27e8e10",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 4120,
        "wires": [
            [
                "626e4074b98358b7"
            ]
        ]
    },
    {
        "id": "626e4074b98358b7",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Schema creator",
        "func": "var schema = {\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\": \"UserData\",\n    \"description\": \"User`s information\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"uname\": {\n            \"description\": \"user`s name\",\n            \"type\": \"string\"\n        },\n        \"secondName\": {\n            \"description\": \"user`s second name\",\n            \"type\": \"string\"\n        },\n        \"gender\": {\n            \"description\": \"user`s gender\",\n            \"type\": \"string\",\n            \"enum\": [\"M\", \"F\"]\n        },\n        \"age\": {\n            \"description\": \"user`s age\",\n            \"type\": \"integer\"\n        },\n        \"height\": {\n            \"description\": \"user`s height\",\n            \"type\": \"integer\"\n        },\n        \"username\": {\n            \"description\": \"user`s username\",\n            \"type\": \"string\"\n        },\n        \"email\": {\n            \"description\": \"user`s email\",\n            \"type\": \"string\"\n        },\n        \"userPass\": {\n            \"description\": \"user`s password\",\n            \"type\": \"string\"\n        },\n        \"activityLevel\": {\n            \"description\": \"how much activity make the user\",\n            \"type\": \"string\",\n            \"enum\": [\"Sedentary\",\"Light\",\"Moderate\",\"Active\",\"Very Active\"]\n        },\n        \"premium\": {\n            \"description\": \"if user is premium user or not\",\n            \"type\": \"boolean\"\n        },\n        \"objective\": {\n            \"description\": \"the objective that the user has\",\n            \"type\": \"string\",\n            \"enum\": [\"Lose weight\", \"Gain weight\", \"Keep fit\"]\n        },\n        \"neck\": {\n            \"description\": \"user`s neck size in cm\",\n            \"type\": \"number\"\n        },\n        \"waist\": {\n            \"description\": \"user`s waist size in cm\",\n            \"type\": \"number\"\n        },\n        \"hips\": {\n            \"description\": \"user`s hips size in cm\",\n            \"type\": \"number\"\n        }\n    },\n    \"required\": [\n        \"uname\",\n        \"secondName\",\n        \"gender\",\n        \"age\", \n        \"height\",\n        \"username\",\n        \"email\",\n        \"userPass\",\n        \"activityLevel\",\n        \"premium\",\n        \"objective\",\n        \"neck\",\n        \"waist\",\n        \"hips\"\n    ]\n};// Creamos un objeto de prueba que ser validado\nvar user = {\n    \"uname\": \"a\",\n    \"secondName\": \"a\",\n    \"gender\": \"M\",\n    \"age\": 25,\n    \"height\": 175,\n    \"username\": \"user1\",\n    \"email\": \"user1@example.com\",\n    \"userPass\": \"password\",\n    \"activityLevel\": \"Light\",\n    \"premium\": true,\n    \"objective\": \"Lose weight\",\n    \"neck\": 34,\n    \"waist\": 80,\n    \"hips\": 95\n};\n\n// Asignamos el esquema al msg.schema y los datos a msg.payload\n//msg.schema = schema;\nmsg.payload = user;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 4120,
        "wires": [
            [
                "e0a9468dbcbe31c4",
                "ceba2a06453f20af"
            ]
        ]
    },
    {
        "id": "e0a9468dbcbe31c4",
        "type": "json-schema-validator",
        "z": "401ccf56f27e8e10",
        "name": "",
        "func": "{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n        \"title\": \"UserData\",\n            \"description\": \"User's information\",\n                \"type\": \"object\",\n                    \"properties\": {\n        \"uname\": {\n            \"description\": \"user's name\",\n                \"type\": \"string\"\n        },\n        \"secondName\": {\n            \"description\": \"user's second name\",\n                \"type\": \"string\"\n        },\n        \"gender\": {\n            \"description\": \"user's gender\",\n                \"type\": \"string\",\n                    \"enum\": [\"M\", \"F\"]\n        },\n        \"age\": {\n            \"description\": \"user's age\",\n                \"type\": \"integer\"\n        },\n        \"height\": {\n            \"description\": \"user's height\",\n                \"type\": \"integer\"\n        },\n        \"username\": {\n            \"description\": \"user's username\",\n                \"type\": \"string\"\n        },\n        \"email\": {\n            \"description\": \"user's email\",\n                \"type\": \"string\"\n        },\n        \"userPass\": {\n            \"description\": \"user's password\",\n                \"type\": \"string\"\n        },\n        \"activityLevel\": {\n            \"description\": \"how much activity the user does\",\n                \"type\": \"string\",\n                    \"enum\": [\"Sedentary\", \"Light\", \"Moderate\", \"Active\", \"Very Active\"]\n        },\n        \"premium\": {\n            \"description\": \"if the user is a premium user or not\",\n                \"type\": \"boolean\"\n        },\n        \"objective\": {\n            \"description\": \"the user's objective\",\n                \"type\": \"string\",\n                    \"enum\": [\"Lose weight\", \"Gain weight\", \"Keep fit\"]\n        },\n        \"neck\": {\n            \"description\": \"user's neck size in cm\",\n                \"type\": \"number\"\n        },\n        \"waist\": {\n            \"description\": \"user's waist size in cm\",\n                \"type\": \"number\"\n        },\n        \"hips\": {\n            \"description\": \"user's hips size in cm\",\n                \"type\": \"number\"\n        }\n    },\n    \"required\": [\n        \"uname\",\n        \"secondName\",\n        \"gender\",\n        \"age\",\n        \"height\",\n        \"username\",\n        \"email\",\n        \"userPass\",\n        \"activityLevel\",\n        \"premium\",\n        \"objective\",\n        \"neck\",\n        \"waist\",\n        \"hips\"\n    ]\n}",
        "x": 670,
        "y": 4160,
        "wires": [
            [
                "f6f01823e66b11d7"
            ]
        ]
    },
    {
        "id": "f6f01823e66b11d7",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 4160,
        "wires": []
    },
    {
        "id": "ceba2a06453f20af",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 4020,
        "wires": []
    },
    {
        "id": "b574396df33b3f71",
        "type": "catch",
        "z": "401ccf56f27e8e10",
        "name": "",
        "scope": [
            "e0a9468dbcbe31c4"
        ],
        "uncaught": false,
        "x": 480,
        "y": 4280,
        "wires": [
            [
                "72f9d862c73dfe12"
            ]
        ]
    },
    {
        "id": "72f9d862c73dfe12",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 694,
        "y": 4224,
        "wires": []
    },
    {
        "id": "8a2c2312c09e8383",
        "type": "comment",
        "z": "401ccf56f27e8e10",
        "name": "validation schema",
        "info": "",
        "x": 190,
        "y": 4000,
        "wires": []
    },
    {
        "id": "d48f04efd325c386",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "Schema creator",
        "func": "\nvar user = flow.get('user')||0;\nif(user.premium==\"true\")\n{\n    user.premium = true;\n}\nelse{\n    user.premium = false;\n}\n\nmsg.payload = user;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 160,
        "wires": [
            [
                "2e899487c9eab745",
                "5e1787692e61edbd"
            ]
        ]
    },
    {
        "id": "2e899487c9eab745",
        "type": "json-schema-validator",
        "z": "401ccf56f27e8e10",
        "name": "User Validator",
        "func": "{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n        \"title\": \"UserData\",\n            \"description\": \"User's information\",\n                \"type\": \"object\",\n                    \"properties\": {\n        \"uname\": {\n            \"description\": \"user's name\",\n                \"type\": \"string\"\n        },\n        \"secondName\": {\n            \"description\": \"user's second name\",\n                \"type\": \"string\"\n        },\n        \"gender\": {\n            \"description\": \"user's gender\",\n                \"type\": \"string\",\n                    \"enum\": [\"M\", \"F\"]\n        },\n        \"age\": {\n            \"description\": \"user's age\",\n                \"type\": \"integer\"\n        },\n        \"height\": {\n            \"description\": \"user's height\",\n                \"type\": \"integer\"\n        },\n        \"username\": {\n            \"description\": \"user's username\",\n                \"type\": \"string\"\n        },\n        \"email\": {\n            \"description\": \"user's email\",\n                \"type\": \"string\"\n        },\n        \"userPass\": {\n            \"description\": \"user's password\",\n                \"type\": \"string\"\n        },\n        \"activityLevel\": {\n            \"description\": \"how much activity the user does\",\n                \"type\": \"string\",\n                    \"enum\": [\"Sedentary\", \"Light\", \"Moderate\", \"Active\", \"Very Active\"]\n        },\n        \"premium\": {\n            \"description\": \"if the user is a premium user or not\",\n                \"type\": \"boolean\"\n        },\n        \"objective\": {\n            \"description\": \"the user's objective\",\n                \"type\": \"string\",\n                    \"enum\": [\"Lose weight\", \"Gain weight\", \"Keep fit\"]\n        },\n        \"neck\": {\n            \"description\": \"user's neck size in cm\",\n                \"type\": \"number\"\n        },\n        \"waist\": {\n            \"description\": \"user's waist size in cm\",\n                \"type\": \"number\"\n        },\n        \"hips\": {\n            \"description\": \"user's hips size in cm\",\n                \"type\": \"number\"\n        }\n    },\n    \"required\": [\n        \"uname\",\n        \"secondName\",\n        \"gender\",\n        \"age\",\n        \"height\",\n        \"username\",\n        \"email\",\n        \"userPass\",\n        \"activityLevel\",\n        \"premium\",\n        \"objective\",\n        \"neck\",\n        \"waist\",\n        \"hips\"\n    ]\n}",
        "x": 1280,
        "y": 160,
        "wires": [
            [
                "c48848ef4a1de001",
                "2cea5388a47b9faa"
            ]
        ]
    },
    {
        "id": "c48848ef4a1de001",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 80,
        "wires": []
    },
    {
        "id": "5e1787692e61edbd",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 40,
        "wires": []
    },
    {
        "id": "e6ea65bf1e789662",
        "type": "catch",
        "z": "401ccf56f27e8e10",
        "name": "",
        "scope": [
            "2e899487c9eab745"
        ],
        "uncaught": false,
        "x": 1360,
        "y": 240,
        "wires": [
            [
                "71ebd041be07babc",
                "28e776db32e43f9d"
            ]
        ]
    },
    {
        "id": "71ebd041be07babc",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 340,
        "wires": []
    },
    {
        "id": "28e776db32e43f9d",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Not allowed information",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 240,
        "wires": [
            [
                "c13c52c267e06471"
            ]
        ]
    },
    {
        "id": "c13c52c267e06471",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1850,
        "y": 240,
        "wires": []
    },
    {
        "id": "373114d7d58acf02",
        "type": "json-schema-validator",
        "z": "401ccf56f27e8e10",
        "name": "Food validator",
        "func": "{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\": \"Food\",\n    \"description\": \"Food information\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"foodName\": {\n            \"description\": \"the name of the food\",\n            \"type\": \"string\"\n        },\n        \"proteins\": {\n            \"description\": \"proteins of the food\",\n            \"type\": \"number\"\n        },\n        \"carbs\": {\n            \"description\": \"carbs of the food\",\n            \"type\": \"number\"\n        },\n        \"fats\" : {\n            \"description\": \"fats of the food\",\n            \"type\": \"number\"\n        },\n        \"fiber\": {\n            \"description\": \"fiber of the food\",\n            \"type\": \"number\"\n        }\n        \n    },\n    \"required\": [\n    \"foodName\",\n    \"proteins\",\n    \"carbs\",\n    \"fats\", \n    \"fiber\"\n    ]\n} \n\n",
        "x": 440,
        "y": 1820,
        "wires": [
            [
                "5764bf04b31d3a22"
            ]
        ]
    },
    {
        "id": "010e3cd05ca00922",
        "type": "catch",
        "z": "401ccf56f27e8e10",
        "name": "",
        "scope": [
            "373114d7d58acf02"
        ],
        "uncaught": false,
        "x": 380,
        "y": 1920,
        "wires": [
            [
                "0adf9bb284db3062",
                "52e03b98ad8bdac9"
            ]
        ]
    },
    {
        "id": "0adf9bb284db3062",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 2000,
        "wires": []
    },
    {
        "id": "52e03b98ad8bdac9",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Not allowed information",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1920,
        "wires": [
            [
                "284d6de955f2bf86"
            ]
        ]
    },
    {
        "id": "284d6de955f2bf86",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 770,
        "y": 1920,
        "wires": []
    },
    {
        "id": "807e7a52be42d560",
        "type": "json-schema-validator",
        "z": "401ccf56f27e8e10",
        "name": "",
        "func": "{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n        \"title\": \"Weight Goals\",\n            \"description\": \"Weight goals information\",\n                \"type\": \"object\",\n                    \"properties\": {\n        \"userID\": {\n            \"description\": \"the weight of the user\",\n                \"type\": \"integer\"\n        },\n        \"weight\": {\n            \"description\": \"the weight of the user\",\n                \"type\": \"number\"\n        },\n        \"goalWeight\": {\n            \"description\": \"the goal weight of the user\",\n                \"type\": \"number\"\n        },\n        \"durationToAchieveGoalWeight\": {\n            \"description\": \"the duration to achieve goal weight\",\n                \"type\": \"integer\"\n        },\n        \"registerDate\" : {\n            \"description\": \"when the user registers the weight\",\n                \"type\": \"number\"\n        }\n\n    },\n    \"required\": [\n        \"userID\",\n        \"weight\",\n        \"goalWeight\",\n        \"durationToAchieveGoalWeight\",\n        \"registerDate\"\n    ]\n}\n\n",
        "x": 850,
        "y": 2920,
        "wires": [
            [
                "7b90fd6023af6546"
            ]
        ]
    },
    {
        "id": "e51570c5e2b63dd7",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "info",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 5280,
        "y": 80,
        "wires": [
            [
                "bdbf99c87bd036ad",
                "a2bda102ed7678db",
                "7ae8c7f3b1a5211f"
            ]
        ]
    },
    {
        "id": "0f9232b66c6c2fff",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "events": "all",
        "x": 2260,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fcd4639ba06696be",
        "type": "ui_dropdown",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "Food group",
        "tooltip": "",
        "place": "Select option",
        "group": "c9d552d2c48880b0",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 4630,
        "y": 200,
        "wires": [
            [
                "8e89d290f40340f7",
                "f8bee33b9bf83d20"
            ]
        ]
    },
    {
        "id": "79ed5c7d3142a7da",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Restriction information",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3580,
        "y": 440,
        "wires": [
            [
                "585b9ecd2af840d7"
            ]
        ]
    },
    {
        "id": "a79b96a386df03f0",
        "type": "ui_dropdown",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "Group Class",
        "tooltip": "",
        "place": "Select option",
        "group": "c9d552d2c48880b0",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 3290,
        "y": 20,
        "wires": [
            [
                "10fd1dc90cd8929e",
                "47ea8d902140e37a"
            ]
        ]
    },
    {
        "id": "837456afc8eb61c4",
        "type": "ui_dropdown",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "Food type",
        "tooltip": "",
        "place": "Select option",
        "group": "c9d552d2c48880b0",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 4100,
        "y": 220,
        "wires": [
            [
                "dbeb563d5e3f2c35",
                "6f69d67015c38d8e"
            ]
        ]
    },
    {
        "id": "2d5815ddefc834af",
        "type": "ui_dropdown",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "Ingredients",
        "tooltip": "",
        "place": "Select option",
        "group": "7127bbab4a3a89c1",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 5370,
        "y": 220,
        "wires": [
            [
                "4369a7dcd1d637e7"
            ]
        ]
    },
    {
        "id": "dbeb563d5e3f2c35",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "typeID",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4360,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "10fd1dc90cd8929e",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "classID",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3500,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "8e89d290f40340f7",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "groupID",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4840,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0328dfacf4929b0c",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "7127bbab4a3a89c1",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Finish",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "Login",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3880,
        "y": 20,
        "wires": [
            [
                "8b4ae37249981729"
            ]
        ]
    },
    {
        "id": "4418f48d7c6ff0b3",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "c9d552d2c48880b0",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Add information",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Restrictions",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3910,
        "y": 120,
        "wires": [
            [
                "d0fe0d9ed3a1806d"
            ]
        ]
    },
    {
        "id": "bc77592508ed923b",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "7127bbab4a3a89c1",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Add ingredient",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Restrictions",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 4720,
        "y": 80,
        "wires": [
            [
                "e51570c5e2b63dd7"
            ]
        ]
    },
    {
        "id": "585b9ecd2af840d7",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "events": "all",
        "x": 3020,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d0fe0d9ed3a1806d",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "events": "all",
        "x": 4110,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8b4ae37249981729",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 54",
        "func": "var restrictedName = flow.get('restrictedName') || null;\nvar classID = flow.get('classID') || null;\nvar typeID = flow.get('classID') || null;\nvar groupID = flow.get('classID') || null;\nvar ingredientID = flow.get('classID') || null;\n\nif(typeID == \"null\")\n{\n    typeID=null;\n}\nif(groupID = \"null\"){\n    groupID=null;\n}\nif(ingredientID = \"null\"){\n    ingredientID = null;\n}\nvar user = flow.get('user')||0;\nvar restriction = {\n    restrictedName : restrictedName,\n    userID : user.userID,\n    classID : classID,\n    typeID : typeID,\n    groupID : groupID,\n    ingredientID : ingredientID\n}\nmsg.payload = restriction;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4060,
        "y": 20,
        "wires": [
            [
                "7594e0802326e1d0"
            ]
        ]
    },
    {
        "id": "4369a7dcd1d637e7",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ingredientID",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 5580,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ce8a1d268c7382e6",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4120,
        "y": 80,
        "wires": []
    },
    {
        "id": "876a7cfd08410b55",
        "type": "catch",
        "z": "401ccf56f27e8e10",
        "name": "",
        "scope": [
            "2e899487c9eab745"
        ],
        "uncaught": false,
        "x": 3990,
        "y": 560,
        "wires": [
            [
                "305881f112b13106",
                "1f625d8e8bdab851"
            ]
        ]
    },
    {
        "id": "305881f112b13106",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "mypost",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4370,
        "y": 660,
        "wires": []
    },
    {
        "id": "1f625d8e8bdab851",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Not allowed information",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4250,
        "y": 560,
        "wires": [
            [
                "1389189af794b858"
            ]
        ]
    },
    {
        "id": "1389189af794b858",
        "type": "ui_toast",
        "z": "401ccf56f27e8e10",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 4510,
        "y": 560,
        "wires": []
    },
    {
        "id": "7594e0802326e1d0",
        "type": "json-schema-validator",
        "z": "401ccf56f27e8e10",
        "name": "Restriction validator",
        "func": "{\n    \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n        \"title\": \"Restrictions\",\n        \"type\": \"object\",\n        \"properties\": {\n            \"restrictionID\": {\n                \"type\": \"integer\",\n                \"description\": \"Primary key for the restrictions table\"\n            },\n            \"restrictedName\": {\n                \"type\": \"string\",\n                \"maxLength\": 255,\n                \"description\": \"Name of the restriction\"\n            },\n            \"userID\": {\n                \"type\": \"integer\",\n                \"description\": \"Foreign key referencing userData(userID)\"\n            },\n            \"groupID\": {\n                \"type\": [\"integer\", \"null\"],\n                    \"description\": \"Foreign key referencing foodGroup(groupID); can be null\"\n            },\n            \"typeID\": {\n                \"type\": [\"integer\", \"null\"],\n                \"description\": \"Foreign key referencing foodType(typeID); can be null\"\n            },\n            \"classID\": {\n                \"type\": \"integer\",\n                \"description\": \"Foreign key referencing foodClass(classID)\"\n            },\n            \"ingredientID\": {\n                \"type\": [\"integer\", \"null\"],\n                \"description\": \"Foreign key referencing ingredients(ingredientID); can be null\"\n            }\n        },\n    \"required\": [\"restrictedName\", \"userID\", \"classID\"],\n    \"additionalProperties\": false\n}",
        "x": 4260,
        "y": 20,
        "wires": [
            [
                "2ab65664ad61c1a4"
            ]
        ]
    },
    {
        "id": "2ab65664ad61c1a4",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/email",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 4480,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "f8bee33b9bf83d20",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4310,
        "y": 140,
        "wires": []
    },
    {
        "id": "9471978b6158fde5",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "c9d552d2c48880b0",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1430,
        "y": 660,
        "wires": [
            [
                "a527e0cedf60a789"
            ]
        ]
    },
    {
        "id": "a8c5ebeba5245160",
        "type": "ui_dropdown",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c9d552d2c48880b0",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1660,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a527e0cedf60a789",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 55",
        "func": "let sensors = [\"sensor1\", \"sensor2\", \"sensor3\"];\nmsg.options = sensors;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 720,
        "wires": [
            [
                "a8c5ebeba5245160"
            ]
        ]
    },
    {
        "id": "8d3b400a4373a68a",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/restrictions/restrictionsByClass?userID={{userID}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 3010,
        "y": 440,
        "wires": [
            [
                "da01d475ee5f0c2d",
                "f30a8e59a68ac580"
            ]
        ]
    },
    {
        "id": "da01d475ee5f0c2d",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3160,
        "y": 240,
        "wires": []
    },
    {
        "id": "b97364bff063ccc1",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "restrictedName",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Restriction information",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2760,
        "y": 180,
        "wires": [
            [
                "5cde26d84be541cf",
                "6a551235566da079",
                "585b9ecd2af840d7",
                "b1c326d25ba9c37e"
            ]
        ]
    },
    {
        "id": "879a10b9548b5b7b",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1863,
        "y": 2273,
        "wires": []
    },
    {
        "id": "5cde26d84be541cf",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2980,
        "y": 320,
        "wires": []
    },
    {
        "id": "6a551235566da079",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "d": true,
        "name": "function 56",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2830,
        "y": 440,
        "wires": [
            [
                "8d3b400a4373a68a",
                "bc0cd230d3c7fcf8",
                "585b9ecd2af840d7"
            ]
        ]
    },
    {
        "id": "bc0cd230d3c7fcf8",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2986,
        "y": 261,
        "wires": []
    },
    {
        "id": "845dfcb8543c93a3",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2722,
        "y": 350,
        "wires": []
    },
    {
        "id": "46a2a14f1cb069a0",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "d": true,
        "name": "function 57",
        "func": "let sensors = [];\n\nfor (var i = 0; i < msg.payload.length; i++){\n    sensors[i] = msg.payload[i].className;\n}\n\nmsg.options = sensors;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3330,
        "y": 440,
        "wires": [
            [
                "79ed5c7d3142a7da",
                "6147ea5bf49de687"
            ]
        ]
    },
    {
        "id": "f30a8e59a68ac580",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3170,
        "y": 440,
        "wires": [
            [
                "46a2a14f1cb069a0"
            ]
        ]
    },
    {
        "id": "6147ea5bf49de687",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3560,
        "y": 500,
        "wires": []
    },
    {
        "id": "6abbb73543f96541",
        "type": "ui_text_input",
        "z": "401ccf56f27e8e10",
        "name": "",
        "label": "Restricted food name",
        "tooltip": "",
        "group": "c05c0b31021a06c7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 2400,
        "y": 180,
        "wires": [
            [
                "e5cfd44cac900efc"
            ]
        ]
    },
    {
        "id": "cb5266662c9d7191",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/restrictions/restrictionsByClass?userID={{userID}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2510,
        "y": 20,
        "wires": [
            [
                "ba708d5be19d8b04",
                "24e30ebaf5376785"
            ]
        ]
    },
    {
        "id": "b1c326d25ba9c37e",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "userID",
                "pt": "msg",
                "to": "user.userID",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2120,
        "y": 20,
        "wires": [
            [
                "0c604ccabcc40b69",
                "42340a68641d4a52"
            ]
        ]
    },
    {
        "id": "0c604ccabcc40b69",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 58",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2330,
        "y": 20,
        "wires": [
            [
                "cb5266662c9d7191",
                "28eb1479c143fe66"
            ]
        ]
    },
    {
        "id": "0bb3f0d6fd7977b1",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 59",
        "func": "let sensors = [];\nlet classIDs = [];\n\nfor (var i = 0; i < msg.payload.length; i++){\n    sensors[i] = msg.payload[i].className;\n    classIDs[i] = msg.payload[i].classID;\n}\n\nmsg.options = sensors;\nflow.set('classIDs', classIDs);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2830,
        "y": 20,
        "wires": [
            [
                "a79b96a386df03f0"
            ]
        ]
    },
    {
        "id": "ba708d5be19d8b04",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2670,
        "y": 20,
        "wires": [
            [
                "0bb3f0d6fd7977b1"
            ]
        ]
    },
    {
        "id": "28eb1479c143fe66",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2600,
        "y": 80,
        "wires": []
    },
    {
        "id": "42340a68641d4a52",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2310,
        "y": 60,
        "wires": []
    },
    {
        "id": "24e30ebaf5376785",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2780,
        "y": 80,
        "wires": []
    },
    {
        "id": "e5cfd44cac900efc",
        "type": "ui_button",
        "z": "401ccf56f27e8e10",
        "name": "",
        "group": "c05c0b31021a06c7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2590,
        "y": 180,
        "wires": [
            [
                "b97364bff063ccc1"
            ]
        ]
    },
    {
        "id": "94a0ccde775e59da",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Restriction information",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4720,
        "y": 400,
        "wires": [
            [
                "53cb6112f4f692cc"
            ]
        ]
    },
    {
        "id": "58d0b0900ad93173",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/restrictions/restrictionsByType?userID={{userID}}&className={{className}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 4190,
        "y": 400,
        "wires": [
            [
                "e9f086e63d1ff9e5",
                "d959087e4e4c59a9"
            ]
        ]
    },
    {
        "id": "47ea8d902140e37a",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "userID",
                "pt": "msg",
                "to": "user.userID",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "className",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3760,
        "y": 360,
        "wires": [
            [
                "326a07fb765479fc",
                "e3f247ecae58650e"
            ]
        ]
    },
    {
        "id": "326a07fb765479fc",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 60",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\n\n/*let classIDs = [];\nlet classIDList = flow.get('classIDs')||0;\n/*for (var i = 0; i < classIDList.length; i++)\n{\n    classIDs[]\n}*/\n\n//classIDs = classIDList.join(\",\");\n//msg.classIDs = classIDs;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4010,
        "y": 400,
        "wires": [
            [
                "58d0b0900ad93173",
                "3775a829bc388c50"
            ]
        ]
    },
    {
        "id": "79f7a06dde9de9ea",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 61",
        "func": "let sensors = [];\nsensors[0] = \" \";\nlet typeIDs = [];\nfor (var i = 0; i < msg.payload.length; i++){\n    sensors[i+1] = msg.payload[i].typeName;\n    typeIDs[i] = msg.payload[0].typeId;\n}\n//typeIDs[0] = msg.payload[0].typeId;\nmsg.typeIDs = typeIDs;\nmsg.options = sensors;\n\nflow.set('typeIDs', typeIDs);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4510,
        "y": 400,
        "wires": [
            [
                "94a0ccde775e59da",
                "837456afc8eb61c4",
                "daebdd657b7f070e"
            ]
        ]
    },
    {
        "id": "3775a829bc388c50",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4240,
        "y": 460,
        "wires": []
    },
    {
        "id": "e3f247ecae58650e",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3950,
        "y": 440,
        "wires": []
    },
    {
        "id": "e9f086e63d1ff9e5",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4420,
        "y": 460,
        "wires": []
    },
    {
        "id": "d959087e4e4c59a9",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 4350,
        "y": 400,
        "wires": [
            [
                "79f7a06dde9de9ea",
                "e978d83449de01a3"
            ]
        ]
    },
    {
        "id": "53cb6112f4f692cc",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "events": "all",
        "x": 4920,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ee6844688472e66e",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Restriction information",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 5485,
        "y": 298,
        "wires": [
            [
                "60cb9e4c740646f8"
            ]
        ]
    },
    {
        "id": "a4663698dc4060fc",
        "type": "http request",
        "z": "401ccf56f27e8e10",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/restrictions/restrictionsByGroup?userID={{userID}}&typeName={{typeName}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 4955,
        "y": 298,
        "wires": [
            [
                "28f6f3bf71a845cb",
                "c3c9068dcc0c7e96"
            ]
        ]
    },
    {
        "id": "6f69d67015c38d8e",
        "type": "change",
        "z": "401ccf56f27e8e10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "userID",
                "pt": "msg",
                "to": "user.userID",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "typeName",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4585,
        "y": 298,
        "wires": [
            [
                "6190b5792edcc9f5",
                "ccb995507f15b048"
            ]
        ]
    },
    {
        "id": "6190b5792edcc9f5",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 62",
        "func": "msg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nlet token = flow.get('token');\nmsg.headers['Authorization'] = `Bearer ${token}`;\n\n/*let typeIDs = [];\nlet typeIDList = flow.get('typeIDs')||0;\n\ntypeIDs = typeIDList.join(\",\");\nmsg.typesIDs = typeIDs;*/\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4775,
        "y": 298,
        "wires": [
            [
                "a4663698dc4060fc",
                "b9f0fbc3ee6dae47"
            ]
        ]
    },
    {
        "id": "10eaae4840bb03db",
        "type": "function",
        "z": "401ccf56f27e8e10",
        "name": "function 63",
        "func": "let sensors = [];\nsensors[0] = \" \";\nlet groupIDs = [];\nfor (var i = 0; i < msg.payload.length; i++){\n    sensors[i+1] = msg.payload[i].groupName;\n    groupIDs[i] = msg.payload[i].groupID;\n}\nmsg.groupIDs=groupIDs\nmsg.options = sensors;\n\nflow.set('groupIDs', groupIDs);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 5275,
        "y": 298,
        "wires": [
            [
                "ee6844688472e66e",
                "fcd4639ba06696be",
                "68f96ed028c570d0"
            ]
        ]
    },
    {
        "id": "b9f0fbc3ee6dae47",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 5005,
        "y": 358,
        "wires": []
    },
    {
        "id": "ccb995507f15b048",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4715,
        "y": 338,
        "wires": []
    },
    {
        "id": "28f6f3bf71a845cb",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 5185,
        "y": 358,
        "wires": []
    },
    {
        "id": "c3c9068dcc0c7e96",
        "type": "json",
        "z": "401ccf56f27e8e10",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 5115,
        "y": 298,
        "wires": [
            [
                "10eaae4840bb03db",
                "baf98f9ce65d4c0d"
            ]
        ]
    },
    {
        "id": "60cb9e4c740646f8",
        "type": "ui_ui_control",
        "z": "401ccf56f27e8e10",
        "name": "",
        "events": "all",
        "x": 5685,
        "y": 298,
        "wires": [
            []
        ]
    },
    {
        "id": "e978d83449de01a3",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].typeId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4640,
        "y": 440,
        "wires": []
    },
    {
        "id": "daebdd657b7f070e",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4700,
        "y": 480,
        "wires": []
    },
    {
        "id": "baf98f9ce65d4c0d",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 5420,
        "y": 340,
        "wires": []
    },
    {
        "id": "68f96ed028c570d0",
        "type": "debug",
        "z": "401ccf56f27e8e10",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 5480,
        "y": 420,
        "wires": []
    },
    {
        "id": "5b3b2eb67ba2b447",
        "type": "ui_spacer",
        "z": "401ccf56f27e8e10",
        "name": "spacer",
        "group": "c05c0b31021a06c7",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "0bfce03bd040cc09",
        "type": "ui_spacer",
        "z": "401ccf56f27e8e10",
        "name": "spacer",
        "group": "7127bbab4a3a89c1",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "498a88111195d3ab",
        "type": "ui_spacer",
        "z": "401ccf56f27e8e10",
        "name": "spacer",
        "group": "c9d552d2c48880b0",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "ab4e89ea65e8afe2",
        "type": "ui_group",
        "name": "Function",
        "tab": "14ab3ba17e8a6109",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a183720441c2ef16",
        "type": "ui_group",
        "name": "Current users",
        "tab": "29ca7a7793636547",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "da9f3525a03c70c2",
        "type": "ui_group",
        "name": "Modify form",
        "tab": "77e58d25fdd4f36a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12bb5ac8cc2c8086",
        "type": "ui_group",
        "name": "Current users",
        "tab": "bc849eccb934f47a",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6cd645fd4877ad7",
        "type": "ui_group",
        "name": "General data",
        "tab": "ebbb177113d25472",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc23e15f2844e7cf",
        "type": "ui_group",
        "name": "Donut group",
        "tab": "953137ae19ed7cad",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7fd123c365531c69",
        "type": "ui_group",
        "name": "Donut group 2",
        "tab": "953137ae19ed7cad",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbfc23942af32973",
        "type": "ui_group",
        "name": "Water group",
        "tab": "953137ae19ed7cad",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d40f0e8b58a25673",
        "type": "ui_group",
        "name": "Food form",
        "tab": "3ce5fb0fe297c4cf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0efaaecc7e2e0e44",
        "type": "ui_group",
        "name": "login",
        "tab": "7a5a7de9a0f118fa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "151ead99dd648129",
        "type": "ui_group",
        "name": "info",
        "tab": "c8f7c8f4247b12de",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1bf2f5cac901555c",
        "type": "ui_group",
        "name": "graphic",
        "tab": "c8f7c8f4247b12de",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "90723e692323a8c9",
        "type": "ui_group",
        "name": "Image",
        "tab": "5f2b2507734ce481",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "97c37c0a574d34dc",
        "type": "ui_group",
        "name": "verification",
        "tab": "fb6480fccf8df15a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9d552d2c48880b0",
        "type": "ui_group",
        "name": "information",
        "tab": "1c31b141512779d7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7127bbab4a3a89c1",
        "type": "ui_group",
        "name": "restrictions",
        "tab": "8c7af81eb241ba3e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c05c0b31021a06c7",
        "type": "ui_group",
        "name": "Form",
        "tab": "ccf4af1b16ceb57c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "14ab3ba17e8a6109",
        "type": "ui_tab",
        "name": "Create user",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "29ca7a7793636547",
        "type": "ui_tab",
        "name": "Get users and delete user",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "77e58d25fdd4f36a",
        "type": "ui_tab",
        "name": "Modify user",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bc849eccb934f47a",
        "type": "ui_tab",
        "name": "Get users and delete user",
        "icon": "dashboard",
        "order": 14,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ebbb177113d25472",
        "type": "ui_tab",
        "name": "Initialize user",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "953137ae19ed7cad",
        "type": "ui_tab",
        "name": "Main page",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3ce5fb0fe297c4cf",
        "type": "ui_tab",
        "name": "Food tab",
        "icon": "dashboard",
        "order": 13,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7a5a7de9a0f118fa",
        "type": "ui_tab",
        "name": "Login",
        "icon": "dashboard",
        "order": 30,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c8f7c8f4247b12de",
        "type": "ui_tab",
        "name": "info",
        "icon": "dashboard",
        "order": 16,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5f2b2507734ce481",
        "type": "ui_tab",
        "name": "Image upload",
        "icon": "dashboard",
        "order": 14,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fb6480fccf8df15a",
        "type": "ui_tab",
        "name": "Email verification",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1c31b141512779d7",
        "type": "ui_tab",
        "name": "Restriction information",
        "icon": "dashboard",
        "order": 40,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8c7af81eb241ba3e",
        "type": "ui_tab",
        "name": "Restrictions",
        "icon": "dashboard",
        "order": 39,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ccf4af1b16ceb57c",
        "type": "ui_tab",
        "name": "Restriction name",
        "icon": "dashboard",
        "order": 38,
        "disabled": false,
        "hidden": false
    }
]